<div class="cf nr2 nl2">
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="../images/icons/icon-color-light-bg.svg" alt="Icons on the toolbar with a light theme">
      <figcaption>Toolbar icon on light theme.</figcaption>
    </figure>
  </div>
  <div class="fl w-50-ns ph2">
    <p>
      Use color semantically. Adapt it according to your background, keeping the contrast high.
    </p>
    <p>
      Use Grey 90 a80 <code>rgba(12, 12, 13, 0.8)</code> on light backgrounds.
    </p>
  </div>
</div>
<div class="cf nr2 nl2">
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="../images/icons/icon-color-dark-bg.svg" alt="Icons on the toolbar with a dark theme">
      <figcaption>Toolbar icon on dark theme.</figcaption>
    </figure>
  </div>
  <div class="fl w-50-ns ph2">
    <p>
      Use Grey 10 a80 <code>rgba(249, 249, 250, 0.8)</code> on dark backgrounds.
    </p>
  </div>
</div>
<div class="cf nr2 nl2">
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="../images/message-bars/success.svg" alt="success message bar">
      <figcaption>Success message bar.</figcaption>
    </figure>
  </div>
  <div class="fl w-50-ns ph2">
    <p>
      Use Green 90 <code>#003706</code> on a light green background. Green colors are usually associated with success states.
    </p>
  </div>
</div>
<div class="cf nr2 nl2">
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="../images/warnings/error-generic-example_2.png" alt="Example of yellow color applied to a warning icon">
      <figcaption>Warning message before entering about:config.</figcaption>
    </figure>
  </div>
  <div class="fl w-50-ns ph2">
   <p>
      Use Yellow 60 <code>#d7b600</code>. Yellow icons are often used to indicate <a href="../patterns/warnings.html">warnings</a>.
    </p>
  </div>
</div>
<div class="cf nr2 nl2">
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="../images/errors/error-no-bg.svg" alt="Errors message">
      <figcaption>Error message.</figcaption>
    </figure>
  </div>
  <div class="fl w-50-ns ph2">
    <p>
      Use Red 60 <code>#d70022</code> on a trasparent background. Red on icons is often used to indicate <a href="../patterns/errors.html">errors</a>.
    </p>
  </div>
</div>
