<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2">
    <p>
      User input errors occur when Firefox doesn’t understand user inputs.
    </p>
    <p>The most common cases are:</p>
    <ul>
      <li>
        Incomplete form
      </li>
      <li>
        Over/under character or word count
      </li>
      <li>
        Incompatible values
      </li>
    </ul>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <figure>
      <img src="../images/patterns/errors/user-input-error-example-1.svg" alt="User Input Error Example from Firefox Account, invalid email">
      <figcaption>
        Incompatible values error 
      </figcaption>
    </figure>
    <figure>
      <img src="../images/patterns/errors/user-input-error-example-2.svg" alt="User Input Error Example from Firefox Account, invalid email">
      <figcaption>
        Under character error
      </figcaption>
    </figure>
  </div>
</div>