        <div id="components">
          <h2>Components</h2>
          <div id="labels">
            <h3>Labels</h3>
          </div>
          <div id="dialogs">
            <h3>Dialogs</h3>
          </div>
          <div id="buttons">
            <h3>Buttons</h3>
          </div>
          <div id="inputs">
            <h3>Inputs</h3>
          </div>
          <div id="checkboxes">
            <h3>Checkboxes</h3>
          </div>
          <div id="radio-buttons">
            <h3>Radio Buttons</h3>
          </div>
          <div id="progress">
            <h3>Progress</h3>
          </div>
          <div id="shapes">
            <h3>Shapes</h3>
          </div>
        </div>
