          <div id="colours">
            <h3>Colours</h3>
            <div class="btn colour-swatch" style="background-color: #c33c32">#c33c32</div>
            <div class="btn colour-swatch" style="background-color: #f25820">#f25820</div>
            <div class="btn colour-swatch" style="background-color: #ff9216">#ff9216</div>
            <div class="btn colour-swatch" style="background-color: #ffcb00">#ffcb00</div>
            <div class="btn colour-swatch" style="background-color: #57bd35">#57bd35</div>
            <div class="btn colour-swatch" style="background-color: #01bdad">#01bdad</div>
            <div class="btn colour-swatch" style="background-color: #0996f8">#0996f8</div>
            <div class="btn colour-swatch" style="background-color: #02538b">#02538b</div>
            <div class="btn colour-swatch" style="background-color: #1f386e">#1f386e</div>
            <div class="btn colour-swatch" style="background-color: #7a2f7a">#7a2f7a</div>
            <div class="btn colour-swatch" style="background-color: #ea385e">#ea385e</div>
          </div>
