<div class="toc"><h1>Firefox Style Guide</h1><ul class="list-group">
  <a href="#introduction" class="list-group-item introduction list-group-item-info">Introduction</a>
  <a href="design.html" class="list-group-item design">Design</a>
  <div style="display: block;" class="design">
    <a href="#colours" class="list-group-item">Colours</a>
  </div>
  <a href="#components" class="list-group-item components">Components</a>
  <div style="display: block;" class="components">
    <a href="#labels" class="list-group-item">Labels</a>
    <a href="#dialogs" class="list-group-item">Dialogs</a>
    <a href="#buttons" class="list-group-item">Buttons</a>
    <a href="#inputs" class="list-group-item">Inputs</a>
    <a href="#checkboxes" class="list-group-item">Checkboxes</a>
    <a href="#radio-buttons" class="list-group-item">Radio Buttons</a>
    <a href="#progress" class="list-group-item">Progress</a>
    <a href="#shapes" class="list-group-item">Shapes</a>
  </div>
  <a href="#patterns" class="list-group-item patterns">Patterns</a>
  <a href="#resources" class="list-group-item resources">Resources</a>
  </ul>
</div>
