{
  "extends": "stylelint-config-cssrecipes",
  "rules": {
    "comment-empty-line-before": ["always", {
      ignore: ["stylelint-commands"]
    }],
    "indentation": 2,
    "rule-nested-empty-line-before": ["always", {
      except: ["first-nested"],
      ignore: ["after-comment"]
    }],
    rule-no-duplicate-properties: true,
    "rule-properties-order": "alphabetical"
  }
}
