language: node_js
node_js:
- 5.5.0
# safelist
branches:
  only:
  - master
env:
  global:
  - secure: "qIgYx9quVapNxkx/iWcZ2iQ4di/u6+qt/z7o5h5VCOX8+Pmd6FGsjmtomiEzy/7QH6NIfDSxk7Rvd8U2CXbL6n/LI8/7EHWJgII5gWcURIakYMkUTkx9cUW/mikW5eF+GlN5lyecHj/PjcxAht5FMmpF8LzovkAKpDgP7RDcIfc9gnHr+p8fOI1vSvtcFUhnYGk6xEGn4IHJgX/Rfn4GPSzFAb0uaPtZZSIK8G6jP1pMaKzWVN4TzXzlO1uUL3APHpSjOaTZTtog6NHryotXiH2/f8UYuAhvO/fiTirhMfxo6L5vZLmwi3jKZiqe6iw8WEvcmQer5wICYogBN1gOXHjA72yNoBcx4lC3lM6P0+dTgCS5WKARlMexpieFoeZ4Xfx3MCtD95WnbmMWHQ99EDrF8j5CNMkGIvpPwzeY0hhsRhD5WY5OoCUjVjEuw0O1x4//53wWr95iAfplApvcLAFtU4kw45RpEHK6TGPdTdLqwjUcq1Dvg9IzhKcy6YyuT5PJAuMHaxidY/77166MKvEwbnwyCTGEUnkp4og+dLbtZWkaBZaxMA1tRCUv/k/WGZs87jb2ItCWRW0fIJI5eKkukKjGHHYYJ+wAszuVkEc/nTFbPu5YmkdAhUGoRJIx/0sswB6xbVFz48bQCoxBuvXOiqLzPpeoJpg5/RaYbzk="
  - secure: "wrVUyoEe/k+6Y6vZMp5Yf9dScEIDQxP0TeWlt3oLG0+ptTTGu1Tg9FFrE1K9w4YDezUHsEXPdeXf+I2SRcncGplnuKUbAxqsMCvMmeKsYIT1UG9u/3fEbL3WjIdKfLJQ8Dn2Eua5TTN2B7WuULc0y35qv/L0F+AKafYU8Nz3Xs4h3WYPPjUrjQNolkEtrzxCuHJg+ANrZJbZytg7jHdP4K+i5k3njMQIMnPr2b9lEWDZTR7pz7WD4K5rUV+b5ZoXbY5zC8RyUK0+//s/J2om8sfm3H/XKWw4C8oTh2soy6CGTrqpexJbZfTuqWSODmYxVeytujaA7xq+tBS5t254FXki8FOpAwvIfuDtBuSuPHJ83J5eBBuNfJq8PXtPaV3n9eRW5GD71TDNksadhRiSoSRqaXigoIHL51YaoxsVj7uKfR0Favv9bhgxn9hiVWlfLEZ3O6KmU+usbv4F4vyIFv1a/9X0khYg5dvuMHSuSPHlcxWfXyiBC8JV1wuei+U219yJPQ0xDP6Lm16aPjzuUZvL6BFm2qFYwL2Rj+dwIJUdIaPPleeH0fsnysMMdBkI6jv3LNq2K/IatAaNCMdUFj6ojRVDQsMgVYqvl/GD05LFK/0jguY7GujcQ3j7opIUATr+Xi+Uf4ioqH6QBKLV2O8hlEf9wW6uwsHIDaJM0to="
script: bash ./deploy.sh
