html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, ul {
  margin: 0;
}

html, body, #mount {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-weight: normal;
  font-size: 28px;
}

.hbox {
  display: flex;
}

.toolbar {
  background-color: #ff9216;
  padding: 0;
  display: flex;
}

.toolbar > .title {
  flex: 0 0 200px;
  background-color: #c84510;
  color: #ffffff;
  margin: 0;
  padding: 10px;
}

.toolbar > .section {
  flex: 1;
  padding: 20px;
}

.toolbar > .section > input {
  float: right;
  font-size: 16px;
  padding: 6px;
}

.toc {
  flex: 0 0 200px;
  background-color: #ffffff;
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
  font-size: 18px;
}

.toc li {
  /*background: #336699;*/
  padding: 0px 10px;
  margin-top: 15px;
  border-left: 3px solid transparent;
  transition: border-left 150ms ease-in-out
}

.toc li.selected {
  /*background: #336699;*/
  border-left: 3px solid #c84510;
}


.editor {
  flex: 1;
  background-color: #ffad2e;
  padding: 10px;

  white-space: pre;
  font-family: Monaco, Courier New;
}
