/*csslint adjoining-classes:false, box-sizing:false, ids: false, universal-selector:false */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, ul {
  margin: 0;
}

html, body, #mount {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-weight: normal;
  font-size: 28px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #0c0c0c;
}

.toolbar {
  background-color: #ff9216;
  padding: 0;
  flex: 0 0 200px;
  display: flex;
}

.toolbar > .title {
  flex: 0 0 200px;
  background-color: #c84510;
  color: #ffffff;
  margin: 0;
  padding: 10px;
}

.toolbar > .section {
  flex: 1;
  padding: 20px;
}

.toolbar > .section > input {
  float: right;
  font-size: 16px;
  padding: 6px;
}

.toc {
  flex: 0 0 200px;
  background-color: #ffffff;
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
  font-size: 18px;
}

.toc li {
  padding: 0 10px;
  margin-top: 15px;
  border-left: 3px solid transparent;
  transition: border-left 150ms ease-in-out;
  cursor: pointer;
}

.toc .subitem {
  margin-left: 20px;
}

.toc .selected {
  border-left-color: #c84510;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
}


.editor {
  flex: 1;
  color: #ffffff;
  background-color: #ffad2e;
  padding: 10px;

  white-space: pre;
  font-family: Monaco, Courier New;
}

.app .content .editor.subpage {
  color: #0c0c0c;
  background-color: #fcfcfc;
}

/* Colour Schemes. */

.app.visual-design .toolbar > .title {
  background-color: #881606;
}

.app.visual-design .toc .selected {
  border-left-color: #881606;
}

.app.visual-design .toolbar {
  background-color: #d92215;
}

.app.visual-design .editor {
  background-color: #ee4b36;
}


.app.components .toolbar > .title {
  background-color: #2e761a;
}

.app.components .toc .selected {
  border-left-color: #2e761a;
}

.app.components .toolbar {
  background-color: #57bd35;
}

.app.components .editor {
  background-color: #70cf5b;
}


.app.patterns .toolbar > .title {
  background-color: #025295;
}

.app.patterns .toc .selected {
  border-left-color: #025295;
}

.app.patterns .toolbar {
  background-color: #0996f8;
}

.app.patterns .editor {
  background-color: #2ea3ff;
}


.app.resources .toolbar > .title {
  background-color: #911a2e;
}

.app.resources .toc .selected {
  border-left-color: #911a2e;
}

.app.resources .toolbar {
  background-color: #ea385e;
}

.app.resources .editor {
  background-color: #fa526e;
}
