<header>
  <h1>Color</h1>
  <p>
    Firefox colors are bold, vibrant and attractive. They enhance the experience by providing visual clues and by bringing attention to primary actions.
  </p>
</header>

<section>
  <h2>Firefox Colors</h2>
  <% include ../includes/color/color-palette-primary.html %>
  <% include ../includes/color/color-palette-secondary.html %>
</section>

<section>
  <h2>Palettes</h2>
  <p>
    The color palette includes primary and secondary colors that can be used for interfaces and illustrations.
  </p>
  <h3>Color System</h3>
  <% include ../includes/color/color-system.html %>
  <p>
  <h3>Color Contrast Ratio</h3>
  <% include ../includes/color/color-palette.html %>

  <h3>Blue</h3>
  <p>
    Firefox Blue is one of our primary colors. We use blue as accent color for highlighting buttons, links and active states like the current tab in Firefox for desktop.
  </p>
  <% include ../includes/color/color-blue.html %>

  <h3>Teal</h3>
  <p>
    Firefox Teal is one of our primary colors. We use teal as attention color.
  </p>
  <% include ../includes/color/color-teal.html %>

  <h3>Magenta</h3>
  <p>
    Firefox Magenta is one of our primary colors. We currently have no common usage for it.
  </p>
  <% include ../includes/color/color-magenta.html %>

  <h3>Green</h3>
  <p>
    Firefox Green is commonly used to indicate success.
  </p>
  <% include ../includes/color/color-green.html %>

  <h3>Yellow</h3>
  <p>
    Firefox Yellow is commonly used for warnings.
  </p>
  <% include ../includes/color/color-yellow.html %>

  <h3>Red</h3>
  <p>
    Firefox Red is commonly used for errors.
  </p>
  <% include ../includes/color/color-red.html %>

  <h3>Purple</h3>
  <p>
    Firefox Purple is commonly used to indicate privacy.
  </p>
  <% include ../includes/color/color-purple.html %>

  <h3>Orange</h3>
  <p>
    Firefox Orange is only used for branding. Do not use it otherwise.
  </p>
  <details>
    <summary>Are you designing a new Firefox product logo?</summary>
    <% include ../includes/color/color-orange.html %>
  </details>

  <h3>Ink</h3>
  <p>
    Firefox Ink is commonly used for interfaces, e.g. in Firefox for desktops dark theme.
  </p>
  <% include ../includes/color/color-ink.html %>

  <h3>Grey</h3>
  <p>
    Firefox Grey is commonly used for interfaces, e.g. in Firefox for desktops light theme.
  </p>
  <% include ../includes/color/color-grey.html %>

  <h3>White</h3>
  <p>
    We use white for the background of doorhangers or in-content menus.
  </p>
  <% include ../includes/color/color-white.html %>
</section>

<section>
  <h2>Opacity</h2>
  <% include ../includes/color/color-opacity.html %>
</section>

<section>
  <h2>Text and Background Colors</h2>
  <p>
    For more information on typography colors make sure to check <a href="typography.html">Typography</a>.
  </p>
  <h3>Dark Text on Light Background</h3>
  <p>
    On light backgrounds the typography is set in Grey 90 <code>#0c0c0d</code> for primary text and Grey 50 <code>#737373</code> for secondary text.
  </p>
  <h3>Light Text on Dark Background</h3>
  <p>
    On dark backgrounds the typography is set in White <code>#ffffff</code> for primary text and Grey 10 <code>#f9f9fa</code> for secondary text.
  </p>
  <h3>Links</h3>
  <p>
    With the default themes enabled links are set in Blue 50 <code>#0a84ff</code>.
  </p>
</section>

<section>
  <h2>Icons and Other Elements</h2>
  <p>
    Make sure to check <a href="icons.html">Icons</a> in order to understand how to set the alpha channel for primary and secondary icons.
  </p>
  <% include ../includes/icons/icons-icon-color-examples.html %>
</section>

<section>
  <h2>Themes</h2>
  <p>
    Firefox features default themes and supports custom themes. Ensure that changes that affect the interface will continue to support a variety of backgrounds like images and, light or dark colors.
  </p>
  <h3>Light Theme</h3>
  <% include ../includes/color/color-theme-light.html %>
  <h3>Dark Theme</h3>
  <% include ../includes/color/color-theme-dark.html %>
  <blockquote>
    <p>
      <a href="https://addons.mozilla.org/firefox/themes/?sort=popular">Most Popular Firefox Themes</a>
    </p>
    <p>
      <a href="https://docs.microsoft.com/windows/uwp/style/color">Windows 10 Accent Colors</a> (used like themes)
    </p>
  </blockquote>
</section>

<section>
  <h2>Accessibility</h2>

  <h3>Color Contrast</h3>
  <p>
    Follow the <a href="https://www.w3.org/TR/WCAG/#visual-audio-contrast">WCAG 2.0</a> Level AA guidelines to ensure proper color contrast. Bodies of text should have a contrast ratio of at least 4.5:1 and large-scale text should have a contrast ratio of at least 3:1.
  </p>

  <blockquote>
    <p>
      <a href="https://www.paciellogroup.com/resources/contrastanalyser/">Colour Contrast Analyser</a> contrast and color blindness analyzer (Windows and macOS) by The Paciello Group.
    </p>
    <p>
      <a href="http://leaverou.github.io/contrast-ratio/">Contrast Ratio</a> contrast ratio calculator (Web) by Lea Verou.
    </p>
  </blockquote>

  <h3>Color Blind</h3>
  <p>
    There are different types of color blindness. The most common form is reg-green color blindness, followed by blue-yellow color blindness and total color blindness. Red-green color blindness affects up to 8% of males and 0.5% of females. Ensure that adjacent color shades are distinguishable for color blind people. In case of doubts use a color blindness analyzer.
  </p>

  <blockquote>
    <p>
      <a href="https://michelf.ca/projects/sim-daltonism/">Sim Daltonism</a> color blindness simulator (iOS and macOS) by Michel Fortin.
    </p>
  </blockquote>

  <h3>High Contrast on Windows</h3>
  <p>
    Windows currently offers multiple high contrast modes. Ensure that colors are translated properly, following the hierarchy defined for the default theme.
  </p>

  <blockquote>
    <p>
      <a href="https://msdn.microsoft.com/library/windows/desktop/hh404233(v=vs.85).aspx">Supporting High Contrast Themes on Windows</a> guidelines by Windows Dev Center.
    </p>
  </blockquote>
</section>
