<header>
  <h1>Typography</h1>
  <p>
    We believe good typography is invisible. We want for our users to have the most seamless experience while they're using Firefox products.
  </p>
</header>

<section>
  <h2>Typefaces</h2>

  <h3>Cross-Platform Options</h3>
  <p>
    In Firefox we use the standard typeface for each platform.
  </p>
  
  <table>
    <thead>
      <tr>
        <th><p>Platform</p></th>
        <th><p>Typeface</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p>Android</p></td>
        <td><p><a href="https://fonts.google.com/specimen/Roboto">Roboto</a><br><a href="https://fonts.google.com/specimen/Noto+Sans">Noto</a> for all languages not covered by Roboto</p></td>
      </tr>
      <tr>
        <td><p>iOS, macOS</p></td>
        <td><p><a href="https://developer.apple.com/fonts/">San Francisco</a></p></td>
      </tr>
      <tr>
        <td><p>Linux</p></td>
        <td><p><a href="http://font.ubuntu.com/">Ubuntu</a>. Fallback to distribution system font if not avaiable</p></td>
      </tr>
      <tr>
        <td><p>Web</p></td>
        <td><p><a href="https://mozilla.github.io/Fira/">Fira Sans</a></p></td>
      </tr>
      <tr>
        <td><p>Windows</p></td>
        <td><p><a href="https://www.microsoft.com/typography/fonts/family.aspx?FID=331">Segoe UI</a></p></td>
      </tr>
    </tbody>
  </table>

  <h3>Other typefaces</h3>

  <h4>Open Sans</h4>
  <p>
    Despite Open Sans being use on some Mozilla web properties it is currently not recommended to be used in Firefox products.
  </p>
</section>

<section>
  <h2>Styles</h2>
  <p>
    The following styles are for desktop products only.
  </p>
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Size</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Display</td>
        <td>33px</td>
        <td>Light 300</td>
      </tr>
      <tr>
        <td rowspan="3">Title</td>
        <td>22px</td>
        <td>Light 300</td>
      </tr>
      <tr>
        <td>17px</td>
        <td>Medium 500</td>
      </tr>
      <tr>
        <td>13px</td>
        <td>Normal 400, Bold 700</td>
      </tr>
      <tr>
        <td rowspan="2">Body</td>
        <td>15px</td>
        <td>Normal 400, Medium 500</td>
      </tr>
      <tr>
        <td>13px</td>
        <td>Normal 400, Medium 500</td>
      </tr>
      <tr>
        <td rowspan="2">Caption</td>
        <td>13px</td>
        <td>Normal 400</td>
      </tr>
      <tr>
        <td>11px</td>
        <td>Normal 400</td>
      </tr>
      <tr>
        <td rowspan="2">Button</td>
        <td>15px</td>
        <td>Normal 400, Medium 500</td>
      </tr>
      <tr>
        <td>13px</td>
        <td>Normal 400</td>
      </tr>
      <tr>
        <td>Links</td>
        <td>15px</td>
        <td>Medium 500</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Color</h2>
  <p>
    Choose text color based on purpose. Primary for titles, buttons and most important bodies of text. Secondary for accompaingn text that gives further information, details or features to the primary content.
  </p>
  <h3>Dark typography on light background</h3>
  <% include contents/includes/typography/typography-color-text-dark.html %>
  <h3>Light typography on dark background</h3>
  <% include contents/includes/typography/typography-color-text-light.html %>
  <h3>Links</h3>
  <% include contents/includes/typography/typography-color-text-link.html %>
</section>

<!-- <section>
  <h2>Styles</h2>
  <h3>Desktop</h3>
  <p>
    (work in progress)
  </p>
  <h3>Mobile</h3>
  <p>
    (work in progress)
  </p>
  <h3>Firefox web property</h3>
  <p>
    (work in progress)
  </p>
  <h3>Line Height</h3>
  <p>
    (work in progress)
  </p>
</section>
<section>
  <h2>Line Length</h2>
  <p>
    (work in progress)
  </p>
</section>
<section>
  <h2>Accessibility</h2>
  <p>
    (work in progress)
  </p>
</section>
<section>
  <h2>Localization</h2>
  <p>
    (work in progress)
  </p>
</section> -->

  