<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <figure>
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/ensure-content-is-appropriate-do.svg" alt="A positive example for creating a new password. The copy says: Must be at least 8 characters">
      <% include ../global/do.html %>
    </figure>
    <small class="db grey-50 mb3 mb0-ns">Give users simple, straightforward help in completing tasks that have specific nuances or requirements.</small>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <figure>
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/ensure-content-is-appropriate-dont.svg" alt="A negative example for creating a new password. The copy says: Creating a password with at least 8 unforgettable characters">
      <% include ../global/dont.html %>
    </figure>
    <small class="db grey-50">Don’t use humor or rely on personality in places where it isn’t warranted, may be misunderstood, or gets in the way of task completion.</small>
  </div>
</div>