<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <figure>
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/be-human-do.svg" alt="Positive example from Change Master Password in Firefox Sync">
      <% include ../global/do.html %>
      <figcaption>Explain features or options using human language to help users understand benefits and outcomes.</figcaption>
    </figure>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <figure>
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/be-human-dont.svg" alt="Negative example from Change Master Password in Firefox Sync">
      <% include ../global/dont.html %>
      <figcaption>Don’t explain the wrong thing or be overly broad about the consequences of user actions.</figcaption>
    </figure>
  </div>
</div>