<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p class="pa3 outline outline--black-01 outline-offset--1 bg-grey-10 mb0">The success of the internet as a public resource depends upon interoperability, innovation, and decentralized participation worldwide. </p>
    <% include ../global/do.html %>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="pa3 outline outline--black-01 outline-offset--1 bg-grey-10 mb0">The success of the internet as a public resource depends upon interoperability, innovation and decentralized participation worldwide.  </p>
    <% include ../global/dont.html %>
  </div>
</div>