<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/reset-do.jpg" alt="">
      <% include ../global/do.html %>
      <small class="grey-50 db">Alert users if they can’t undo an action. Explain consequences and alternatives. Be brief, but thorough. Answer questions users will most likely have.</small>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/reset-dont.jpg" alt="">
    <% include ../global/dont.html %>
    <small class="grey-50 db">Don’t use confrontational language. Don’t try to scare users into learning more. 
</small>
  </div>
</div>