<div class="cf mb3">
  <figure class="mb4">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/priotitize-user-over-program-do.svg" alt="Positive example from the Default Search Engine section in Preferences">
    <% include ../global/do.html %>
    <figcaption>Explain how to use Firefox features and options.</figcaption>
  </figure>
  <figure>
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/priotitize-user-over-program-dont.svg" alt="Negative example from the Default Search Engine section in Preferences">
    <% include ../global/dont.html %>
    <figcaption>Don’t explain what Firefox is doing.</figcaption>
  </figure>
</div>