<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/search-do.jpg" alt="">
      <% include ../global/do.html %>
      <small class="db grey-50 mb3 mb0-ns">Explain how to use Firefox features and options.</small>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/search-dont.jpg" alt="">
    <% include ../global/dont.html %>
    <small class="db grey-50">Don’t explain what Firefox is doing.</small>
  </div>
</div>