<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/tracking-do.jpg" alt="">
      <% include ../global/do.html %>
      <small class="grey-50 db">Pair Firefox-created terms (e.g., Tracking Protection) with meaningful descriptions.</small>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/tracking-dont.jpg" alt="">
    <% include ../global/dont.html %>
    <small class="grey-50 db">Don’t use Firefox-created terms as a substitute for clearly explaining options.</small>
  </div>
</div>