<header>
  <h1>Firefox Branding</h1>
  <p>
    Small introduction...
  </p>
</header>

<section>
  <h2>Logo</h2>
  <div class="cf nr2 nl2 mb3">
  <div class="fl w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox.jpg" alt="">
  </div>
  <div class="fl w-50-ns ph2">
    <p>Small description...</p>
    <blockquote>
    <div class="flex items-center">
        <img class="mr3 mb3" src="../images/global/download-16.svg" alt="">
        <p>
          <a href="#!">Firefox Logos</a><br>
          <span class="grey-50">2.54 MB (.zip)</span>
        </p>
      </div>
    </blockquote>
  </div>
</section>

<section>
  <h2>Guidelines</h2>
  <p>For all permitted uses of our trademarks, you may not:</p>
  <ul>
    <li>
      alter our logos in any way
      </li>
    <li>
      place a logo in such close proximity to other content that it is indistinguishable
    </li>
    <li>
      make our logo the most distinctive or prominent feature on your website, printed material or other content
    </li>
    <li>
      use our logos in a way that suggests any type of association or partnership with Mozilla or approval, sponsorship or endorsement by Mozilla (unless allowed via a license from us)
    </li>
    <li>
      use our logos in a way that is harmful, deceptive, obscene or otherwise objectionable to the average person
    </li>
    <li>
      use our logos on websites or other places containing content associated with hate speech, pornography, gambling or illegal activities
    </li>
    <li>
      use our logos to, or in connection with, content that disparages us or sullies our reputation
    </li>
  </ul>
  <p>
    The logo files containing our trademarks are available under the following copyright licenses: vector logo files under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY 3.0</a> or later; bitmap logo files under <a href="https://www.mozilla.org/en-US/MPL/2.0/">MPL 2</a>.
  </p>
</section>

<section>
  <h2>Usage</h2>
  <div class="cf nr2 nl2 mb3">
    <div class="fl w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-woodmark-horz.jpg" alt="">
    </div>
    <div class="fl w-50-ns ph2">
      <p>
        Our standard lockup. Outside of a few exceptions, this is the default, go-to, everybody’s- happy version. (In other words, when in doubt, use this.)
      </p>
    </div>
  </div>

  <div class="cf nr2 nl2 mb3">
    <div class="fl w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-woodmark-vert.jpg" alt="">
    </div>
    <div class="fl w-50-ns ph2">
      <p>
        Alternate lockup. Use this on posters, banners or when horizontal space is an issue. Unlike the standard horizontal lockup, do not use this with any of the channel logos or wordmarks.
      </p>
    </div>
  </div>

  <div class="cf nr2 nl2 mb3">
    <div class="fl w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-default.jpg" alt="">
    </div>
    <div class="fl w-50-ns ph2">
      <p>
        The logo alone. Use this only when Mozilla and Firefox are clearly visible or have been well established elsewhere on the page or in the design. (When in doubt, use the other one.)
      </p>
    </div>
  </div>

  <h3>Common Mistakes</h3>
  <p>
    Think of these as the equivalent of wearing your shoes on the wrong feet: they’re still shoes, they’re basically where they’re supposed to be, but it just feels wrong.
  </p>
  <div class="cf nr2 nl2 mb3">
    <div class="fl w-50-ns ph2 mb3">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-do.jpg" alt="">
      <% include ../includes/global/do.html %>
    </div>
    <div class="fl w-50-ns ph2 mb3">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-dont-2.jpg" alt="">
      <% include ../includes/global/dont.html %>
    </div>
    <div class="fl w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-dont-3.jpg" alt="">
      <% include ../includes/global/dont.html %>
    </div>
    <div class="fl w-50-ns ph2 mb3">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-dont-1.jpg" alt="">
      <% include ../includes/global/dont.html %>
    </div>
  </div>
</section>

<section>
  <h2>Variants</h2>
  <p>
    The Firefox Browser goes through several development stages before it’s ready for everyday, mainstream users.
  </p>
  <h3>Firefox</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-variant.jpg" alt="">
    </div>
    <div class="fl w-50-ns ph2">
      <p>
        Small description...
      </p>
    </div>
  </div>

  <h3>Firefox Developer Edition</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="https://www.mozilla.org/media/img/styleguide/identity/firefox/channels-firefox-developer.7a19b1de3bc0.png" alt="">
    </div>
    <div class="fl w-50-ns ph2">
      <p>
        Small description...
      </p>
    </div>
  </div>

  <h3>Firefox Nightly</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-variant-nightly.jpg" alt="">
    </div>
    <div class="fl w-50-ns ph2">
      <p>
        Small description...
      </p>
    </div>
  </div>

  <h3>Firefox Focus</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/branding/firefox-variant-focus.jpg" alt="">
    </div>
    <div class="fl w-50-ns ph2">
      <p>
        Small description...
      </p>
    </div>
  </div>
</section>

