<aside class="sunset-banner"><p>Photon has been retired since our <a title="Firefox June 2021 release notes" href="https://www.mozilla.org/en-US/firefox/89.0/releasenotes/">2021 design refresh release</a>. This site is no longer maintained and will no longer be updated. A new site for the Firefox design system will replace this in the future.</p></aside>
<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
</header>