<header>
  <h1>Buttons</h1>
  <p>Buttons let users understand what action will occur when they click or tap them.</p>
</header>
<section>
  <h2>Types</h2>
  <h3>Default</h3>
  <% include ../includes/buttons/buttons-types-default.html %>
  <h3>Primary</h3>
  <% include ../includes/buttons/buttons-types-primary.html %>
  <h3>Ghost</h3>
  <% include ../includes/buttons/buttons-types-ghost.html %>
</section>
<section>
  <h2>Variations</h2>
  <h3>Label</h3>
  <% include ../includes/buttons/buttons-variations-label.html %>
  <h3>Icon</h3>
  <% include ../includes/buttons/buttons-variations-icon.html %>
  <h3>Label and icon</h3>
  <% include ../includes/buttons/buttons-variations-label-icon.html %>
  <h3>Dropdown</h3>
  <% include ../includes/buttons/buttons-variations-dropdown.html %>
  <h3>Segmented button</h3>
  <% include ../includes/buttons/buttons-variations-segmented.html %>
  <h3>Footer button</h3>
  <% include ../includes/buttons/buttons-variations-footer.html %>
</section>
<section>
  <h2>Styles</h2>
  <h3>Text, Icons and Background Colors</h3>
  <% include ../includes/buttons/buttons-styles-default.html %>
  <% include ../includes/buttons/buttons-styles-primary.html %>
  <h3>Corner Radius</h3>
  <% include ../includes/buttons/buttons-styles-radius.html %>
</section>
<section>
  <h2>Densities</h2>
  <h3>Micro</h3>
  <% include ../includes/buttons/buttons-densities-micro.html %>
  <h3>Default</h3>
  <% include ../includes/buttons/buttons-densities-default.html %>
  <h3>Puffy</h3>
  <% include ../includes/buttons/buttons-densities-puffy.html %>
</section>
<section>
  <h2>Behaviour</h2>
  <% include ../includes/buttons/buttons-behaviour.html %>
</section>