<header>
  <h1>
    Buttons
  </h1>
  <p>
    Buttons execute an action or change the state of an application. Button text helps users understand what action will occur when they click or tap. 
  </p>
</header>
<section>
  <h2>Usage</h2>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-usage.png" alt="Example of a button in an interface">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Buttons make actions visible. They enable users to change or complete a task. For example use a button to let users confirm a change. Use links in favor of buttons for navigation purposes with the exception of the back and forward button.
    </p>
  </div>
</div>
</section>
<section>
  <h2>Types</h2>
  <h3>Primary</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-primary.svg" alt="Example of a primary button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Primary buttons draw attention to a specific action. Try to limit one primary button per view.
    </p>
  </div>
</div>
  <h3>Default</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-default.svg" alt="Example of a default button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Default buttons are used for secondary actions when combined with a primary button or when you need to list multiple actions in one single view like a preference page.
    </p>
  </div>
</div>
  <h3>Ghost</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-ghost.svg" alt="Example of a ghost button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Ghost buttons include an icon with no accompanying text.
    </p>
    <p>
      If there isn't enough cue that the button is actionable add a background like the default button.
    </p>
  </div>
</div>
</section>
<section>
  <h2>Styles</h2>
  <h3>Colors</h3>
  <h4>Primary</h4>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-primary.svg" alt="Style of a primary button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Text: 100% White <code>#ffffff</code></p>
    <p class="mb2">Background: 100% Blue 60 <code>#0060df</code></p>
  </div>
</div>
  <h4>Default</h4>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-label.svg" alt="Style of a default button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Text: 100% Grey 90 <code>#0c0c0d</code></p>
    <p class="mb2">Background: 10% Grey 90 <code>#0c0c0d</code></p>
  </div>
</div>
  <h4>Ghost</h4>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-ghost.svg" alt="Style of a ghost button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Icon: 80% Grey 90 <code>#0c0c0d</code></p>
    <p class="mb2">Background: Transparent</p>
  </div>
</div>
  <h3>Sizes</h3>
  <h4>Micro</h4>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-micro-spec.svg" alt="Redlines and spec of a micro size button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Corner Radius: <code>2px</code></p>
    <p class="mb2">Height: <code>24px</code></p>
    <p class="mb2">Horizontal Padding: <code>8px</code></p>
    <p class="mb2">Text: <code>11px</code>, regular <code>400</code></p>
    <p class="mb2">Width: <code>Auto</code></p>
  </div>
</div>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-micro-example.svg" alt="Example of a micro size button in use">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Use the micro version when you need to display two different primary actions with different levels of importance. Or when you don't have enough real estate. For example in Firefox Accounts “Skip This Step” has a lower importance compared to “Sign in.”
    </p>
  </div>
</div>
  <h4>Default</h4>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-default-spec.svg" alt="Redlines and spec of a default size button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Corner Radius: <code>2px</code></p>
    <p class="mb2">Height: <code>32px</code></p>
    <p class="mb2">Horizontal Padding: <code>8px</code></p>
    <p class="mb2">Text: <code>13px</code>, regular <code>400</code></p>
    <p class="mb2">Minimum Width*: <code>132px</code></p>
    <p class="mb1">Width: <code>Auto</code></p>
    <small class="small grey-50">*not mandatory</small>
  </div>
</div>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-ghost-spec.svg" alt="Redlines and spec of a ghost button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Height: <code>32px</code></p>
    <p class="mb2">Padding: <code>8px</code></p>
    <p class="mb2">Icon Size: <code>16px</code></p>
    <p class="mb1">Width: <code>32px</code></p>
  </div>
</div>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-default-example.svg" alt="Example of a default size button in use">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Pages like Firefox error pages feature the default size button. When you need a call to action give the default size a higher priority. When the real estate is not enough opt for the micro version. When you need a more prominent action opt for the puffy version.
    </p>
  </div>
</div>
  <h4>Puffy</h4>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-puffy-spec.svg" alt="Redlines and spec of a puffy size button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Corner Radius: <code>4px</code></p>
    <p class="mb2">Height: <code>48px</code></p>
    <p class="mb2">Horizontal Padding: <code>16px</code></p>
    <p class="mb2">Text: <code>15px</code>, regular <code>400</code></p>
    <p class="mb2">Width: <code>Auto</code></p>
  </div>
</div>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-puffy-example.svg" alt="Example of a puffy size button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Use the puffy version when you display a call to action in large components or views. Bigger space, bigger targets. For example the modal of Firefox onboarding.
    </p>
  </div>
</div>
</section>
<section>
  <h2>Behaviours</h2>
  <h3>Primary</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <img src="../images/buttons/button-behaviour-primary-light.svg" alt="Behaviour styles such as hover, pressed and focus of a primary button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Default Background: Blue 60 <code>#0060df</code></p>
    <p class="mb2">Hover Background: Blue 70 <code>#003eaa</code></p>
    <p class="mb2">Pressed Background: Blue 80 <code>#002275</code></p>
    <p class="mb2">Focus: 2px Inset Blue 50 <code>#0a84ff</code>, 3px 30% Blue 50 <code>#0a84ff</code></p>
    <p class="mb2">Disabled: 40% Opacity</p>
  </div>
</div>
  <h3>Default</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <img src="../images/buttons/button-behaviour-default-light.svg" alt="Behaviour styles such as hover, pressed and focus of a default button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Default Background: 10% Grey 90 <code>#0c0c0d</code></p>
    <p class="mb2">Hover Background: 20% Grey 90 <code>#0c0c0d</code></p>
    <p class="mb2">Pressed Background: 30% Grey 90 <code>#0c0c0d</code></p>
    <p class="mb2">Focus: 2px Inset Blue 50 <code>#0a84ff</code>, 3px 30% Blue 50 <code>#0a84ff</code></p>
    <p class="mb2">Disabled: 40% Opacity</p>
  </div>
</div>
  <h3>Ghost</h3>
  <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <img src="../images/buttons/button-behaviour-ghost-light.svg" alt="Behaviour styles such as hover, pressed and focus of a ghost button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Default Background: Transparent</p>
    <p class="mb2">Hover Background: 10% Grey 90 <code>#0c0c0d</code></p>
    <p class="mb2">Pressed Background: 20% Grey 90 <code>#0c0c0d</code></p>
    <p class="mb2">Focus: 2px Inset Blue 50 <code>#0a84ff</code>, 3px 30% Blue 50 <code>#0a84ff</code></p>
    <p class="mb2">Disabled: 40% Opacity</p>
  </div>
</div>
</section>
<section>
  <h2>Copy Rules</h2>
  <ul>
    <li>
      <p>
        When possible, use labels that describe the action or result of selecting the button. Use the same terms to describe the action in both the button and any supporting instructional copy.
      </p>
    </li>
    <li>
      <p>
        When using two buttons to present a binary choice, if possible label as "X" and "Don't X". This will also help with localization. 
      </p>
    </li>
    <li>
      <p>
        Use <strong>ellipses</strong> in buttons when the action requires additional user input, usually via a dialog, an alert or moving the operation to another window or part of the UI.
      </p>
    </li>
  </ul>
</section>
