<header>
  <%- include('../includes/global/message-bar.html', {type: 'Warning', text: 'This is a working draft', button: 'Report Issue'}); %>
  <h1>
    Buttons
  </h1>
  <p>
    Buttons execute an action or change the state of an application. Button text helps users understand what action will occur when they click or tap. 
  </p>
</header>
<section>
  <h2>Usage</h2>
  <% include ../includes/components/buttons/buttons-usage.html %>
</section>
<section>
  <h2>Types</h2>
  <h3>Primary</h3>
  <% include ../includes/components/buttons/buttons-types-primary.html %>
  <h3>Default</h3>
  <% include ../includes/components/buttons/buttons-types-default.html %>
  <h3>Ghost</h3>
  <% include ../includes/components/buttons/buttons-types-ghost.html %>
</section>
<section>
  <h2>Styles</h2>
  <h3>Text and Background Colors</h3>
  <h4>Primary</h4>
  <% include ../includes/components/buttons/buttons-styles-primary.html %>
  <h4>Default</h4>
  <% include ../includes/components/buttons/buttons-styles-default.html %>
  <h4>Ghost</h4>
  <% include ../includes/components/buttons/buttons-styles-ghost.html %>
  <h3>Sizes</h3>
  <h4>Micro</h4>
  <% include ../includes/components/buttons/buttons-densities-micro.html %>
  <h4>Default</h4>
  <% include ../includes/components/buttons/buttons-densities-default.html %>
  <h4>Puffy</h4>
  <% include ../includes/components/buttons/buttons-densities-puffy.html %>
</section>
<section>
  <h2>Behaviours</h2>
  <h3>Primary</h3>
  <% include ../includes/components/buttons/buttons-behaviors-primary.html %>
  <h3>Default</h3>
  <% include ../includes/components/buttons/buttons-behaviors-default.html %>
  <h3>Ghost</h3>
  <% include ../includes/components/buttons/buttons-behaviors-ghost.html %>
</section>
<section>
  <h2>Copy Rules</h2>
  <ul>
    <li>Use <strong>ellipses</strong> in Button when the action requires additional user input, usually via a Dialog, an Alert or moving the operation to another window or part of the UI. </li>
  </ul>
</section>
