<h3>Button</h3>
<table>
  <thead>
    <tr>
      <th>Button Type</th>
      <th>Font Weight</th>
      <th>Font Color</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Light background</td>
      <td>Normal</td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-90"></div>
        <p class="dib v-mid">Grey 90</p>
      </td>
      <td><code>#0c0c0d</code></td>
    </tr>
    <tr>
      <td>Colored background</td>
      <td>SemiBold</td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-white ba b--black-10"></div>
        <p class="dib v-mid">White</p>
      </td>
      <td><code>#ffffff</code></td>
    </tr>
  </tbody>
</table>