<header>
  <div class="dib">
  
  <div class="flex items-center bg-yellow-50 yellow-90 br2 pa1 mb3">
    <img class="pv1 ph2" src="../images/global/warning-16.svg" alt="Excamation Mark in a Triangle.">
    <p class="pt1 mv0 mr3 lh-solid">
      This is a working draft
    </p>
    <a class="bg-yellow-60 br1 yellow-90 pv1 ph2 fw5 hover-bg-yellow-70 hover-white font-smoothing ttu f4" href="https://github.com/FirefoxUX/photon/issues" alt="Submit feedback about type scale">Report Issue</a>
  </div>
  

  

  
</div>

  <h1>Card</h1>
  <p>
    Card is a component to visually group related information and controls.
  </p>
</header>

<section>
  <h2>Usage</h2>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/card/card-usage.svg" alt="TestPilot website uses the card component">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        When there are collections of images and components that need to be presented on the same page, use cards to help users quickly scan the information from collections to collections.
      </p>
    </div>
  </div>
</section>
 
<section> 
  <h2>Styles</h2>
  <h3>Borders</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/card/borders.png" alt="visual examples of border radius and highlight">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Border radius: <code>4px</code></p>
      <p class="mb2">Highlight border: Grey 30 <code>#D7D7DB</code>, <code>5px</code> (outside)</p>
    </div>
  </div>

  <h3>Shadow</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/card/shadow.svg" alt="a visual example of shadow 10">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Shadow is optional for cards.</p>
      <p>If there’s a need of adding a shadow, use <a href="../patterns/shadows.html">shadow 10</a> to highlight elevation.</p>
    </div>
  </div>

  <h3>Padding</h3>
  <p>Use the same padding on the left & right to keep the visual balance.</p>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/card/padding.svg" alt="The activity stream example of left right padding">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Default padding: <code>16px</code></p>      
      <p class="mb2">Large padding: <code>20px</code></p>
    </div>
  </div>
</section>