<header>
  <h1>Checkboxes</h1>
  <p>
    A checkbox is used to choose between two opposite states, often to select/deselect items or enable/disable actions.
  </p>
  <p>
    Toggles provide an alternative UI for the same use cases and are often used on mobile.
  </p>
</header>

<section>
  <h2>Usage</h2>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-usage.png" alt="Usage Example of a Checkbox as used in Firefox Options">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Use checkboxes to provide a binary choice. For example to offer a choice about performing an action or not. It is considered “on” when it is checked, and “off” when it’s not.
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Combination</h2>
  <p>
    A checkbox can be used as a single element, or it can be combined into a list, or nested list of elements to pick multiple from.
  </p>
  <h3>Single</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-combination-single.svg" alt="Example of a Single Checkbox">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Use one checkbox to offer one binary choice.</p>
    </div>
  </div>

  <h3>Group</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-combination-group.svg" alt="Example of a Group of 3 Checkboxes">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Group checkboxes to convey a set of choices are related.</p>
    </div>
  </div>

  <h3>Nested Group</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-combination-nested.svg" alt="Example of 2 Checkboxes Nested Under Another Checkbox">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Nest checkboxes to convey that some options are only available if the parent option is selected.</p>
    </div>
  </div>
</section>

<section>
  <h2>Style</h2>
  <p>A checkbox consists of a part to indicate its state and a label to describe the binary choice it represents.</p>

  <h3>Indicator & Label</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-states.svg" alt="Example of a checked and an unchecked Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Use the Indicator to show whether the checkbox is checked (“on”) or not (“off”).</p>
      <p>Use the label to make the action clear and convey that it is a binary choice.</p>
    </div>
  </div>

  <h3>Dimensions</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-size.svg" alt="Illustration of the Size of a Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Corner Radius: <code>2px</code></p>
      <p class="mb2">Height: <code>16px</code></p>
      <p class="mb1">Width: <code>16px</code></p>
      <p class="mb2">Horizontal Padding: <code>4px</code></p>
    </div>
  </div>

  <h3>Text and Color</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-checked.svg" alt="Illustration of a checked Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Text: <a href="./../visuals/typography.html#scale">Body 10</a></p>
      <p class="mb2">Text Color: Grey 90 <code>#0c0c0d</code></p>
    </div>
  </div>
</section>

<section>
  <h2>Behaviors</h2>
  <h3>On / Off</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-states.svg" alt="Example of a checked and an unchecked Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <h4 class="mb2">Checked (On):</h4>
      <p class="mb2">Icon: <a href="../images/components/checkboxes/checkbox-check-16.svg" download="">Checkbox-Check</a></p>
      <p class="mb2">Background Color: Blue 60 <code>#0060df</code></p>
      <h4 class="mb2">Unchecked (Off):</h4>
      <p class="mb2">Background Color: 10% Grey 90 <code>#0c0c0d</code></p>
      <p class="mb2">Border: 1px 30% Grey 90 <code>#0c0c0d</code></p>

    </div>
  </div>

  <h3>Clicktarget</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-clicktarget.svg" alt="Illustration of the extent of the clicktarget of a Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>A checkbox can be toggled by clicking on the area of its checkbox as well as its label. Usually the clicktarget extends to the same width for each element in a collection of checkboxes. This results in a click target that extends beyond the label, for all elements shorter than the longest.</p>
      <p>Clicking a checkbox triggers the action on release of the click. If, during the click, the mouse is moved off of the checkbox, no action is triggered.</p>
    </div>
  </div>

  <h3>Disabled</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-disabled.svg" alt="Illustration of a checked and an unchecked disabled Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">40% Opacity</p>
      <p class="mb2">Can not be interacted with nor focused.</p>
    </div>
  </div>

  <h3>Interaction</h3>
  <h4>Checked</h4>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-interaction-checked.png" alt="Illustration of all apperances a checked Checkbox can show when interacted with.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Background Color:</p>
      <p class="mb2">Default: Blue 60 <code>#0060df</code></p>
      <p class="mb2">Hover: Blue 70 <code>#003eaa</code></p>
      <p class="mb2">Pressed: Blue 80 <code>#002275</code></p>
      <h5 class="mb2">Focused:</h5>
      <p class="mb2">Border: none</p>
      <p class="mb2">Box Shadow: 1px inset Blue 50, 1px Blue 50, 4px 30% Blue 50</p>
    </div>
  </div>
  <h4>Unchecked</h4>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-interaction-unchecked.png" alt="Illustration of all apperances an unchecked Checkbox can show when interacted with.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Background Color:</p>
      <p class="mb2">Default: 10% Grey 90 <code>#0c0c0d</code></p>
      <p class="mb2">Hover: 20% Grey 90 <code>#0c0c0d</code></p>
      <p class="mb2">Pressed: 30% Grey 90 <code>#0c0c0d</code></p>
      <h5 class="mb2">Focused:</h5>
      <p class="mb2">Border: none</p>
      <p class="mb2">Box Shadow: 1px inset Blue 50, 1px Blue 50, 4px 30% Blue 50</p>
    </div>
  </div>
</section>

<section>
  <h2>Copy Rules</h2>
  <ul>
    <li>
      <p>
        Use the imperative voice for checkbox labels.
      </p>
    </li>
    <li>
      <p>
        Do not use terminal punctuation for checkbox labels.
      </p>
    </li>
    <li>
      <p>
        Maintain parallel construction for lists of related checkbox labels.
      </p>
    </li>
  </ul>
</section>
