<header>
  <%- include('../includes/global/message-bar.html', {type: 'Warning', text: 'This is a working draft', button: 'Report issue'}); %>
  <h1>Checkboxes</h1>
  <p>
    A checkbox is used to choose between two opposite states, often to select/deselect items or enable/disable actions.
  </p>
  <p>
    Toggles provide an alternative UI for the same use cases and are often used on mobile.
  </p>
</header>

<section>
  <h2>Usage</h2>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-usage.png" alt="Usage Example of a Checkbox as used in Firefox Options">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Use checkboxes to provide a binary choice. For example to offer a choice about performing an action or not. It is considered “on” when it is checked, and “off” when it’s not.
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Combination</h2>
  <p>
    A checkbox can be used as a single element, or it can be combined into a list, or nested list of elements to pick multiple from.
  </p>
  <h3>Single</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-combination-single.png" alt="Example of a Single Checkbox">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Use one checkbox to offer one binary choice.</p>
    </div>
  </div>

  <h3>Group</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-combination-group.png" alt="Example of a Group of 3 Checkboxes">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Group checkboxes to convey a set of choices are related.</p>
    </div>
  </div>

  <h3>Nested Group</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-combination-nested.png" alt="Example of 2 Checkboxes Nested Under Another Checkbox">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Nest checkboxes to convey that some options are only available if the parent option is selected.</p>
    </div>
  </div>
</section>

<section>
  <h2>Elements</h2>
  <p>
    A checkbox can be used as a single element, or it can be combined into a list, or nested list of elements to pick multiple from.
  </p>
  <h3>Indicator & Label</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-states.png" alt="Example of a checked and an unchecked Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Use the Indicator to show whether the checkbox is checked (“on”) or not (“off”).</p>
    </div>
  </div>

  <h3>Clicktarget</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-clicktarget.png" alt="Illustration of the extend of the clicktarget of a Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>A checkbox can be toggled by clicking on the area of its checkbox as well as its label. Usually the clicktarget extends to the same width for each element in a collection of checkboxes. This results in a click target that extends beyond the label, for all elements shorter than the longest.</p>
      <p>Clicking a checkbox triggers the action on release of the click. If, during the click, the mouse is moved off of the checkbox, no action is triggered.</p>
    </div>
  </div>
</section>

<section>
  <h2>Style</h2>
  <h3>Dimensions</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-size.png" alt="Illustration of the Size of a Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Corner Radius: <code>2px</code></p>
      <p class="mb2">Height: <code>16px</code></p>
      <p class="mb1">Width: <code>16px</code></p>
      <p class="mb2">Horizontal Padding: <code>4px</code></p>
    </div>
  </div>

  <h3>Text and Color</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-checked.png" alt="Illustration a Checked Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Check Background Color: <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-blue-60"></span> Blue 60 <code>#0060df</code></p>
      <p class="mb2">Font: <a href="./../visuals/typography.html#scale">Body 10</a></p>
      <p class="mb2">Text Color: <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-grey-90"></span> Grey 90 <code>#0c0c0d</code></p>
    </div>
  </div>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-unchecked.png" alt="Illustration an Unchecked Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Uncheck Background Color: <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-grey-90-10"></span> Grey 90 10% <code>rgba(12, 12, 13, .1)</code></p>
      <p class="mb2">Uncheck Border Color: <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-grey-90-30"></span> Grey 90 30% <code>rgba(12, 12, 13, .3)</code></p>
    </div>
  </div>

  <h3>Behaviors</h3>
  <h4>Checked</h4>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-behaviour-checked.png" alt="Illustration of all apperances a Checkbox can show when interacted with.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Background Color:</p>
      <p class="mb2">Default: <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-blue-60"></span> Blue 60 <code>#0060df</code></p>
      <p class="mb2">Hover:  <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-blue-70"></span> Blue 70 <code>#003eaa</code></p>
      <p class="mb2">Pressed:  <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-blue-80"></span> Blue 80 <code>#002275</code></p>
    </div>
  </div>
  <h4>Unchecked</h4>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/checkboxes/checkbox-behaviour-unchecked.png" alt="Illustration of all apperances a Checkbox can show when interacted with.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Background Color:</p>
      <p class="mb2">Default: <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-grey-90-10"></span> Grey 90 10% <code>rgba(12, 12, 13, .1)</code></p>
      <p class="mb2">Hover:  <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-grey-90-20"></span> Grey 90 20% <code>rgba(12, 12, 13, .2)</code></p>
      <p class="mb2">Pressed:  <span class="dib w1 h1 v-mid mr2 mb2 br2 bg-grey-90-30"></span> Grey 90 30% <code>rgba(12, 12, 13, .3)</code></p>
    </div>
  </div>
</section>


<section>
  <h2>Copy Rules</h2>
  <h3>Label</h3>
  <p>
    <ul>
      <li>Use the label to make the action clear and convey that it is a binary choice.</li>
    </ul>
  </p>
</section>
