<table>
  <tbody>
    <tr>
      <td>
        <p>Primary</p>
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-90"></div>
        <p class="dib v-mid">Grey 90</p>
      </td>
      <td>
        <code>#0c0c0d</code>
      </td>
    </tr>
    <tr>
      <td>
        <p>Secondary</p>
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-50"></div>
        <p class="dib v-mid">Grey 50</p>
      </td>
      <td>
        <code>#737373</code>
      </td>
    </tr>
    <tr>
      <td>
        <p>Inactive</p>
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-30"></div>
        <p class="dib v-mid">Grey 30</p>
      </td>
      <td>
        <code>#d7d7db</code>
      </td>
    </tr>
  </tbody>
</table>