<div class="cf nr2 nl2">
  <div class="fl-ns w-50-m w-25-l ph2 mb3">
    <p class="pa3 pt5-ns ba br2 b--black-10 bg-green-50 ma0 green-90">Green</p>
  </div>
  <div class="fl-ns w-50-m w-25-l ph2 mb3">
    <p class="pa3 pt5-ns ba br2 b--black-10 bg-yellow-50 ma0 yellow-90">Yellow</p>
  </div>
  <div class="fl-ns w-50-m w-25-l ph2 mb3">
    <p class="pa3 pt5-ns ba br2 b--black-10 bg-red-50 ma0 white font-smoothing">Red</p>
  </div>
  <div class="fl-ns w-50-m w-25-l ph2 mb3">
    <p class="pa3 pt5-ns ba br2 b--black-10 bg-purple-50 ma0 white font-smoothing">Purple</p>
  </div>
</div>