<div class="cf nl2 nr2">
  <!-- blue -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--blue-5)">
      <p class="ma0 pa3 white font-smoothing">Blue</p>
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">3.6</div>
        <div class="fl w-50 white font-smoothing tr code">#0087ff</div>
      </div>
    </div>
    <div style="background-color: var(--blue-6)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">6.8</div>
        <div class="fl w-50 white font-smoothing tr code">#0052cc</div>
      </div>
    </div>
    <div style="background-color: var(--blue-7)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">10.9</div>
        <div class="fl w-50 white font-smoothing tr code">#003399</div>
      </div>
    </div>
    <div style="background-color: var(--blue-8)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">14.8</div>
        <div class="fl w-50 white font-smoothing tr code">#002266</div>
      </div>
    </div>
    <div style="background-color: var(--blue-9)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">19</div>
        <div class="fl w-50 white font-smoothing tr code">#000f2b</div>
      </div>
    </div>
  </div>

  <!-- aqua -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--aqua-5)">
      <p class="ma0 pa3">Aqua</p>
      <div class="cf pa3">
        <div class="fl w-50">13.8</div>
        <div class="fl w-50 tr code">#0cffff</div>
      </div>
    </div>
    <div style="background-color: var(--aqua-6)">
      <div class="cf pa3">
        <div class="fl w-50">9.7</div>
        <div class="fl w-50 tr code">#06d1e6</div>
      </div>
    </div>
    <div style="background-color: var(--aqua-7)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">3.2</div>
        <div class="fl w-50 white font-smoothing tr code">#039ec0</div>
      </div>
    </div>
    <div style="background-color: var(--aqua-8)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">9.4</div>
        <div class="fl w-50 white font-smoothing tr code">#004c66</div>
      </div>
    </div>
    <div style="background-color: var(--aqua-9)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">17.8</div>
        <div class="fl w-50 white font-smoothing tr code">#001a27</div>
      </div>
    </div>
  </div>
</div>