<div class="cf nl2 nr2">
  <!-- green -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--green-50)">
      <p class="ma0 pa3" style="color: var(--green-90)">Green</p>
      <div class="cf pa3">
        <div class="fl w-50" style="color: var(--green-90)">8.4</div>
        <div class="fl w-50 tr code" style="color: var(--green-90)">#33f70c</div>
      </div>
    </div>
    <div style="background-color: var(--green-60)">
      <div class="cf pa3">
        <div class="fl w-50" style="color: var(--green-90)">6.5</div>
        <div class="fl w-50 tr code" style="color: var(--green-90)">#16da00</div>
      </div>
    </div>
    <div style="background-color: var(--green-70)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">3.2</div>
        <div class="fl w-50 white font-smoothing tr code">#05a700</div>
      </div>
    </div>
    <div style="background-color: var(--green-80)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">6.2</div>
        <div class="fl w-50 white font-smoothing tr code">#007203</div>
      </div>
    </div>
    <div style="background-color: var(--green-90)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">12.3</div>
        <div class="fl w-50 white font-smoothing tr code">#003f07</div>
      </div>
    </div>
  </div>

  <!-- yellow -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--yellow-50)">
      <p class="ma0 pa3" style="color: var(--yellow-90)">Yellow</p>
      <div class="cf pa3">
        <div class="fl w-50" style="color: var(--yellow-90)">11.2</div>
        <div class="fl w-50 tr code" style="color: var(--yellow-90)">#ffe900</div>
      </div>
    </div>
    <div style="background-color: var(--yellow-60)">
      <div class="cf pa3">
        <div class="fl w-50" style="color: var(--yellow-90)">7</div>
        <div class="fl w-50 tr code" style="color: var(--yellow-90)">#d7b600</div>
      </div>
    </div>
    <div style="background-color: var(--yellow-70)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">3.7</div>
        <div class="fl w-50 white font-smoothing tr code">#a47f00</div>
      </div>
    </div>
    <div style="background-color: var(--yellow-80)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">7.3</div>
        <div class="fl w-50 white font-smoothing tr code">#715100</div>
      </div>
    </div>
    <div style="background-color: var(--yellow-90)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">13.9</div>
        <div class="fl w-50 white font-smoothing tr code">#3e2800</div>
      </div>
    </div>
  </div>

  <!-- red -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--red-50)">
      <p class="ma0 pa3 white font-smoothing">Red</p>
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">4</div>
        <div class="fl w-50 white font-smoothing tr code">#ff0039</div>
      </div>
    </div>
    <div style="background-color: var(--red-60)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">5.4</div>
        <div class="fl w-50 white font-smoothing tr code">#d70022</div>
      </div>
    </div>
    <div style="background-color: var(--red-70)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">8.1</div>
        <div class="fl w-50 white font-smoothing tr code">#a4000f</div>
      </div>
    </div>
    <div style="background-color: var(--red-80)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">14.6</div>
        <div class="fl w-50 white font-smoothing tr code">#5a0002</div>
      </div>
    </div>
    <div style="background-color: var(--red-90)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">17.3</div>
        <div class="fl w-50 white font-smoothing tr code">#3e0200</div>
      </div>
    </div>
  </div>
</div>

<div class="cf nl2 nr2">
  <!-- purple -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--purple-50)">
      <p class="ma0 pa3 white font-smoothing">Purple</p>
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">5.7</div>
        <div class="fl w-50 white font-smoothing tr code">#9400ff</div>
      </div>
    </div>
    <div style="background-color: var(--purple-60)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">7.2</div>
        <div class="fl w-50 white font-smoothing tr code">#8000d7</div>
      </div>
    </div>
    <div style="background-color: var(--purple-70)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">10.2</div>
        <div class="fl w-50 white font-smoothing tr code">#6200a4</div>
      </div>
    </div>
    <div style="background-color: var(--purple-80)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">14.1</div>
        <div class="fl w-50 white font-smoothing tr code">#440071</div>
      </div>
    </div>
    <div style="background-color: var(--purple-90)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">18.3</div>
        <div class="fl w-50 white font-smoothing tr code">#25003e</div>
      </div>
    </div>
  </div>

  <!-- grey -->
<!--   <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--grey-5)">
      <p class="ma0 pa3">Grey</p>
      <div class="cf pa3">
        <div class="fl w-50">14.6</div>
        <div class="fl w-50 tr code">#f0f0f0</div>
      </div>
    </div>
    <div style="background-color: var(--grey-6)">
      <div class="cf pa3">
        <div class="fl w-50">12.3</div>
        <div class="fl w-50 tr code">#d4d4d4</div>
      </div>
    </div>
    <div style="background-color: var(--grey-7)">
      <div class="cf pa3">
        <div class="fl w-50">6.7</div>
        <div class="fl w-50 tr code">#999999</div>
      </div>
    </div>
    <div style="background-color: var(--grey-8)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">5.1</div>
        <div class="fl w-50 white font-smoothing tr code">#6e6e6e</div>
      </div>
    </div>
    <div style="background-color: var(--grey-9)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">10.4</div>
        <div class="fl w-50 white font-smoothing tr code">#404040</div>
      </div>
    </div>
  </div> -->
</div>