<table>
  <tbody>
    <tr>
      <td>
        <p class="dib white font-smoothing br2 bg-grey-90 pa1">Primary</p>
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-white ba b--black-10"></div>
        <p class="dib v-mid">White</p>
      </td>
      <td>
        <code>#ffffff</code>
      </td>
    </tr>
    <tr>
      <td>
        <p class="dib grey-10 font-smoothing br2 bg-grey-90 pa1">Secondary</p>
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-10"></div>
        <p class="dib v-mid">Grey 10</p>
      </td>
      <td>
        <code>#f9f9fa</code>
      </td>
    </tr>
  </tbody>
</table>