<div class="cf nl2 nr2">
  <!-- blue -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--blue-50)">
      <p class="ma0 pa3 white font-smoothing">Blue</p>
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">3.6</div>
        <div class="fl w-50 white font-smoothing tr code">#0a84ff</div>
      </div>
    </div>
    <div style="background-color: var(--blue-60)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">6.8</div>
        <div class="fl w-50 white font-smoothing tr code">#0060df</div>
      </div>
    </div>
    <div style="background-color: var(--blue-70)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">10.9</div>
        <div class="fl w-50 white font-smoothing tr code">#003eaa</div>
      </div>
    </div>
    <div style="background-color: var(--blue-80)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">14.8</div>
        <div class="fl w-50 white font-smoothing tr code">#002275</div>
      </div>
    </div>
    <div style="background-color: var(--blue-90)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">19</div>
        <div class="fl w-50 white font-smoothing tr code">#000f40</div>
      </div>
    </div>
  </div>

  <!-- aqua -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--teal-50)">
      <p class="ma0 pa3" style="color: var(--teal-90)">Teal</p>
      <div class="cf pa3">
        <div class="fl w-50" style="color: var(--teal-90)">13.8</div>
        <div class="fl w-50 tr code" style="color: var(--teal-90)">#00feff</div>
      </div>
    </div>
    <div style="background-color: var(--teal-60)">
      <div class="cf pa3">
        <div class="fl w-50" style="color: var(--teal-90)">9.7</div>
        <div class="fl w-50 tr code" style="color: var(--teal-90)">#00c8d7</div>
      </div>
    </div>
    <div style="background-color: var(--teal-70)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">3.2</div>
        <div class="fl w-50 white font-smoothing tr code">#008ea4</div>
      </div>
    </div>
    <div style="background-color: var(--teal-80)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">9.4</div>
        <div class="fl w-50 white font-smoothing tr code">#005a71</div>
      </div>
    </div>
    <div style="background-color: var(--teal-90)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">17.8</div>
        <div class="fl w-50 white font-smoothing tr code">#002d3e</div>
      </div>
    </div>
  </div>

  <!-- magenta -->
  <div class="fl w-100 w-third-ns ph2 mb3">
    <div style="background-color: var(--magenta-50)">
      <p class="ma0 pa3 white font-smoothing">Magenta</p>
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">3.3</div>
        <div class="fl w-50 white font-smoothing tr code">#ff1ad9</div>
      </div>
    </div>
    <div style="background-color: var(--magenta-60)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">4.3</div>
        <div class="fl w-50 white font-smoothing tr code">#ed00b5</div>
      </div>
    </div>
    <div style="background-color: var(--magenta-70)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">6.9</div>
        <div class="fl w-50 white font-smoothing tr code">#b5007f</div>
      </div>
    </div>
    <div style="background-color: var(--magenta-80)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">11.4</div>
        <div class="fl w-50 white font-smoothing tr code">#7d004f</div>
      </div>
    </div>
    <div style="background-color: var(--magenta-90)">
      <div class="cf pa3">
        <div class="fl w-50 white font-smoothing">18.6</div>
        <div class="fl w-50 white font-smoothing tr code">#440027</div>
      </div>
    </div>
  </div>
</div>