<div class="cf ba br2 b--black-10 overflow-hidden">
  <div class="fl w-third bg-white">
    <div class="cf pt6 ph3 pb3">
      <p class="fl ma0 w-50">White</p>
      <p class="fl ma0 w-50 tr"><code>#ffffff</code></p>
    </div>
  </div>
  <div class="fl w-third bg-grey-10">
    <div class="cf pt6 ph3 pb3">
      <p class="fl ma0 w-50">Grey 10</p>
      <p class="fl ma0 w-50 tr"><code>#f9f9fa</code></p>
    </div>
  </div>
  <div class="fl w-third bg-grey-30">
    <div class="cf pt6 ph3 pb3">
      <p class="fl ma0 w-50">Grey 30</p>
      <p class="fl ma0 w-50 tr"><code>#d7d7db</code></p>
    </div>
  </div>
</div>