<table>
  <tbody>
    <tr>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-green-50"></div>
        <p class="dib v-mid">Green 50</p>
      </td>
      <td>
        <code>#33f70c</code>
      </td>
      <td>
        <p>
          <span class="pa1 br1 bg-green-50 green-90 font-smoothing">AAA</span>
        </p>
      </td>
      <td>
        <p class="green-50">Fails</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-green-60"></div>
        <p class="dib v-mid">Green 60</p>
      </td>
      <td>
        <code>#16da00</code>
      </td>
      <td>
        <p>
          <span class="pa1 br1 bg-green-60 green-90 font-smoothing">AA</span>
        </p>
      </td>
      <td>
        <p class="green-60">Fails</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-green-70"></div>
        <p class="dib v-mid">Green 70</p>
      </td>
      <td>
        <code>#05a700</code>
      </td>
      <td>
        <p>
          <span class="pa1 br1 bg-green-70 white font-smoothing">AA</span>
        </p>
      </td>
      <td>
        <p class="green-70">AA</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-green-80"></div>
        <p class="dib v-mid">Green 80</p>
      </td>
      <td>
        <code>#007203</code>
      </td>
      <td>
        <p>
          <span class="pa1 br1 bg-green-80 white font-smoothing">AA</span>
        </p>
      </td>
      <td>
        <p class="green-80">AA</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-green-90"></div>
        <p class="dib v-mid">Green 90</p>
      </td>
      <td>
        <code>#003f07</code>
      </td>
      <td>
        <p>
          <span class="pa1 br1 bg-green-90 white font-smoothing">AAA</span>
        </p>
      </td>
      <td>
        <p class="green-90">AAA</p>
      </td>
    </tr>
  </tbody>
</table>