<div class="cf ba br2 b--black-10 overflow-hidden">
  <div class="fl-ns w-third-ns bg-grey-50">
    <div class="cf pt5 pt6-ns ph3 pb3">
      <p class="fl ma0 w-50 white font-smoothing">Grey 50</p>
      <p class="fl ma0 w-50 tr"><code>#737373</code></p>
    </div>
  </div>
  <div class="fl-ns w-third-ns bg-grey-70">
    <div class="cf pt5 pt6-ns ph3 pb3">
      <p class="fl ma0 w-50 white font-smoothing">Grey 70</p>
      <p class="fl ma0 w-50 tr"><code>#4a4a4f</code></p>
    </div>
  </div>
  <div class="fl-ns w-third-ns bg-grey-90">
    <div class="cf pt5 pt6-ns ph3 pb3">
      <p class="fl ma0 w-50 white font-smoothing">Grey 90</p>
      <p class="fl ma0 w-50 tr"><code>#0c0c0d</code></p>
    </div>
  </div>
</div>