<div class="cf mb3 nl2 nr2">
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="http://placekitten.com/g/600/400" alt="">
      <figcaption>Menu labels</figcaption>
    </figure>
  </div>
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="http://placekitten.com/g/600/400" alt="">
      <figcaption>Page titles</figcaption>
    </figure>
  </div>
</div>

<div class="cf mb3 nl2 nr2">
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="http://placekitten.com/g/600/400" alt="">
      <figcaption>Navigation and section headers</figcaption>
    </figure>
  </div>
  <div class="fl w-50-ns ph2">
    <figure>
      <img src="http://placekitten.com/g/600/400" alt="">
      <figcaption>Buttons</figcaption>
    </figure>
  </div>
</div>
