<div class="cf mb3">
  <div class="fl w-50-ns">
    <p>Menu Labels</p>
  </div>
  <div class="fl w-50-ns">
    <figure>
      <img src="http://placekitten.com/g/600/400" alt="">
    </figure>
  </div>
</div>

<div class="cf mb3">
  <div class="fl w-50-ns">
    <p>Page Titles</p>
  </div>
  <div class="fl w-50-ns">
    <figure>
      <img src="http://placekitten.com/g/600/400" alt="">
    </figure>
  </div>
</div>

<div class="cf mb3">
  <div class="fl w-50-ns">
    <p>Navigation and Section Headers</p>
  </div>
  <div class="fl w-50-ns">
    <figure>
      <img src="http://placekitten.com/g/600/400" alt="">
    </figure>
  </div>
</div>

<div class="cf mb3">
  <div class="fl w-50-ns">
    <p>Buttons</p>
  </div>
  <div class="fl w-50-ns">
    <figure>
      <img src="http://placekitten.com/g/600/400" alt="">
    </figure>
  </div>
</div>
