<header>
  <div class="dib">
  
  <div class="flex items-center bg-yellow-50 yellow-90 br2 pa1 mb3">
    <img class="pv1 ph2" src="../images/global/warning-16.svg" alt="Excamation Mark in a Triangle.">
    <p class="pt1 mv0 mr3 lh-solid">
      This is a working draft
    </p>
    <a class="bg-yellow-60 br1 yellow-90 pv1 ph2 fw5 hover-bg-yellow-70 hover-white font-smoothing ttu f4" href="https://github.com/FirefoxUX/photon/issues" alt="Submit feedback about type scale">Report Issue</a>
  </div>
  

  

  
</div>

  <h1>Doorhanger</h1>
  <p>
    Doorhangers provide a way to present decisions to users which is less intrusive than a modal dialog.
  </p>
</header>
<section>
  <h2>Usage</h2>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/doorhangers/doorhanger-usage.png" alt="Firefox action menu uses the doorhanger component">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Doorhangers are used for prompt and notification; they are used for full featured UI; or they are used for list and menu as in the example on the left.
      </p>
    </div>
  </div>
  <h2>Structure</h2>
  <h3>Directional Arrow</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/doorhangers/doorhanger-pointer.svg" alt="Directional arrow used on the right and on the left of a doorhanger">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Doorhangers opening on the right side of the view show the directional arrow on the right.
      </p>
      <p>
        Doorhangers opening on the left side of the view show the directional arrow on the left.
      </p>
      <p>
        Never place the directional arrow at the center of doorhangers.
      </p>
    </div>
  </div>
  <h2>Style</h2>
  <h3>Background and Border Colors</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/doorhangers/doorhanger-color.svg" alt="Empty doorhanger">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Background: 100% White <code>#ffffff</code></p>
      <p class="mb2">Border Color: 20% Grey 90 <code>#0c0c0d</code></p>
    </div>
  </div>
  <h3>Corner Radius</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/doorhangers/doorhanger-radius-win.png" alt="Doorhanger sharp corner radius on Windows">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>On Windows doorhangers have sharp corners.</p>
    </div>
  </div>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/doorhangers/doorhanger-radius-macos.png" alt="Doorhanger round corner radius on macOS">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>On macOS and Linux doorhangers have rounded corners.</p>
      <p class="mb2">Corner Radius: <code>2px</code></p>
    </div>
  </div>
  <h3>Shadows</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/doorhangers/doorhanger-shadow.png" alt="Highlight of the doorhanger shadow">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">
        Doorhangers appear above other in-view elements. Use <a href="../patterns/shadows.html#style">shadow 30</a> to highlight elevation.
      </p>
    </div>
  </div>
  <h3>Sizes</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/doorhangers/doorhanger-sizes.svg" alt="Redlines and specs of a doorhanger">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Directional Arrow Height: <code>9px</code></p>
      <p class="mb2">Directional Arrow Margin Left: <code>16px</code></p>
      <p class="mb2">Directional Arrow Width: <code>18px</code></p>
      <p class="mb2">Maximum Height: <code>90%</code></p>
      <p class="mb2">Maximum Width: <code>320px</code></p>
    </div>
  </div>
  <h2>Behavior</h2>
  <p>
    Clicking outside of the active area dismiss doorhangers.
  </p>
  <p>
    When doorhangers content is longer than 90% of the view make the content vertically scrollable.
  </p>
</section>