<%- include('../includes/global/message-bar.html', {type: 'Warning', text: 'This is a working draft', button: 'REPORT ISSUE'}); %>
<header>
  <h1>Dropdown Buttons</h1>
</header>
<section>
  <h2>Types</h2>
  <h3>Default</h3>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-types-default.html %>
  <h3>Primary</h3>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-types-primary.html %>
  <h3>Ghost</h3>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-types-ghost.html %>
  <h2>Variants</h2>
  <h3>Ghost with Icon</h3>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-variants-ghost.html %>
  <h2>Styles</h2>
  <h3>Text, Icons and Background Colors</h3>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-styles.html %>
  <h3>Corner Radius</h3>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-styles-corner-radius.html %>
  <h3>Sizes</h3>
  <h4>Micro</h4>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-sizes-micro.html %>
  <h4>Default</h4>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-sizes-default.html %>
  <h4>Puffy</h4>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-sizes-puffy.html %>
  <h2>Behaviors</h2>
  <% include ../includes/components/dropdown-buttons/dropdown-buttons-behaviors.html %>
</section>