<table>
  <tbody>
    <tr>
      <td>
        <p>Primary</p>
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-10"></div>
        <p class="dib v-mid">Grey 10</p>
      </td>
      <td>
        <code>#f9f9fa</code>
      </td>
      <td>
        <p>80%</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Secondary</p>
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-10"></div>
        <p class="dib v-mid">Grey 10</p>
      </td>
      <td>
        <code>#f9f9fa</code>
      </td>
      <td>
        <p>60%</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Secondary Hover</p>
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-10"></div>
        <p class="dib v-mid">Grey 10</p>
      </td>
      <td>
        <code>#f9f9fa</code>
      </td>
      <td>
        <p>80%</p>
      </td>
    </tr>
    <tr>
      <td>
        Inactive
      </td>
      <td>
        <div class="dib w2 h2 v-mid mr2 br2 bg-grey-10"></div>
        <p class="dib v-mid">Grey 10</p>
      </td>
      <td>
        <code>#f9f9fa</code>
      </td>
      <td>
        <p>25%</p>
      </td>
    </tr>
  </tbody>
</table>