
<%- include('../includes/global/message-bar.html', {type: 'Warning', text: 'This is a working draft', button: 'Report issue'}); %>
<header>
  <h1>Input Fields</h1>
  <p>Input fields allow users to type in text information. </p>
</header>

<section>
  <h2>Usage</h2>
  <p>
  Use input fields when requiring users to enter a text information like email address, account name, searching keyword… that couldn’t be provided for users to select. 
  </p>
</section>

<section>
  <h2>Types</h2>
 
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/input/text-field.png" alt="">
      <h4>Text Field</h4>
      <p>
      A text field can validate the entered data and provide hints of how to meet the certain criteria.  
      </p>
    </div>
    
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/input/search-field.png" alt="">
      <h4>Search Field</h4>
      <p>A search field can either live-search results or present search results after users send a query.</p>
      
    </div>
  </div>
</section>

<section>
 <!--  <h2>Styles</h2>
  <h3>Light Background</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-normal.png" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: Blue 60 <code>#0060df</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-hover.png" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: Blue 60 <code>#0060df</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-pressed.png" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: Blue 70 <code>#003eaa</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
   <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-focused.png" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: Blue 60 <code>#0060df</code><br/>With focused square</p>
    </div>
  </div>


  <h3>Dark Background</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-normal-darkbg.png" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: White <code>#ffffff</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-hover-darkbg.png" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: White <code>#ffffff</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-pressed-darkbg.png" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: White <code>#ffffff</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
   <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-focused-darkbg.png" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: White <code>#ffffff</code><br/>With focused square</p>
    </div>
  </div>
</section>

<section>
  <h2>Examples</h2>
  <p> A link can go after a sentence or an option. For a better understanding of the relationship between the link and the sententce/option, stick the link next to what it is related to.</p>  
  
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/link/position-do.png" alt="border 3px outside 1px inside">
        <% include ../includes/global/do.html %>
      </figure>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/link/position-dont.png" alt="border 3px outside 3px inside">
        <% include ../includes/global/dont.html %>
      </figure>
    </div>
  </div>

</section> -->