<header>
  <h1>Links</h1>
  <p>
    Link is text that users can select to access websites or subsequent pages.
  </p>
</header>

<section>
  <h2>Usage</h2>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/usage.svg" alt="A link UI example">
    </div>
    <div class="fl-ns w-50-ns ph2">
     <p>
      Use text links to guide users to a webpage or a content page in the browser or to anchor users to a section within a page. For an action that results in a change to Firefox, use a button instead.
      <a href="buttons.html">See buttons</a> 
     </p>
</section>

<section>
  <h2>Types</h2>
  <h3>Internal link</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/Internal-link.svg" alt="internal link example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        An internal link directs users to a page inside the Mozilla properties (e.g., SUMO, Pocket) or anchors users to a specific section on the same page.
      </p>
    </div>  
  </div>

  <h3>External link</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/External-link.svg" alt="external link example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        An external link directs users to a page not produced by or affiliated with Mozilla.
      </p> 
      <p>
        An <a href="http://design.firefox.com/icons/viewer/#open">Open In New</a>  icon should be paired with the external link.
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Styles</h2>
  <p>All platforms (except for Linux) follow the spec below. On Linux, use the system color for links. </p>
  <h3>Typography</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/typography.svg" alt="font style of the link">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Font size: Same as the body text<br/>Font weight: Normal</p>
    </div>
  </div>

  <h3>Behaviors</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/link-normal.svg" alt="normal state example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p><strong>Normal</strong><br/>Font color: Blue 60 <code>#0060df</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/link-hover.svg" alt="hover state example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p><strong>Hover</strong><br/>Font color: Blue 60 <code>#0060df</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/link-pressed.svg" alt="pressed state example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p><strong>Pressed</strong><br/>Font color: Blue 70 <code>#003eaa</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
   <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/link-focused.svg" alt="focused state example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        <strong>Focused</strong><br/>
        Box Shadow: <code>0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3)</code>
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Placement</h2>
  <p>
    A link may stand alone after a sentence or an option. To highlight the relationship, place the link next to the sentence or option.
  </p>  
  
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/link/position-do.svg" alt="use 8px for margin between a link and a body">
        <div class="flex bt bw2 b--green-60 pt2 mb1">
  <img class="w-auto mr2 mb0 bg-white outline-0" src="../images/global/check.svg" alt="Checkmark icon indicating a good choice">
  <span class="green-70 f4" style="margin-top: 2px">Do</span>
</div>

      </figure>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/link/position-dont.svg" alt="do not use margin larger than 8px">
        <div class="flex bt bw2 b--red-60 pt2 mb1">
  <img class="w-auto mr2 mb0 bg-white outline-0" src="../images/global/stop.svg" alt="Cross icon indicating a bad choice">
  <span class="red-60 f4" style="margin-top: 2px">Don't</span>
</div>

      </figure>
    </div>
  </div>
</section>

<section>
  <h2>Copy Rules</h2>
  <ul>
    <li>Links should be sentence case when embedded in a sentence or when standing alone (e.g., Learn more).</li>
    <li>Do not use ellipses in a link to indicate that there is more information available at the destination. This should be assumed.</li>
    <li>Do not use punctuation at the end of the link, or navigation element unless you are using an exclamation point or question mark or the link is embedded in running text.</li>
  </ul>
</section>
