<header>
  <div class="dib">
  
  <div class="flex items-center bg-yellow-50 yellow-90 br2 pa1 mb3">
    <img class="pv1 ph2" src="../images/global/warning-16.svg" alt="">
    <p class="pt1 mv0 mr3 lh-solid">
      This is a working draft
    </p>
    <a class="bg-yellow-60 br1 yellow-90 pv1 ph2 fw5 hover-bg-yellow-70 hover-white font-smoothing ttu f4" href="https://github.com/FirefoxUX/photon/issues" alt="Submit feedback about type scale">Report issue</a>
  </div>
  

  

  
</div>
  <h1>Link</h1>
  <p>
    Link is text that users can click or tap to access websites or subsequent pages.
  </p>
</header>

<section>
  <h2>Usage</h2>
  <p>
    Use text links to guide users to a new page or to anchor users to a section within a page. For an action that results in an immediate change, use a button instead.
    <a href="buttons.html">See buttons</a> 
  </p>
</section>

<section>
  <h2>Types</h2>
 
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/Internal-link.svg" alt="">
      <h3>Internal link</h3>
      <p>
        An internal link directs users to a page inside the Mozilla properties (e.g., SUMO, Pocket) or anchors users to a specific section on the same page.
      </p>
    </div>
    
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100" src="../images/link/External-link.svg" alt="">
      <h3>External link</h3>
      <p>
        An external link directs users to a page not produced by or affiliated with Mozilla.
      </p> 
      <p>
        An <a href="http://design.firefox.com/icons/viewer/#open">Open In New</a>  icon should be paired with the external link.
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Styles</h2>
  <h3>Behaviors</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-normal.svg" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: Blue 60 <code>#0060df</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-hover.svg" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: Blue 60 <code>#0060df</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-pressed.svg" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: Blue 70 <code>#003eaa</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
   <div class="fl-ns w-70-ns ph2">
      <img class="w-100" src="../images/link/link-focused.svg" alt="">
    </div>
    <div class="fl-ns w-30-ns ph2">
      <p>Font weight: Normal<br/>Color: Blue 60 <code>#0060df</code><br/>With focused square</p>
    </div>
  </div>
</section>

<section>
  <h2>Examples</h2>
  <p>
    A link may stand alone after a sentence or an option. To highlight the relationship, place the link next to the sentence or option.
  </p>  
  
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/link/position-do.svg" alt="border 3px outside 1px inside">
        <figcaption class="flex bt bw2 b--green-60 pt2 mb1">
  <img class="mr2 bg-white outline-0" src="../images/global/check.svg" alt="">
  <span class="green-70" style="margin-top: 2px">Do</span>
</figcaption>
      </figure>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/link/position-dont.svg" alt="border 3px outside 3px inside">
        <figcaption class="flex bt bw2 b--red-60 pt2 mb1">
  <img class="mr2 bg-white outline-0" src="../images/global/stop.svg" alt="">
  <span class="red-60" style="margin-top: 2px">Don't</span>
</figcaption>
      </figure>
    </div>
  </div>
</section>