<header>
  <h1>Link</h1>
</header>

<section>
  <h2>Usage</h2>
  <p>
  Use text links as navigation to guide users to a new page or to anchor users to a section within a page. For calling an action that result in an immediate change, use buttons instead. 
  <a href="buttons.html">See buttons</a> 
  </p>
</section>

<section>
  <h2>Styles</h2>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-40-ns ph2">
      <img class="w-100" src="../images/link/link-normal.png" alt="">
    </div>
    <div class="fl-ns w-60-ns ph2">
      <p>Font weight: Semibold<br/>Color: Blue 50 <code>#0a84ff</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-40-ns ph2">
      <img class="w-100" src="../images/link/link-hover.png" alt="">
    </div>
    <div class="fl-ns w-60-ns ph2">
      <p>Font weight: Semibold<br/>Color: Blue 60 <code>#0060df</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
    <div class="fl-ns w-40-ns ph2">
      <img class="w-100" src="../images/link/link-pressed.png" alt="">
    </div>
    <div class="fl-ns w-60-ns ph2">
      <p>Font weight: Semibold<br/>Color: Blue 70 <code>#003eaa</code></p>
    </div>
  </div>

  <div class="cf nr2 nl2">
   <div class="fl-ns w-40-ns ph2">
      <img class="w-100" src="../images/link/link-focused.png" alt="">
    </div>
    <div class="fl-ns w-60-ns ph2">
      <p>Font weight: Semibold<br/>Color: Grey 90 <code>#0c0c0d</code></p>
    </div>
  </div>
</section>

<section>
  <h2>Context of use</h2>
  <p> A link can follow after a sentence or an option. For a better understanding of the relationship between the link and the sententce/option, stick the link next to what it related.</p>  
</section>