<header>
  <h1>
    Message bar
  </h1>
  <p>
     Message bars communicate specific information to a user. Display message bars at the top of the page or the section they apply to.
  </p>
</header>

<section>
  <h2>
    Usage
  </h2>
  <p>
     Message bars contain concise and scannable text that is directly related to an action that has been completed or is about to be performed. They may include a single message or multiple messages. They should not be used to <strong>Dismiss</strong> or <strong>Cancel</strong>. It's <strong>required</strong> to have an icon always to precedes the message(s).
  </p>
  <p>
    Common uses for message bars include: success messages, updates, warnings, and problems or errors.
  </p>
</section>

<section>
  <h2>
    Types
  </h2>
  <h3>
    Generic
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2"> 
      <img class="w-100-ns" src="../images/message-bars/generic.svg" alt="generic message bar example">
    </div>
    <div class="fl-ns w-50-ns ph2"> 
      <p>
        Convey general information or actions that aren’t critical. Update users about a change or give them advice. Include lower priority information and should always be dismissible.
      </p>
    </div>
  </div>
   <h3>
    Success
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/success.svg" alt="success message bar example">
    </div>
    <div class="fl-ns w-50-ns ph2"> 
      <p>
       Inform users when actions are successfully completed.
      </p>
    </div>
  </div>
  <h3>
    Warning
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2"> 
     <img class="w-100-ns" src="../images/message-bars/warning.svg" alt="warning message bar example">
    </div>
    <div class="fl-ns w-50-ns ph2"> 
      <p>
       Display exceptions or information the user needs to act on.
      </p>
    </div>
  </div>
  <h3>Error</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2"> 
      <img class="w-100-ns" src="../images/message-bars/error.svg" alt="error message bar example">
    </div>
    <div class="fl-ns w-50-ns ph2"> 
      <p>
       Communicate problems that must be addressed before a user can complete a task.
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Style</h2>
  <div class="flex flex-wrap" data-tabs>
  <input class="dn" type="radio" name="st-tabs" id="mb-generic" checked>
  <label class="pa2 order-1-m db mb3" for="mb-generic">Generic</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <h3>Sizes and grid</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/s-gen.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Message bars have a fixed min-height. Width may vary depending on the content. A message bar cannot grow more than its parent container.
    </p>
  </div>
</div>

<h3>Color</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/c-gen.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p><strong>Background:</strong> Grey-20 <code>#ededf0</code></p>
    <p><strong>Text:</strong> Grey-90 <code>#0c0c0d</code></p>
    <h5>BUTTONS</h5>
    <p>Default: Blue-60 <code>#0a84ff</code></p>
    <p>Hover: Blue-70 <code>#0060df</code></p>
    <p>Pressed: Blue-80 <code>#003eaa</code></p>
  </div>
</div>
  
<h3>Icon</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2">
    <img class="w-100-ns" src="../images/message-bars/i-gen.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2"> 
    <p>
     Icons may provide additional clarity. Icons should be placed to the left of a title or message. These glyphs (16x16) can be found in the <a href="http://design.firefox.com/icons/">icons library</a>.
    </p>
    <p>
      Icons always have a <code>4px</code> padding all around.
    </p>
    <p><strong>Type:</strong> <a href="http://design.firefox.com/icons/viewer/#identity%20icon%20hover">Identity Icon Hover</a> </p>
  </div>
</div>
  
<h3>Typography</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/t-gen.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      The body of the message should be contained within two lines. Be descriptive and include any troubleshooting actions. 
    </p>
    <p>
      <strong>Message: </strong>Body-10, 13px Regular <code>400</code>
    </p>
     <p>
      <strong>Button: </strong>Body-10, 13px Regular <code>400</code>.
    </p>
  </div>
</div>
  </div>

  <input class="dn" type="radio" name="st-tabs" id="mb-success">
  <label class="pa2 order-1-m db mb3" for="mb-success">Success</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <h3>Sizes and grid</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/s-suc.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">  
  <p>
    Message bars have a fixed min-height. Width may vary depending on the content. A message bar cannot grow more than its parent container.
  </p>
  </div>
</div>

<h3>Color</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2">
    <img class="w-100-ns" src="../images/message-bars/c-succ.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p><strong>Background:</strong> Green-50 <code>#30e60b</code></p>
    <p><strong>Text:</strong> Green-90 <code>#003706</code></p>
    <h5>BUTTONS</h5>
    <p>Default: Green-60 <code>#12bc00</code></p>
    <p>Hover: Green-70 <code>#058b00</code></p>
    <p>Pressed: Green-80 <code>#006504</code></p>
  </div>
</div>
  
<h3>Icon</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2">
    <img class="w-100-ns" src="../images/message-bars/i-suc.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2"> 
    <p>
      Icons may provide additional clarity. Icons should be placed to the left of a title or message. These glyphs (16x16) can be found in the <a href="http://design.firefox.com/icons/">icons library</a>.
    </p>
    <p>
      Icons always have a <code>4px</code> padding all around.
    </p>
    <p>
      <strong>Type:</strong> <a href="http://design.firefox.com/icons/viewer/#check">Check</a>
    </p>
  </div>
</div>
  
<h3>Typography</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/t-succ.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      The body of the message should be contained within two lines. Be descriptive and include any troubleshooting actions.
    </p>
    <p>
      <strong>Message: </strong>Body-10, 13px Regular <code>400</code>
    </p>
    <p>
      <strong>Button: </strong>Body-10, 13px Regular <code>400</code>.
    </p>
  </div>
</div>
  </div>

  <input class="dn" type="radio" name="st-tabs" id="mb-warning">
  <label class="pa2 order-1-m db mb3" for="mb-warning">Warning</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <h3>Sizes and grid</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/s-war.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Message bars have a fixed min-height. Width may vary depending on the content. A message bar cannot grow more than its parent container.
    </p>
  </div>
</div>

<h3>Color</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2">
    <img class="w-100-ns" src="../images/message-bars/c-war.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p><strong>Background:</strong> Yellow-50 <code>#ffe900</code></p>
    <p><strong>Text:</strong> Yellow-90 <code>#3e2800</code></p>
    <h5>BUTTONS</h5>
    <p>Default: Yellow-60 <code>#d7b600</code></p>
    <p>Hover: Yellow-70 <code>#a47f00</code></p>
    <p>Pressed: Yellow-80 <code>#715100</code></p>
  </div>
</div>
  
<h3>Icon</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2">
    <img class="w-100-ns" src="../images/message-bars/i-war.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2"> 
    <p>
      Icons may provide additional clarity. Icons should be placed to the left of a title or message. These glyphs (16x16) can be found in the <a href="http://design.firefox.com/icons/">icons library</a>.
    </p>
    <p>
      Icons always have a <code>4px</code> padding all around.
    </p>
    <p>
      <strong>Type:</strong> <a href="http://design.firefox.com/icons/viewer/#warning">Warning</a>
    </p>
  </div>
</div>
  
<h3>Typography</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/t-war.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      The body of the message should be contained within two lines. Be descriptive and include any troubleshooting actions. 
    </p>
    <p>
      <strong>Message: </strong>Body-10, 13px Regular <code>400</code>
    </p>
    <p>
      <strong>Button: </strong>Body-10, 13px Regular <code>400</code>.
    </p>
  </div>
</div>
  </div>

  <input class="dn" type="radio" name="st-tabs" id="mb-errors">
  <label class="pa2 order-1-m db mb3" for="mb-errors">Errors</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <h3>Sizes and grid</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
     <img class="w-100-ns" src="../images/message-bars/s-err.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">  
    <p>
      Message bars have a fixed min-height. Width may vary depending on the content. A message bar cannot grow more than its parent container.
    </p>
  </div>
</div>
  
<h3>Color</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/c-err.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p><strong>Background:</strong> Red-50 <code>#ff0039</code></p>
    <p><strong>Text:</strong> White <code>#ffffff</code></p>
    <h5>BUTTONS</h5>
    <p>Default: Red-60 <code>#d70022</code></p>
    <p>Hover: Red-70 <code>##a4000f</code></p>
    <p>Pressed: Red-80 <code>#5a0002</code></p>
  </div>
</div>
  
<h3>Icon</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2">
    <img class="w-100-ns" src="../images/message-bars/i-err.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2"> 
    <p>
     Icons may provide additional clarity. Icons should be placed to the left of a title or message. These glyphs (16x16) can be found in the <a href="http://design.firefox.com/icons/viewer/#error">icons library</a>.
    </p>
    <p>
      Icons always have a <code>4px</code> padding all around.
    </p>
    <p><strong>Type:</strong> <a href="http://design.firefox.com/icons/viewer/#error">Error</a> </p>
  </div>
</div>
  
<h3>Typography</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/t-err.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      The body of the message should be contained within two lines. Be descriptive and include any troubleshooting actions. 
    </p>
    <p>
      <strong>Message: </strong>Body-10, 13px Regular <code>400</code>
    </p>
     <p>
      <strong>Button: </strong>Body-10, 13px Regular <code>400</code>.
    </p>
  </div>
</div>
  </div>
</div>

</section>

<section>
  <h2>Behavior</h2>
  <h3>
    Dismissable
  </h3> 
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/ghost-btn.svg" alt="Dismissable behavior">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Unless they contain critical information, message bars should be dismissible by clicking or tapping the ghost button, placed always on the right corner.
      </p>
    </div>
  </div>
  <h3>
  Call to action
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/mb-action-example.jpg" alt="message bar in action">
    </div>
    <div class="fl-ns w-50-ns ph2"> 
      <p>
        Add one or two <a href="buttons.html#micro">micro-buttons</a> in the message bar when you want users to take an action after reading the message. 
      </p>
    </div>
  </div>
  <div class="flex flex-wrap" data-tabs>
  <input class="dn" type="radio" name="bh-tabs" id="bh-mb-generic" checked="checked">
  <label class="pa2 order-1-m db mb3" for="bh-mb-generic">Generic</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/btn-generic.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Grey-90 <code>#0c0c0d</code>, 10% opacity</td>
        </tr>
        <tr>
          <td>Hover</td>
          <td>Grey-90 <code>#0c0c0d</code>, 20% opacity</td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td>Grey-90 <code>#0c0c0d</code>, 30% opacity</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>

  <input class="dn" type="radio" name="bh-tabs" id="bh-mb-success">
  <label class="pa2 order-1-m db mb3" for="bh-mb-success">Success</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/btn-success.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Green-60 <code>#12bc00</code></td>
        </tr>
        <tr>
          <td>Hover</td>
          <td>Green-70 <code>#058b00</code></td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td>Green-80 <code>#006504</code></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>

  <input class="dn" type="radio" name="bh-tabs" id="bh-mb-warning">
  <label class="pa2 order-1-m db mb3" for="bh-mb-warning">Warning</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/btn-warning.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Yellow-60 <code>#d7b600</code></td>
        </tr>
        <tr>
          <td>Hover</td>
          <td>Yellow-70 <code>#a47f00</code></td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td>Yellow-80 <code>#715100</code></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>

  <input class="dn" type="radio" name="bh-tabs" id="bh-mb-error">
  <label class="pa2 order-1-m db mb3" for="bh-mb-error">Errors</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/btn-error.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Red-60 <code>#d70022</code></td>
        </tr>
        <tr>
          <td>Hover</td>
          <td>Red-70 <code>#a4000f</code></td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td>Red-80 <code>#5a0002</code></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>
</div>
 
</section>
