<header>
  <h1>
    Message bar
  </h1>
  <p>
    Message bars are used to communicate information to the user. The message bars show at the top of the page or section they apply to.
  </p>
</header>

<section>
  <h2>
    Usage
  </h2>
  <p>
    A message bars contain a single action, neither of which may be <strong>Dismiss</strong> or <strong>Cancel</strong>.
  </p>
</section>

<section>
  <h2>
    Style
  </h2>

  <h3>
    Anatomy
  </h3>
    <% include ../includes/components/message-bar-skeleton.html %>
    <h4>
      Size
    </h4>
    <p>
      Message bars have a fixed width and height may vary depending on the content. It cannot grow more than its parent container.
    </p>

    <h4>
      Title
    </h4>
    <p>
      In case the message you're trying to comunicate it's really complex, you can use a title. When possible, communicate the main message using just the title. 
    </p>

    <h4>
      Message
    </h4>
    <p>
      The body of the message should be contained within two lines. Be descriptive and include any troubleshooting actions. 
    </p>

    <h4>
      Dismissal
    </h4>
    <p>
      All notifications can be dismiss. Typically, it is a small “x” in the right corner.
    </p>

    <p>
      Icons may provide additional clarity. Icons should be placed to the left of a title or message. These glyphs (16x16) can be found in the <a href="http://design.firefox.com/icons/">icons library</a>.
    </p>

</section>