<header>
  <h1>Radio Buttons</h1>
  <p>
    Radio buttons allow a selection of one option from a group of mutually exclusive options.
  </p>
</header>

<section>
  <h2>Usage</h2>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/radio-buttons/radiobutton-usage.png" alt="Usage Example of Radio Buttons as used in Firefox Options">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Use radio buttons to provide people with a choice from a set of two to five mutually exclusive options. For example to offer a choice of how to save downloads.
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Combination</h2>
  <h3>Label Groups of Radio Buttons</h3>
  <p>Start every group of radio buttons with a label that defines what these options are about.</p>
  <h3>Between 2-5 Choices</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img src="../images/components/radio-buttons/radiobutton-group.svg" alt="Example of the correct use of Radio Buttons in a Group of Four">
      <div class="flex bt bw2 b--green-60 pt2 mb1">
  <img class="w-auto mr2 mb0 bg-white outline-0" src="../images/global/check.svg" alt="Checkmark icon indicating a good choice">
  <span class="green-70 f4" style="margin-top: 2px">Do</span>
</div>

      <figcaption>
        Combine radio buttons in groups of two to five mutually exclusive choices.
      </figcaption>
    </figure>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/components/radio-buttons/radiobutton-single-dont.svg" alt="Example of a wrong use of Radio Buttons by using only one Radio Button">
        <div class="flex bt bw2 b--red-60 pt2 mb1">
  <img class="w-auto mr2 mb0 bg-white outline-0" src="../images/global/stop.svg" alt="Cross icon indicating a bad choice">
  <span class="red-60 f4" style="margin-top: 2px">Don't</span>
</div>

        <figcaption>
          Never use one radio button on it’s own, consider using a checkbox instead.
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2"><p></p></div>
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/components/radio-buttons/radiobutton-biggroup-dont.svg" alt="Example of a wrong use of Radio Buttons by using only one Radio Button">
        <div class="flex bt bw2 b--red-60 pt2 mb1">
  <img class="w-auto mr2 mb0 bg-white outline-0" src="../images/global/stop.svg" alt="Cross icon indicating a bad choice">
  <span class="red-60 f4" style="margin-top: 2px">Don't</span>
</div>

        <figcaption>
          For more than five choices, consider other options. Those could be a drop down or a reduction of choices.
        </figcaption>
      </figure>
    </div>
  </div>
  <h3>Always Exactly One Selected Choice</h3>
  <p>In any groups of radio buttons, one must always be selected. Do not use a group of radio buttons if no selected button is an option.</p>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img src="../images/components/radio-buttons/radiobutton-group.svg" alt="Example of the correct use of Radio Buttons in a Group of Four">
        <div class="flex bt bw2 b--green-60 pt2 mb1">
  <img class="w-auto mr2 mb0 bg-white outline-0" src="../images/global/check.svg" alt="Checkmark icon indicating a good choice">
  <span class="green-70 f4" style="margin-top: 2px">Do</span>
</div>

      </figure>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <figure>
        <img class="db w-100-ns" src="../images/components/radio-buttons/radiobutton-group-inactive-dont.svg" alt="Example of a wrong use of Radio Buttons by using only one Radio Button">
        <div class="flex bt bw2 b--red-60 pt2 mb1">
  <img class="w-auto mr2 mb0 bg-white outline-0" src="../images/global/stop.svg" alt="Cross icon indicating a bad choice">
  <span class="red-60 f4" style="margin-top: 2px">Don't</span>
</div>

        <figcaption>
           Once an option is selected, this state cannot be reached by the user again.
        </figcaption>
      </figure>
    </div>
  </div>
  <h3>Consider the Order of Choices</h3>
  <ul>
    <li>Make the default the first choice if possible.</li>
    <li>If choices describe a range of impact to browsing behavior, order them from greatest impact to least impact. Do not force default to top if it breaks the sequence.</li>
  </ul>
  </div>
</section>

<section>
  <h2>Style</h2>
  <div class="cf nr2 nl2 mb3">
    <div class="w-50-ns fl-ns ph2 mb3">
      <p>Radio Buttons consist of a part to indicate their state and a label to describe the choice it represents.</p>
    </div>
    <div class="w-50-ns fl-ns ph2 mb3">
      <blockquote>
        <p>
          Use the <a href="../images/components/radio-buttons/Photon Design System - Components - Radio-Buttons.sketch" download="">Sketch Libary Component - Radio&#8209;Button</a>.
        </p>
      </blockquote>
    </div>
  </div>
  <h3>Indicator & Label</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/radio-buttons/radiobutton-states.svg" alt="Example of a selected and an unselected radio button.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>Use the indicator to show whether the radio button is selected or not.</p>
      <p>Use the label to make the choice clear.</p>
    </div>
  </div>

  <h3>Dimensions</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/radio-buttons/radiobutton-size.svg" alt="Illustration of the Size of a Radio Button.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Corner Radius: <code>100%</code></p>
      <p class="mb2">Height: <code>16px</code></p>
      <p class="mb1">Width: <code>16px</code></p>
      <p class="mb2">Horizontal Padding: <code>4px</code></p>
    </div>
  </div>

  <h3>Text and Color</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/radio-buttons/radiobutton-selected.svg" alt="Illustration of a selected Radio Button.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Text: <a href="./../visuals/typography.html#scale">Body 10</a></p>
      <p class="mb2">Text Color: Grey 90 <code>#0c0c0d</code></p>
    </div>
  </div>
</section>

<section>
  <h2>Behaviors</h2>
  <h3>Selected / Unselected</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/radio-buttons/radiobutton-states.svg" alt="Example of a selected and an unselected radio button." id="showImage" class="mb0" style="height:202px;">
      <div class='interactive'>
        <div id="select-unselect-example" class="interactive-example" style="display: none;">
          <div class="container-demo">
            <div class="radiobutton-wrapper">
              <div class="group-radio-buttons">
                <input name="group1" class="track-clicks" id="radio-01" checked="" type="radio">
                <label for="radio-01">Show browsing history</label>
              </div>
              <div class="group-radio-buttons">
                <input name="group1" class="track-clicks" id="radio-02" type="radio">
                <label for="radio-02">Show bookmarks</label>
              </div>
            </div>
          </div>
        </div>
        <figcaption>
          <a href="#" class="image-toggle" onclick="document.getElementById('showImage').style.display='block';
                                                    document.getElementById('select-unselect-example').style.display='none';
                                                    return false;">Image</a> /
          <a href="#" class="interactive-toggle" onclick="document.getElementById('showImage').style.display='none';
                                                          document.getElementById('select-unselect-example').style.display='block';
                                                          return false;">Interactive example</a> (Currently only renders correctly in Firefox.)
        </figcaption>
      </div>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <h4 class="mb2">Selected:</h4>
      <p class="mb2">Icon: <a href="../images/components/radio-buttons/radiobutton-marker-16.svg" download="">Radio-Button-Marker</a></p>
      <p class="mb2">Background Color: Blue 60 <code>#0060df</code></p>
      <h4 class="mb2">Unselected:</h4>
      <p class="mb2">Background Color: Grey 90 a10 <code>rgba(12, 12, 13, 0.1)</code></p>
      <p class="mb2">Border: 1px Grey 90 a30 <code>rgba(12, 12, 13, 0.3)</code></p>
    </div>
  </div>

  <h3>Clicktarget</h3>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/radio-buttons/radiobutton-clicktarget.svg" alt="Illustration of the extent of the clicktarget of a Checkbox.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>A radio button can be selected by clicking on the area of its indicator as well as its label. Usually the clicktarget extends to the same width for each element in a collection of radio buttons. This results in a click target that extends beyond the label, for all elements shorter than the longest.</p>
      <p>Clicking a radio button selects it on release of the click. If, during the click, the mouse is moved off of the radio button, it does not become selected.</p>
    </div>
  </div>

  <h3>Interaction</h3>
  <h4>Selected</h4>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/radio-buttons/radiobutton-interaction-selected.png" alt="Illustration of all appearances a selected radio button can show when interacted with.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Background Color:</p>
      <p class="mb2">Default: Blue 60 <code>#0060df</code></p>
      <p class="mb2">Hover: Blue 70 <code>#003eaa</code></p>
      <p class="mb2">Pressed: Blue 80 <code>#002275</code></p>
    </div>
  </div>
  <h4>Unselected</h4>
  <div class="cf nr2 nl2 mb3">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/components/radio-buttons/radiobutton-interaction-unselected.png" alt="Illustration of all appearances an unselected radio button can show when interacted with.">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Background Color:</p>
      <p class="mb2">Default: Grey 90 a10 <code>rgba(12, 12, 13, 0.1)</code></p>
      <p class="mb2">Hover: Grey 90 a20 <code>rgba(12, 12, 13, 0.2)</code></p>
      <p class="mb2">Pressed: Grey 90 a30 <code>rgba(12, 12, 13, 0.3)</code></p>
    </div>
  </div>
  <h4>Focused</h4>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2 mb3">
      <div class="interactive">
        <div id="focus-example" class="interactive-example">
          <div class="container-demo">
            <div class="radiobutton-wrapper">
              <span>When Nightly Starts</span>
              <div class="group-radio-buttons">
                <input name="group2" class="track-clicks" id="radio-focus-1" checked="" type="radio">
                <label for="radio-focus-1">Show your home page</label>
              </div>
              <div class="group-radio-buttons">
                <input name="group2" class="track-clicks" id="radio-focus-2" type="radio">
                <label for="radio-focus-2">Show a blank page</label>
              </div>
              <div class="group-radio-buttons">
                <input name="group2" class="track-clicks" id="radio-focus-3" type="radio">
                <label for="radio-focus-3">Show your windows and tabs from last time</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <figcaption>
        Interactive example (Currently only renders correctly in Firefox.)
      </figcaption>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p class="mb2">Border: none</p>
      <p class="mb2">Box Shadow: <code>0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)</code></p>
    </div>
  </div>

</section>

<section>
  <h2>Copy Rules</h2>
  <ul>
    <li>
      <p>
        Use the imperative voice for radio button labels.
      </p>
    </li>
    <li>
      <p>
        Do not use terminal punctuation for radio button labels.
      </p>
    </li>
    <li>
      <p>
        Maintain parallel construction for lists of related radio button labels.
      </p>
    </li>
  </ul>
</section>
