<div class="cf nr2 nl2">
  <div class="fl-ns w-50-m w-25-l ph2 mb3">
    <p class="f3 fw5 mb2 bg-grey-10 pt5 pl3 pb2 grey-30">Fails</p>
    <p class="small lh-title">Color contrast ratio fails</p>
  </div>
  <div class="fl-ns w-50-m w-25-l ph2 mb3">
    <p class="f3 fw5 mb2 bg-grey-10 pt5 pl3 pb2 grey-50">AA Large</p>
    <p class="small lh-title">Above 18pt or bold above 14pt</p>
  </div>
  <div class="fl-ns w-50-m w-25-l ph2 mb3">
    <p class="f3 fw5 mb2 bg-grey-10 pt5 pl3 pb2 grey-70">AA</p>
    <p class="small lh-title">Minimum for any size text</p>
  </div>
  <div class="fl-ns w-50-m w-25-l ph2 mb3">
    <p class="f3 fw5 mb2 bg-grey-10 pt5 pl3 pb2 grey-90">AAA</p>
    <p class="small lh-title">Enhanced for any size text</p>
  </div>
</div>