<header>
  <h1>Colors</h1>
  <p>
    Firefox colors are bold, vibrant and attractive. They enhance the experience by providing visual clues and bringing attention to important piece of interface.
  </p>
</header>

<section>
  <h2>Primary and Secondary</h2>
  <% include contents/components/color-primary-palette.html %>
  <% include contents/components/color-secondary-palette.html %>
</section>

<section>
  <h2>Palettes</h2>
  <p>
    When you use the following colors as background color use white typography when the color contrast is at least AA Large (for texts bigger than 18pt or set in bold above 14pt) or AA for everything else. Otherwise set the typography with the darkest shade–90–of the same color.
  </p>
  <p>
    You can set the following colors as typography color if the color contrast is at least AA Large (for texts bigger than 18pt or set in bold above 14pt) or better.
  </p>

  <h3>Blue</h3>
  <p>
    Firefox Blue is one of our primary colors. We use blue as accent color for highliting buttons, links and active states like the current tab in Firefox for desktop. 
  </p>
  <% include contents/components/color-blue.html %>

  <h3>Teal</h3>
  <p>
    Firefox Teal is one of our primary colors. We use teal as attention color. 
  </p>
  <% include contents/components/color-teal.html %>

  <h3>Magenta</h3>
  <% include contents/components/color-magenta.html %>

  <h3>Green</h3>
  <p>
    Firefox green is commonly used for success validation messagges and scenarios.
  </p>
  <% include contents/components/color-green.html %>

  <h3>Yellow</h3>
  <p>
    Firefox yellow is commonly used for warning validation messagges and scenarios.
  </p>
  <% include contents/components/color-yellow.html %>

  <h3>Red</h3>
  <p>
    Firefox red is commonly used for error validation messagges and scenarios.
  </p>
  <% include contents/components/color-red.html %>

  <h3>Purple</h3>
  <p>
    Firefox purple is commonly used for private navigation.
  </p>
  <% include contents/components/color-purple.html %>

  <h3>Ink</h3>
  <p>
    Firefox ink is commonly used for interfaces. Like Firefox for desktop with dark theme enabled.
  </p>
  <% include contents/components/color-ink.html %>

  <h3>Grey</h3>
  <p>
    Firefox grey is commonly used for interfaces. Like Firefox for desktop with light theme enabled.
  </p>
  <% include contents/components/color-grey.html %>
</section>

<section>
  <h2>Validations and notifications</h2>
  <h3>Validation</h3>
  <p>
    When you design a component that features validation use the following colors for success, warning or error. Only use a text color with the accompanying background color.
  </p>
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>Text color</th>
        <th>Background color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Success</td>
        <td><code>#33f70c</code></td>
        <td><code>#003f07</code></td>
      </tr>
      <tr>
        <td>Warning</td>
        <td><code>#3e2800</code></td>
        <td><code>#ffe900</code></td>
      </tr>
      <tr>
        <td>Error</td>
        <td><code>#3e0200</code></td>
        <td><code>#ff0039</code></td>
      </tr>
    </tbody>
  </table>
  <h3>Notification</h3>
  <p>
    When you have to display a notification use one of the following palette: only use a text color with the accompanying background color.
  </p>
  <table>
    <thead>
      <tr>
        <th>Text color</th>
        <th>Background color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>#000f40</code></td>
        <td><code>#0a84ff</code></td>
      </tr>
      <tr>
        <td><code>#001a27</code></td>
        <td><code>#00feff</code></td>
      </tr>
      <tr>
        <td><code>#440027</code></td>
        <td><code>#ff1ad9</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Text and background colors</h2>
  <p>
    We are currently in the process of defying these colors.
  </p>
  <h3>Dark text on light background</h3>
  <p>
    We are currently in the process of defying these colors.
  </p>
  <h3>Light text on dark background</h3>
  <p>
    We are currently in the process of defying these colors.
  </p>
  <h3>Links</h3>
  <p>
    We are currently in the process of defying these colors.
  </p>
</section>

<section>
  <h2>Icons</h2>
  <p>
    As all other components icons usually have different states: active, hover, pressed, focused and disabled.
  </p>
  <h3>Dark icons on light background</h3>
  <p>
    We are currently in the process of defying these colors.
  </p>
  <h3>Light icons on dark background</h3>
  <p>
    We are currently in the process of defying these colors.
  </p>
  <h3>Validations and notifications icons</h3>
  <table>
    <thead>
      <tr>
        <th>State</th>
        <th>Fill color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Success</td>
        <td><code>#33f70c</code></td>
      </tr>
      <tr>
        <td>Warning</td>
        <td><code>#ffe900</code></td>
      </tr>
      <tr>
        <td>Error</td>
        <td><code>#ff0039</code></td>
      </tr>
      <tr>
        <td>Notification</td>
        <td><code>#0a84ff</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Themes</h2>
  <p>
    Firefox supports custom themes. Ensure that changes that affect the chrome bar will continue to support a variety of background like images, light colors or dark colors. Moreover Windows 10 currently offers the ability to customize the app bar color. Ensure that changes to the chrome bar support this option as well.
  </p>

  <blockquote>
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="https://addons.mozilla.org/en-US/firefox/themes/?sort=popular">Most Popular Themes</a> on the Add-ons website.
      </li>
    </ul>
  </blockquote>
</section>

<section>
  <h2>Accessibility</h2>

  <h3>Color contrast</h3>
  <p>
    You are encourage to follow the <a href="https://www.w3.org/TR/WCAG/#visual-audio-contrast">WCAG 2.0</a> Level AA guidelines to ensure proper color contrast. Bodies of text should have a contrast ratio of at least 4.5:1 and that large-scale text should have a contrast ratio of at least 3:1.
  </p>

  <h3>Color blind</h3>
  <p>
    There are different types of color blindness. The most common form is reg-green color blindness, followed by blue-yellow color blindness and total color blindness. Red-green color blindness affects up to 8% of males and 0.5% of females. Ensure that adjacent color shades are blind-safe. In case of doubts use a color blindness analyzer.
  </p>

  <h3>High contrast on Windows</h3>
  <p>
    Windows currently offers 4 high contrast modes: <em>High Contrast #1</em>, <em>High Contrast #2</em>, <em>High Contrast Black</em> and <em>High Contrast White</em>. Work closely with engineers to make sure that your palette is translated properly following the hierarchy that you defined in the default theme.
  </p>

  <blockquote>
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="https://www.paciellogroup.com/resources/contrastanalyser/">Color contrast and color blindness analyzer</a> app for Windows and macOS from The Paciello Group.
      </li>
      <li>
        Open source <a href="https://michelf.ca/projects/sim-daltonism/">color blindness simulator</a> for iOS and macOS.
      </li>
      <li>
        <a href="http://leaverou.github.io/contrast-ratio/">Color contrast</a> web analyzer from Lea Verou.
      </li>
      <li>
        <a href="https://msdn.microsoft.com/en-us/library/windows/desktop/hh404233(v=vs.85).aspx">Supporting High Contrast Themes</a> on Windows Dev Center.
      </li>
    </ul>
  </blockquote>
</section>
