<header>
  <h1>Colors</h1>
  <p>Short description (not mandatory)</p>
</header>
<section>
  <h2>Palettes</h2>
  <p>
    <strong>AA Large</strong> (contrast ≥ 3.0), <strong>AA</strong> (contrast ≥ 4.5), <strong>AAA</strong> (contrast ≥ 7.0).
  </p>
  <h3>Primary colors</h3>
  <% include contents/components/color-primary-palette.html %>
  <h3>Secondary colors</h3>
  <% include contents/components/color-secondary-palette.html %>
</section>

<section>
  <h2>States</h2>
  <p>
    Firefox components usually have different states: active, hover, pressed, focused and disabled. Starting from the primary color set the hover state color one step darker in the color scale and the pressed state two steps darker.
  </p>
</section>

<section>
  <h2>Validations and notifications</h2>
  <p>
    When you design a component that features validation use the following colors for success, warning or error.
  </p>
  <h3>Validation set as text color</h3>
  <p>
    If you set the text color as validation use the following values.
  </p>
  <table>
    <thead>
      <tr>
        <th>Validation text</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Success</td>
        <td><code>#069b18</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Warning</td>
        <td><code>#ffaa00</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Error</td>
        <td><code>#d92015</code></td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>
  <h3>Validation set as background color</h3>
  <p>
    If you set the background color as validation use the following values instead.
  </p>
  <table>
    <thead>
      <tr>
        <th>Validation background</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Success</td>
        <td><code>#57bd35</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Warning</td>
        <td><code>#ffaa00</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Error</td>
        <td><code>#d92015</code></td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>
  <h3>Notifications</h3>
  <p>
    When you have to display a notification use one of the following colors.
  </p>
  <table>
    <thead>
      <tr>
        <th>Notification</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Primary color #1</td>
        <td><code>#57bd35</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Primary color #2</td>
        <td><code>#ffaa00</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Primary color #3</td>
        <td><code>#d92015</code></td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Text and background colors</h2>
  <p>
    Texts are set with an alpha channel in order to make them flexible enough to work on different backgrounds.
  </p>
  <h3>Dark text on light background</h3>
  <table>
    <thead>
      <tr>
        <th>Dark text</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Active text</td>
        <td><code>#000000</code></td>
        <td>82%</td>
      </tr>
      <tr>
        <td>Secondary text</td>
        <td><code>#000000</code></td>
        <td>64%</td>
      </tr>
      <tr>
        <td>Inactive text</td>
        <td><code>#000000</code></td>
        <td>42%</td>
      </tr>
    </tbody>
  </table>
  <h3>Light text on dark background</h3>
  <table>
    <thead>
      <tr>
        <th>Light text</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Active text</td>
        <td><code>#ffffff</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Secondary text</td>
        <td><code>#ffffff</code></td>
        <td>70%</td>
      </tr>
      <tr>
        <td>Inactive text</td>
        <td><code>#ffffff</code></td>
        <td>50%</td>
      </tr>
    </tbody>
  </table>
  <h3>Links</h3>
  <p>
    When you have to highlight a link use the following color.
  </p>
  <table>
    <thead>
      <tr>
        <th>Link text</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Blue</td>
        <td><code>#0087ff</code></td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Icons</h2>
  <p>
    As all other components icons usually have different states: active, hover, pressed, focused and disabled. Like text, icons are set with an alpha channel so that they work on different backgrounds.
  </p>
  <h3>Dark icons on light background</h3>
  <table>
    <thead>
      <tr>
        <th>Validation text</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Active</td>
        <td><code>#000000</code></td>
        <td>60%</td>
      </tr>
      <tr>
        <td>Hover</td>
        <td><code>#000000</code></td>
        <td>70%</td>
      </tr>
      <tr>
        <td>Pressed</td>
        <td><code>#000000</code></td>
        <td>80%</td>
      </tr>
      <tr>
        <td>Inactive</td>
        <td><code>#000000</code></td>
        <td>20%</td>
      </tr>
    </tbody>
  </table>
  <h3>Light icons on dark background</h3>
  <table>
    <thead>
      <tr>
        <th>Validation text</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Active</td>
        <td><code>#ffffff</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Hover</td>
        <td><code>#ffffff</code></td>
        <td>80%</td>
      </tr>
      <tr>
        <td>Pressed</td>
        <td><code>#ffffff</code></td>
        <td>60%</td>
      </tr>
      <tr>
        <td>Inactive</td>
        <td><code>#ffffff</code></td>
        <td>30%</td>
      </tr>
    </tbody>
  </table>
  <h3>Validations and notifications icons</h3>
  <table>
    <thead>
      <tr>
        <th>State</th>
        <th>HEX</th>
        <th>Opacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Success</td>
        <td><code>#069b18</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Warning</td>
        <td><code>#ffaa00</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Error</td>
        <td><code>#d92015</code></td>
        <td>100%</td>
      </tr>
      <tr>
        <td>Notification</td>
        <td><code>#0087ff</code></td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Themes</h2>
  <p>
    Firefox supports custom themes. Ensure that changes that affect the chrome bar will continue to support a variety of background like images, light colors or dark colors. Moreover Windows 10 currently offers the ability to customize the app bar color. Ensure that changes to the chrome bar support this option as well.
  </p>

  <blockquote>
    <h4>Resources</h4>
    <ul>
      <li>
        Check out the <a href="https://addons.mozilla.org/en-US/firefox/themes/?sort=popular">Most Popular Themes</a> on the Add-ons website.
      </li>
    </ul>
  </blockquote>
</section>

<section>
  <h2>Accessibility</h2>

  <h3>Color contrast</h3>
  <p>
    You are encourage to follow the <a class="blue-5 no-underline pointer" href="https://www.w3.org/TR/WCAG/#visual-audio-contrast">WCAG 2.0</a> Level AA guidelines to ensure proper color contrast. Bodies of text should have a contrast ratio of at least 4.5:1 and that large-scale text should have a contrast ratio of at least 3:1.
  </p>

  <h3>Color blind</h3>
  <p>
    There are different types of color blindness. The most common form is reg-green color blindness, followed by blue-yellow color blindness and total color blindness. Red-green color blindness affects up to 8% of males and 0.5% of females. Ensure that adjacent color shades are blind-safe. In case of doubts use a color blindness analyzer.
  </p>

  <h3>High contrast on Windows</h3>
  <p>
    Windows currently offers 4 high contrast modes: <em>High Contrast #1</em>, <em>High Contrast #2</em>, <em>High Contrast Black</em> and <em>High Contrast White</em>. Work closely with engineers to make sure that your palette is translated properly following the hierarchy that you defined in the default theme.
  </p>

  <figure>
    <img src="../images/colors/firefox-win-high-contrast-1.jpg" alt="">
  </figure>


  <blockquote>
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="https://www.paciellogroup.com/resources/contrastanalyser/">Color contrast and color blindness analyzer</a> app for Windows and macOS from The Paciello Group.
      </li>
      <li>
        Open source <a href="https://michelf.ca/projects/sim-daltonism/">color blindness simulator</a> for iOS and macOS.
      </li>
      <li>
        <a href="http://leaverou.github.io/contrast-ratio/">Color contrast</a> web analyzer from Lea Verou.
      </li>
      <li>
        <a href="https://msdn.microsoft.com/en-us/library/windows/desktop/hh404233(v=vs.85).aspx">Supporting High Contrast Themes</a> on Windows Dev Center.
      </li>
    </ul>
  </blockquote>
</section>
