<header>
  <h1>Copy Rules</h1>
</header>

<section>
  <h2>Point of view</h2>
  <p>
    In general, use the second person (you) to address the user in Firefox products. Firefox is a user agent, and this point of view reinforces the message that “Firefox works for you.”
  </p>
  <p>
    Avoid using the first person (my, I) in the interface, as it can create confusion about who is being addressed. 
  </p>
</section>

<section>
  <h2>Capitalisation</h2>

  <h3>Title Case</h3>
  <p>
    Title case is a capitalization style that includes the following rules: 
  </p>
  <ul>
    <li>
      Always capitalize the first and last word in the text element, regardless of part of speech or other rules below
    </li>
    <li>
      For words in between the first and last, capitaliize all nouns, verbs, adverbs and pronouns
    </li>
    <li>
      Capitalize conjunctions of four or more letters, but also capitalize <em>if</em>
    </li>
    <li>
      Capitalize prepositions for four or more letters
    </li>
    <li>
      Do not capitalize articles, prepositions of three or fewer letters, and conjunctions of three or fewer letters (but not <em>if</em>)
    </li>
    <li>
      A note about hyphens: Capitalize the second word in a hyphenated compound if it would normally be capitalized as a single word according to title case rules. So, capitalize the <em>S</em> in <em>Quick-Search Options</em>, lowercase the <em>o</em> in <em>Add-on Choices</em>. 
    </li>
  </ul>

  <h3>When to use Title Case</h3>
  <% include contents/components/copy-rules-title-case.html %>

  <h3>Sentence Case</h3>
  <p>
    Sentence case is a capitalization style where the first word of the text element is capitalized as well as any words that are normally capitalized. 
  </p>

  <h3>When to use Sentence Case</h3>
  <% include contents/components/copy-rules-sentence-case.html %>

  <h3>Small Caps</h3>
  <p>
    Small caps is a style where the initial letter of every word is capitalized with a full-scale letter (following title case style) and the following letters in every word are capitalized with a smaller version of the typeface. Do not use this style in Firefox in any platform.
  </p>
</section>

<section>
  <h2>Punctuation</h2>

  <h3>Commas</h3>
  <p>
    Do not use serial commas (also called Oxford commas) in Mozilla communications.
  </p>

  <h3>Dashes</h3>
  <p>
    Hyphens (-) are used to create a single idea out of two or more words and are used without letterspace; en dashes (–) are used for ranges, like numbers and dates, and are used without letterspace; em dashes (—) are used to set related, yet separate thoughts off from each other, either within a sentence or following it, and in either case they are separated by one letterspace to each side of the dash.
  </p>

  <h3>Ellipses</h3>
  <p>
    Use an ellipsis (…) in body text to indicate a pause in speech or thought; use with Button or Menu items when the action will require further user input (this usually results in either a Dialog, Alert or moving the operation to another window or part of the UI); do not use in a link to indicate that there is more information available at the destination, which should be assumed.
  </p>

  <h3>Exclamation Points</h3>
  <p>
    It’s acceptable to use exclamation points, but don’t overdo it; they are not a replacement for creating genuine excitement in writing.
  </p>

  <h3>Quotation Marks</h3>
  <p>
    Punctuation generally goes inside quotation marks, including exclamation and question marks, unless the exclamation or question is part of the entire sentence, not just the portion contained in the quotation marks.
  </p>

  <h3>Slashes</h3>
  <p>
    If it’s in a URL, it’s a forward slash, not a backslash.
  </p>

  <h3>Terminal Punctuation</h3>
  <p>
    Do not use punctuation at the end of a headline, button label, text link, or navigation element unless you are using an exclamation point or question mark or the link is embedded in running text.
  </p>
</section>