<header>
  <h1>Illustration</h1>
  <p>
    Firefox illustrations are approachable, supportive and whimsical.
  </p>
</header>

<!-- <section>
  <h2>Principles</h2>
  <p>
    Having principles helps to stay true to our visual language and with that to have a more cohesive experience in the Firefox products. Our illustration are <strong>approachable</strong>, <strong>supportive</strong> and <strong>whimsical</strong>.
  </p>
  <h3>Approachable</h3>
  <p></p>
  <h3>Supportive</h3>
  <p></p>
  <h3>Whimsical</h3>
  <p>Playful style</p>
</section> -->

<section>
  <h2>Context</h2>
  <p>
    Illustrations are a visually and emotionally powerful tool. Therefore you should use them sparingly and carefully identify the right situations to use them. If an illustration is used only as a decorative element, it may loose its communicative power and distract people.
  </p>
  <h3>Error</h3>
  <p>
    Use illustration to <strong>encourage</strong> people that are frustrated, or lost. Especially when something has gone wrong. Do not use illustration when the user is in danger!
  </p>
  <h3>On-boarding</h3>
  <p>
    Use illustration to <strong>introduce</strong> and <strong>explain</strong> a product, or feature. This can be especially helpful for new, misused, or neglected features.
  </p>
  <h3>Announcement</h3>
  <p>
    Use illustration to help people <strong>understand</strong> content by <strong>exemplifying</strong> it. This is especially useful in text-heavy components like announcements.
  </p>
  <h3>Success</h3>
  <p>
    Use illustration to <strong>compliment</strong> people or <strong>celebrate</strong> with them.
  </p>
</section>

<!--
Character presentation: we can add this part when we're going to have some rational on how the characters are different (monkey, bear, canary, dinosaur).
-->

<section>
  <h2>How to use it</h2>
  <p>
    Knowing where to use the right illustration according to the proper context should be done with forethought and attention.
  </p>
  <h3>Background colors</h3>
  <p>
    Firefox illustration works better with the light grey background <code>#f9f9fa</code>.
  </p>
  <!--
  <% include contents/components/illustration-do-dont-placeholder.html %>
  -->
  <h3>Transparency</h3>
  <p>
    Firefox illustration is meant to be used always without opacity.
  </p>
  <!--
  <% include contents/components/illustration-do-dont-placeholder.html %>
  -->
  <h3>Customization</h3>
  <p>
    It's not possible to alter an illustration in any way, or combine it with any other graphics, without the consent of the Content Team.
  </p>
  <!--
  <% include contents/components/illustration-do-dont-placeholder.html %>
  -->
  <h3>Dimensions</h3>
  <p>
    Illustration always keeps the same ratio. The should take maximum 40% of the available space, minimum 20%.
  </p>
  <!--
  <% include contents/components/illustration-do-dont-placeholder.html %>
  -->
</section>
