<header>
  <h1>Icons</h1>
  <p>Firefox icons are informative, fun and friendly.</p>
</header>

<section>
  <h2>Icon Construction</h2>
  <% include ../includes/icons/icons-icon-construction.html %>

  <h3>Grid</h3>
  <p>
    Most of Firefox Desktop icons live on a <strong>16&times;16 pixel</strong> grid. Some specific small icons, used in rare cases, live on <strong>12&times;12 pixel</strong> grid. Keep your shape weighted towards the middle area of the grid reserving the outer 1px margin for visual weighting and maintaining relative aspect ratios. Designing with the pixel grid on helps you ensure that the icons will not appear fuzzy in production. 
  </p>
  <% include ../includes/icons/icons-icon-grid.html %>
  <p>
    On Android icons are <strong>20&times;20</strong> with a bouding box of 24&times;24, according to the Material Design specs. On iOs icons live on <strong>24&times;24</strong> grid.
  </p>
  <% include ../includes/icons/icons-icon-grid-mobile.html %>


  <h3>Shape</h3>
  <p>
    Use positive and negative space to create the shape of your icon. When lines principally shape your icon use a 2px stroke for the foundation and a 1px line for extra details. Rounded end caps and rounded line joins keep the icon smooth and friendly. On the <strong>12&times;12</strong> icons, take in consideration to use just 1px stroke or going solid.
  </p>
  <% include ../includes/icons/icons-icon-shape.html %>
  <p>
    When you have two rounded corners running parallel, the outer corner has a larger radius, set on 3px, than the one on the inside, set on 1px.
  </p>
  <% include ../includes/icons/icons-icon-border.html %>
  <p>
    To keep the same look and feel across platforms, on <strong>iOS</strong> it's suggested to use a 3px strokes for the foundation and a 2px strokes for the details. Align the icons in north west corner when required. 
  </p>
  <figure>
    <img src="../images/icons/example-multiple-platform.png" alt="example with difference sizes for difference platforms">
    <figcaption>How the shape changes according to the platform</figcaption>
  </figure>
</section>

<section>
  <h2>Export Your Icon</h2>
  <p>
    Before exporting your icons, be sure to expand all the shapes and strokes overlapping each other. Remember to remove unnecessary anchor points to keep the icon as simple as possible.
  </p>
  <p>
    Name the artboard with the icon name. The name should describe the action of the icon, and not the icon itself. For example, when using a star as a metaphor for bookmarking, use <em>bookmark</em>, and not <em>star</em> as the name. Add a hyphen (<code>-</code>) to underline variations in the icon.
  </p>
  <% include ../includes/icons/icons-icon-naming.html %>
  <p>
    Finally, save your icon as SVG (and .png if you're working on mobile).
  </p>
  <blockquote>
    <p>
      If you are using Sketch, be sure to install the <a href="https://github.com/BohemianCoding/svgo-compressor">SVGO Compressor by Bohemian Coding</a>.
    </p>
  </blockquote>
</section>

<section>
  <h2>Color</h2>
  <p>
    Adapt your icon color according to your background.
  </p>
  <% include ../includes/icons/icons-icon-color-background.html %>
  <% include ../includes/icons/icons-icon-color-examples.html %>
  <h3>State</h3>
  <p>
    To better guide the user's eye, treats icons differently to create a better visual hierarchy.
  </p>
  <p>
    <strong>Primary icons</strong> are the main, and more frequent, actions on the page. From the interaction standpoint, a primary icon doesn't change its color: it usually comes within a button.
  </p>
  <p>
    <strong>Secondary icons</strong> are the subsdiary, and less frequent, actions on the page. For this reason, the secondary icon changes its presentation when the user interacts with it.
  </p>
  <% include ../includes/icons/icons-icon-state.html %>
</section>

<section>
  <h2>Accessibility</h2>
  <p>
    All icons should have a text-based equivalent for screen readers. If your icon allows interactivity, give it a text label.
  </p>
</section>
