<header>
  <h1>Typography</h1>
  <p>
    Good typography is invisible, enabling users to have a seamless experience while they're using Firefox products.
  </p>
</header>

<section>
  <h2>Typefaces</h2>
  <p>
    In Firefox products we use the standard typeface for each platform.
  </p>

  <h3>Windows</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/typography/typography-segoe.svg" alt="List of Segoe UI weights used in Firefox products">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        <a href="https://www.microsoft.com/typography/fonts/family.aspx?FID=331">Segoe UI</a> is the typeface used on the Windows platform.
      </p>
    </div>
  </div>

  <h3>macOS</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/typography/typography-san-francisco.svg" alt="List of San Francisco weights used in Firefox products">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        <a href="https://developer.apple.com/fonts/">San Francisco</a> is the standard typeface on Apple macOS.
      </p>
    </div>
  </div>

  <h3>Linux</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/typography/typography-ubuntu.svg" alt="List of Ubuntu weights used in Firefox products">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        <a href="http://font.ubuntu.com/">Ubuntu</a> is the typeface used in Ubuntu, the most common Linux distro.
      </p>
    </div>
  </div>

  <h3>Web products</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/typography/typography-fira-sans.svg" alt="List of Fira Sans weights used in Firefox products">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        <a href="https://mozilla.github.io/Fira/">Fira Sans</a> is the typeface used in Firefox web products.
      </p>
      <p>
        Despite <strong>Open Sans</strong> being used on some Mozilla web properties, it is currently not recommended for Firefox products.
      </p>
    </div>
  </div>

  <h3>Android</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/typography/typography-roboto.svg" alt="List of Roboto weights used in Firefox products">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        <a href="https://fonts.google.com/specimen/Roboto">Roboto</a> is the standard typeface on Android. <strong>Noto</strong> is the standard Android typeface for all languages not covered by Roboto.
      </p>
    </div>
  </div>

  <h3>iOS</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img src="../images/typography/typography-san-francisco.svg" alt="List of San Francisco weights used in Firefox products">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        <a href="https://developer.apple.com/fonts/">San Francisco</a> is the standard typeface on the Apple iOS. 
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Scale</h2>
  <p>
    The type scale enables you to indicate content hierarchy. These sizes and styles are designed to balance content density with increased readability.
  </p>
  <% include ../includes/typography/typography-table-overview.html %>
</section>

<section>
  <h2>Color</h2>
  <p>
     Choose a text color based on the content's purpose and priority.
  </p>
  <p>
    Use a primary color for main titles and body text.
  </p>
  <% include ../includes/typography/typography-primary-color.html %>
  <p>
    Use a secondary color for accompanying text that adds further information, details, or features to the primary content. Examples include caption text and menu subtitles.
  </p>
  <% include ../includes/typography/typography-secondary-color.html %>
</section>

<section>
  <h2>Usage</h2>
  <h3>Display</h3>
  <p>
    Use display style for delivering primary messages on content pages.
  </p>
  <figure>
    <img src="../images/typography/typography-usage-1.svg" alt="display example">
    <figcaption>Display 20 in an error page on Desktop</figcaption>
  </figure>
  <h3>Title</h3>
  <p>
    Use title style to summarize content that follows the title. Carefully pairing titles makes content hierarchy obvious and improves readability.
  </p>
  <figure>
    <img src="../images/typography/typography-usage-2.svg" alt="Title example">
    <figcaption>Title 30 pairing with Title 20 in Firefox Preferences on Desktop</figcaption>
  </figure>
  <h3>Emphasis</h3>
  <p>
    Use emphasized style on body text or a caption that needs to stand out from regular content. 
  </p>
  <figure>
    <img src="../images/typography/typography-usage-3.svg" alt="Emphasis example">
    <figcaption>Emphasize on "Firefox is up to date" in Firefox Preferences on Desktop</figcaption>
  </figure>
  <h3>Font Pairing</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns ph2 mb3">
      <p>
        Font styles should typically be paired. But font styles may also be combined to indicate hierarchy or priority.
      </p>
      <figure>
        <img src="../images/typography/typography-usage-4.svg" alt="Pairing example">
        <figcaption>Style set 10 in Library menu on Desktop</figcaption>
      </figure>
    </div>
  </div>
</section>


<section>
  <h2>Line Length</h2>
  <p>
    The number of characters per line influences readability. Studies indicate the following guidelines for English: 
    <ul>
      <li><strong>Satisfactory</strong> 45-75 characters (desktop) or 35-40 characters (mobile) per line is widely regarded as a satisfactory line length.</li>
      <li><strong>Optimal</strong> Around 66 characters (desktop) or 39 characters (mobile) is optimal.</li>
      <li><strong>Too long</strong> More than 90 characters (desktop) or 50 characters (mobile) is likely too long for continuous reading.</li>
    </ul>
  </p>
  <figure>
    <img src="../images/typography/typography-linelength.svg" alt="line length">
    <figcaption>Line lengths within the light blue range are satisfactory, while entering the dark blue range are tolerant.</figcaption>
  </figure>
</section>
