<header>
  <h1>Typography</h1>
  <p>
    Good typography is invisible, enabling users to have a seamless experience while they're using Firefox products.
  </p>
</header>

<section>
  <h2>Typefaces</h2>
  <p>
    In Firefox products we use the standard typeface for each platform.
  </p>
  <form>
    <% include ../includes/typography/typography-platform-fonts.html %>
  </form>
</section>

<section>
  <h2>Scale</h2>
  <p>
    The type scale enables you to indicate content hierarchy. These sizes and styles are designed to balance content density with increased readability.
  </p>
  <% include ../includes/typography/typography-simply.html %>

  <h3>The Scaling Ratio</h3>
  <p>
    The base for the Photon type scale is <strong>1em</strong>. The ratio used to create the rest of the scale is <strong>1.2</strong>. The ratio is multiplied by the base to produce a scale of numbers that is proportionally related.
    To provide more color to the scale, we skip one step every five.
  </p>
</section>
<section>
  <h2>Line-height</h2>
  <p>Ideal line-heights for standard copy have a ratio of 1:1.4 (typesize : line-height). For example, a type at 16px/1rem would have a line-height of 1.4rem/22px (16 x 1.4). The exception to this rule are headings, which need less spacing. The ideal ratio is 1:1.25.</p>
  <% include ../includes/typography/typography-lh-text.html %>
</section>
<section>
  <h2>Font Weight</h2>
  <p>Font weight helps to add emphasis and is used to differentiate content hierarchy. A bold weight will have more emphasis than a lighter weight font of the same size.  However, a lighter weight text can rank hierarchically higher than a bold text if the lighter weight type size is significantly larger than the bold.</p>
  <% include ../includes/typography/typography-fw.html %>
</section>



<section>
  <h2>Color</h2>
  <p>
     Choose a text color based on the content's purpose and priority.
  </p>
  <% include ../includes/typography/typography-themes.html %>
<!--   <h3>Primary Color</h3>
  <p>
    Use a primary color for main titles and body text.
  </p>
  <% include ../includes/typography/typography-primary-color.html %>
  <h3>Secondary Color</h3>
  <p>
    Use a secondary color for accompanying text that adds further information, details, or features to the primary content. Examples include caption text and menu subtitles.
  </p>
 -->
</section>

<section>
  <h2>Line Length</h2>
  <p>
    The number of characters per line influences readability. Studies indicate the following guidelines for English:
    <ul>
      <li><strong>Satisfactory</strong> <br>45-75 characters (desktop) or 35-40 characters (mobile) per line is widely regarded as a satisfactory line length.</li>
      <li><strong>Optimal</strong> <br>Around 66 characters (desktop) or 39 characters (mobile) is optimal.</li>
      <li><strong>Too long</strong> <br>More than 90 characters (desktop) or 50 characters (mobile) is likely too long for continuous reading.</li>
    </ul>
  </p>
  <figure>
    <img src="../images/typography/typography-linelength.svg" alt="line length">
    <figcaption>Line lengths within the light blue range are satisfactory, while entering the dark blue range are tolerant.</figcaption>
  </figure>
</section>

<!-- <section>
  <h2>Usage</h2>
  <h3>Display</h3>
  <p>
    Use display style for delivering primary messages on content pages.
  </p>
  <figure>
    <img src="../images/typography/typography-usage-1.svg" alt="display example">
    <figcaption>Display 20 in an error page on Desktop</figcaption>
  </figure>
  <h3>Title</h3>
  <p>
    Use title style to summarize content that follows the title. Carefully pairing titles makes content hierarchy obvious and improves readability.
  </p>
  <figure>
    <img src="../images/typography/typography-usage-2.svg" alt="Title example">
    <figcaption>Title 30 pairing with Title 20 in Firefox Preferences on Desktop</figcaption>
  </figure>
  <h3>Emphasis</h3>
  <p>
    Use emphasized style on body text or a caption that needs to stand out from regular content.
  </p>
  <figure>
    <img src="../images/typography/typography-usage-3.svg" alt="Emphasis example">
    <figcaption>Emphasize on "Firefox is up to date" in Firefox Preferences on Desktop</figcaption>
  </figure>
  <h3>Font Pairing</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns ph2 mb3">
      <p>
        Font styles should typically be paired. But font styles may also be combined to indicate hierarchy or priority.
      </p>
      <figure>
        <img src="../images/typography/typography-usage-4.svg" alt="Pairing example">
        <figcaption>Style set 10 in Library menu on Desktop</figcaption>
      </figure>
    </div>
  </div>
</section>
 -->