<div class="flex flex-wrap" data-tabs>
  <input class="dn" type="radio" name="bh-tabs" id="bh-mb-generic" checked="checked">
  <label class="pa2 order-1-m db mb3" for="bh-mb-generic">Generic</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./bh-mb-generic.html %>
  </div>

  <input class="dn" type="radio" name="bh-tabs" id="bh-mb-success">
  <label class="pa2 order-1-m db mb3" for="bh-mb-success">Success</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./bh-mb-success.html %>
  </div>

  <input class="dn" type="radio" name="bh-tabs" id="bh-mb-warning">
  <label class="pa2 order-1-m db mb3" for="bh-mb-warning">Warning</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./bh-mb-warning.html %>
  </div>

  <input class="dn" type="radio" name="bh-tabs" id="bh-mb-error">
  <label class="pa2 order-1-m db mb3" for="bh-mb-error">Errors</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./bh-mb-error.html %>
  </div>
</div>
