<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td> Blue-60 <code>#0a84ff</code></td>
        </tr>
        <tr>
          <td>Hover</td>
          <td>Blue-70 <code>#0060df</code></td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td>Blue-80 <code>#003eaa</code></td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="fl-ns w-50-ns ph2"> 
       <img class="w-100-ns" src="../images/message-bars/btn-generic.svg" alt="pairing example">
    </div>
  </div>
  