<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Grey-90 <code>#0c0c0d</code>, 10% opacity</td>
        </tr>
        <tr>
          <td>Hover</td>
          <td>Grey-90 <code>#0c0c0d</code>, 20% opacity</td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td>Grey-90 <code>#0c0c0d</code>, 30% opacity</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="fl-ns w-50-ns ph2"> 
       <img class="w-100-ns" src="../images/message-bars/btn-generic.svg" alt="pairing example">
    </div>
  </div>
  