<h3>
    Sizes and grid
  </h3>
   <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">  
    <p>
      Message bars have a fixed min-height and width may vary depending on the content. It cannot grow more than its parent container.
    </p>
    </div>
    <div class="fl-ns w-50-ns ph2"> 
       <img class="w-100-ns" src="../images/message-bars/sizes-one-line.svg" alt="pairing example">
    </div>
  </div>
  <h3>
    Color
  </h3>
   <div class="cf nr2 nl2">

    <div class="fl-ns w-50-ns ph2">
      <p><strong>Background:</strong> Teal-50 <code>#00feff</code></p>
      <p><strong>Text:</strong> Teal-90 <code>##00feff</code></p>
      <h5>BUTTONS</h5>
      <p>Default: Teal-60 <code>#00c8d7</code></p>
      <p>Hover: Teal-70 <code>#008ea4</code></p>
      <p>Pressed: Teal-80 <code>#005a71</code></p>
    </div>
    <div class="fl-ns w-50-ns ph2">
       <img class="w-100-ns" src="../images/message-bars/btn-attention.svg" alt="pairing example">
    </div>
  </div>
  
  <h3>
    Icon
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2"> 
      <p>
       Icons may provide additional clarity. Icons should be placed to the left of a title or message. These glyphs (16x16) can be found in the <a href="http://design.firefox.com/icons/">icons library</a>.
      </p>
      <p>
        Icons always have a <code>4px</code> padding all around.
      </p>
      <p><strong>Type:</strong> Attention icon </p>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/i-att.svg" alt="pairing example">
    </div>
  </div>
  
  <h3>
    Typography
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <p>
        The body of the message should be contained within two lines. Be descriptive and include any troubleshooting actions. 
      </p>
       <strong>Font-style:</strong>Body-10, 13px Regular <code>400</code> 
      </p>
    </div>
    <div class="fl-ns w-50-ns ph2"> 
      <img class="w-100-ns" src="../images/message-bars/title.svg" alt="pairing example">
    </div>
  </div>