<h3>
    Sizes and grid
  </h3>
   <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">  
    <p>
      Message bars have a fixed min-height. Width may vary depending on the content. A message bar cannot grow more than its parent container.
    </p>
    </div>
    <div class="fl-ns w-50-ns ph2"> 
       <img class="w-100-ns" src="../images/message-bars/s-suc.svg" alt="pairing example">
    </div>
  </div>
  <h3>
    Color
  </h3>
   <div class="cf nr2 nl2">

    <div class="fl-ns w-50-ns ph2">
      <p><strong>Background:</strong> Green-50 <code>#30e60b</code></p>
      <p><strong>Text:</strong> Green-90 <code>#003706</code></p>
      <h5>BUTTONS</h5>
      <p>Default: Green-60 <code>#12bc00</code></p>
      <p>Hover: Green-70 <code>#058b00</code></p>
      <p>Pressed: Green-80 <code>#006504</code></p>
    </div>
    <div class="fl-ns w-50-ns ph2">
       <img class="w-100-ns" src="../images/message-bars/btn-success.svg" alt="pairing example">
    </div>
  </div>
  
  <h3>
    Icon
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2"> 
      <p>
       Icons may provide additional clarity. Icons should be placed to the left of a title or message. These glyphs (16x16) can be found in the <a href="http://design.firefox.com/icons/">icons library</a>.
      </p>
      <p>
        Icons always have a <code>4px</code> padding all around.
      </p>
      <p><strong>Type:</strong> <a href="http://design.firefox.com/icons/viewer/#check">Check</a> </p>
    </div>
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/i-suc.svg" alt="pairing example">
    </div>
  </div>
  
  <h3>
    Typography
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <p>
        The body of the message should be contained within two lines. Be descriptive and include any troubleshooting actions. 
      </p>
      <p>
        <strong>Message: </strong>Body-10, 13px Regular <code>400</code>
      </p>
       <p>
        <strong>Button: </strong>Body-10, 13px Regular <code>700</code>. Being the text in uppercase, set your font-size to 90%.
      </p>
    </div>
    <div class="fl-ns w-50-ns ph2"> 
      <img class="w-100-ns" src="../images/message-bars/t-suc.svg" alt="pairing example">
    </div>
  </div>