<h3>Sizes and grid</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/s-gen.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Message bars have a fixed min-height. Width may vary depending on the content. A message bar cannot grow more than its parent container.
    </p>
  </div>
</div>

<h3>Color</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/c-gen.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p><strong>Background:</strong> Grey 20 <code>#ededf0</code></p>
    <p><strong>Text:</strong> Grey 90 <code>#0c0c0d</code></p>
    <h5>BUTTONS</h5>
    <p>Default: Blue 60 <code>#0a84ff</code></p>
    <p>Hover: Blue 70 <code>#0060df</code></p>
    <p>Pressed: Blue 80 <code>#003eaa</code></p>
  </div>
</div>
  
<h3>Icon</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2">
    <img class="w-100-ns" src="../images/message-bars/i-gen.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2"> 
    <p>
     Icons may provide additional clarity. Icons should be placed to the left of a title or message. These glyphs (16x16) can be found in the <a href="http://design.firefox.com/icons/">icons library</a>.
    </p>
    <p>
      Icons always have a <code>4px</code> padding all around.
    </p>
    <p><strong>Type:</strong> <a href="http://design.firefox.com/icons/viewer/#identity%20icon%20hover">Identity Icon Hover</a> </p>
  </div>
</div>
  
<h3>Typography</h3>
<div class="cf nr2 nl2">
  <div class="fl-ns w-50-ns ph2"> 
    <img class="w-100-ns" src="../images/message-bars/t-gen.svg" alt="pairing example">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      The body of the message should be contained within two lines. Be descriptive and include any troubleshooting actions. 
    </p>
    <p>
      <strong>Message: </strong>Body 10, 13px Regular <code>400</code>
    </p>
     <p>
      <strong>Button: </strong>Body 10, 13px Regular <code>400</code>.
    </p>
  </div>
</div>