<div class="flex flex-wrap" data-tabs>
  <input class="dn" type="radio" name="st-tabs" id="mb-generic" checked>
  <label class="pa2 order-1-m db mb3" for="mb-generic">Generic</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./st-mb-generic.html %>
  </div>

  <input class="dn" type="radio" name="st-tabs" id="mb-success">
  <label class="pa2 order-1-m db mb3" for="mb-success">Success</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./st-mb-success.html %>
  </div>

  <input class="dn" type="radio" name="st-tabs" id="mb-warning">
  <label class="pa2 order-1-m db mb3" for="mb-warning">Warning</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./st-mb-warning.html %>
  </div>

  <input class="dn" type="radio" name="st-tabs" id="mb-errors">
  <label class="pa2 order-1-m db mb3" for="mb-errors">Errors</label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./st-mb-error.html %>
  </div>
</div>
