<div class="cf nr2 nl2">
  <div class="fl-ns w-third-ns ph2 mb3">
    <figure>
      <img class="db w-100-ns" src="../images/icons/naming-do1.svg" alt="naming does">
      <% include ../global/do.html %>
    </figure>
  </div>
  <div class="fl-ns w-third-ns ph2 mb3">
    <figure>
      <img class="db w-100-ns" src="../images/icons/naming-do2.svg" alt="naming does">
      <% include ../global/do.html %>
    </figure>
  </div>
  <div class="fl-ns w-third-ns ph2 mb3">
    <figure>
      <img class="db w-100-ns" src="../images/icons/naming-dont.svg" alt="naming doesnt">
      <% include ../global/dont.html %>
    </figure>
  </div>
</div>
