<div class="cf nr2 nl2">
  <div class="fl-ns w-third-ns ph2 mb3">
    <figure>
      <img class="db w-100-ns" src="../images/iconography/border-do.svg" alt="border 3px outside 1px inside">
      <% include ../global/do.html %>
    </figure>
  </div>
  <div class="fl-ns w-third-ns ph2 mb3">
    <figure>
      <img class="db w-100-ns" src="../images/iconography/border-dont1.svg" alt="border 3px outside 3px inside">
      <% include ../global/dont.html %>
    </figure>
  </div>
  <div class="fl-ns w-third-ns ph2 mb3">
    <figure>
      <img class="db w-100-ns" src="../images/iconography/border-dont2.svg" alt="border 1px outside 1px inside">
      <% include ../global/dont.html %>
    </figure>
  </div>
</div>
