/*
  Main
*/
/*
  Variables
*/
:root {
  --orange-5: #ffaa00;
  --orange-6: #cc7700;
  --orange-7: #994c00;
  --orange-8: #662a00;
  --orange-9: #270d00;
  --magenta-5: #fe1bd9;
  --magenta-6: #e001bb;
  --magenta-7: #a9008c;
  --magenta-8: #70005d;
  --magenta-9: #2b0023;
  --violet-5: #7e04ff;
  --violet-6: #6503cc;
  --violet-7: #4c0199;
  --violet-8: #330166;
  --violet-9: #140027;
  --blue-5: #0087ff;
  --blue-6: #0052cc;
  --blue-7: #003399;
  --blue-8: #002266;
  --blue-9: #000f2b;
  --aqua-5: #0cffff;
  --aqua-6: #06d1e6;
  --aqua-7: #039ec0;
  --aqua-8: #004c66;
  --aqua-9: #001a27;
  --green-5: #37f709;
  --green-6: #0bd000;
  --green-7: #069b18;
  --green-8: #026811;
  --green-9: #001a04;
  --yellow-5: #d9ff18;
  --yellow-6: #96e100;
  --yellow-7: #55a900;
  --yellow-8: #397000;
  --yellow-9: #0e1d00;
  --grey-5: #f0f0f0;
  --grey-6: #d4d4d4;
  --grey-7: #999999;
  --grey-8: #6e6e6e;
  --grey-9: #404040;
}

/*
  Overwrite and add classes to Tachyons CSS
*/
code, .code {
  font-family: "Fira Mono";
}

.fira {
  font-family: "Fira Sans";
}

.blue {
  color: var(--blue-5);
}

.font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 60em) {
  .w-6-l {
    width: 32rem;
  }
}

/*
  For pages under /contents

  These styles are used for enabling content creators and editors to
  write plain HTML without worrying about CSS classes.
*/
/* Header */
article header {
  margin-bottom: 2rem;
}

article header h1 {
  font-weight: 500;
  margin: 0 0 2rem;
}

article header p {
  margin: 0 0 2rem;
}

article header ul {
  list-style-type: none;
  padding: 0;
}

article header li:not(:last-child) {
  padding: 0 0 1rem;
}

article header li:last-child {
  padding-bottom: 0;
}

article header a {
  color: var(--blue-5);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 60em) {
  article header {
    margin-bottom: 4rem;
  }
}

/* Section typography */
article section h2, article section h3, article section h4, article section strong {
  font-weight: 500;
}

article section h1 {
  margin: 0 0 2rem;
}

article section h2 {
  margin: 3rem 0 1rem;
}

article section h3, article section h4 {
  margin: 2rem 0 1rem;
}

article section p, article section ul {
  margin: 0 0 1rem;
  line-height: 1.4;
}

article section a {
  color: var(--blue-5);
  text-decoration: none;
}

article section figure {
  margin: 0 0 1rem;
}

article section figure figcaption {
  margin-top: 0.5rem;
  font-size: small;
}

/* Section blockquote */
article section blockquote {
  background-color: #f4f4f4;
  padding: 1rem 1rem 0.25rem 1rem;
  margin: 0 0 1rem;
}

@media screen and (min-width: 60em) {
  article section blockquote {
    width: 50%;
  }
}

article section blockquote h4 {
  margin-top: 0;
}

article section blockquote ul {
  list-style-type: none;
  padding-left: 0;
}

article section blockquote li {
  margin-bottom: 0.5rem;
}

/* Section table */
article section table {
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: small;
  margin-bottom: 1rem;
  table-layout: auto;
  width: 100%;
}

@media screen and (min-width: 30em) {
  article section table {
    font-size: initial;
  }
}

article section table thead {
  background-color: #f4f4f4;
}

article section table th {
  border: 1px solid #eee;
  font-weight: 500;
  text-align: left;
  padding: 0.5rem 0.75rem;
}

@media screen and (min-width: 30em) {
  article section table th {
    padding: 0.75rem 1rem;
  }
}

article section table td {
  border: 1px solid #eee;
  padding: 0.5rem 0.75rem;
}

@media screen and (min-width: 30em) {
  article section table td {
    padding: 0.75rem 1rem;
  }
}

/*
  Global
*/
