/* stylelint-disable property-no-vendor-prefix */

@import "content-base";

html,
body {
  background-color: $color-panel-background;
  box-sizing: border-box;
  color: #222426;
  cursor: default;
  display: flex;
  flex-direction: column;
  font: caption;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
}

body * {
  box-sizing: border-box;
  text-align: start;
}

@import "controls-content";
@import "inputs-content";
@import "panels-content";
