// scss-lint:disable ColorVariable,IdSelector

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
ul {
  margin: 0;
}

html,
body,
#mount {
  height: 100%;
}

body {
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 28px;
}

h3 {
  font-weight: 300;
}

.app {
  color: #0c0c0c;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  background-color: #ff9216;
  display: flex;
  flex: 0 0 200px;
  padding: 0;
  transition: background-color 150ms ease-in-out;
  z-index: 2;

  > .title {
    background-color: #c84510;
    color: #fff;
    flex: 0 0 200px;
    margin: 0;
    padding: 10px;
    transition: background-color 150ms ease-in-out;
  }

  > .section {
    flex: 1;
    padding: 20px;

    > input {
      float: right;
      font-size: 16px;
      padding: 6px;
    }
  }
}

.sticky {
  background-color: #ff9216;
  display: flex;
  flex: 0 0 2em;
  padding: 0 0 0 230px;
  position: fixed;
  top: 50px;
  transition: background-color 150ms ease-in-out;
  width: 100%;
  z-index: 1;

  > .breadcrumbs {
    color: #fff;
    flex: 1;
    margin: 0;
    padding: 10px;
    transition: background-color 150ms ease-in-out;
  }

  > .nav-buttons {
    color: #fff;
    flex: 0 0 100px;
    margin: 0;
    padding: 10px;
    transition: background-color 150ms ease-in-out;

  }
}

.nav-buttons button {
  border: 1px solid #b1b1b1;
  border-radius: 0;
  height: 24px;
  width: 24px;

  &:active {
    background-color: #d4d4d4;
    color: #fff;
  }

  &:first-child {
    border-right: 0;
  }

}

.toc {
  background-color: #fff;
  flex: 0 0 200px;
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}


.editor {
  background-color: #ffad2e;
  color: #fff;
  flex: 1;
  font-weight: 400;
  padding: 10px;
  transition: background-color 150ms ease-in-out;
}
