body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.toc {
  position: fixed;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
}

.colour-swatch {
  color: white;
  margin: .5em;
  width: 10em;
  padding-top: 4em;
  text-align: left;
  font-size: smaller;
}
