$toc-width: 290px;
$toc-padding: $toc-width + 88px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
ul {
  margin: 0;
}

html,
body,
#mount {
  height: 100%;
}

body {
  background-color: #fbfbfb;
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

welcome {
  display: inline-block;
  font-size: 67px;
  font-style: italic;
  font-weight: 300;
  line-height: 57px;
  max-width: 160px;
  padding-top: 18px;
}

.block2.welcome {
  padding-top: 36px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

.app {
  color: #0c0c0c;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.toc {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  position: fixed;
  width: $toc-width;
}

.editor {
  color: #6a6a6a;
  flex: 1;
  font-weight: 300;
  margin-left: $toc-padding;
  padding: 10px;
}
