/* Variables */

$color-grey-lightest: #fbfbfb;
$color-grey-lighter: #ebebeb;
$color-grey-light: #d4d4d4;
$color-grey: #b1b1b1;
$color-grey-dark: #858585;
$color-grey-disabled: #666;

$color-blue: #0996f8;
$color-blue-dark: #0670cc;
$color-blue-darker: #005bab;
$color-blue-darkest: #004480;
$color-blue-focusRing: hsla(208, 100%, 69%, .75);

$border-radius-osx: 4px;

/* Buttons */

button {
  background-color: $color-grey-lightest;
  border: 1px solid $color-grey;
  font: caption;
  height: 24px;
  outline: 0 !important;
  padding: 0 8px 0;
  width: 80px;
}

button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

.mac button {
  border-radius: $border-radius-osx;
}

.other button {
  border-radius: 0;
}

button.hover {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

button.pressed {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
}

button.disabled {
  color: $color-grey-disabled;
  opacity: .5;
}

button.focused {
  border-color: #fff;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}

button.default {
  background-color: $color-blue;
  border-color: $color-blue-dark;
  color: #fff;
}

button.default.hover {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

button.default.pressed {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

button.default.focused {
  border-color: #fff;
}

/* Interactive States */

button:hover:not(.pressed):not(.disabled):not(.focused) {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

button:hover:active:not(.hover):not(.disabled):not(.focused) {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
}

button.default:hover:not(.pressed):not(.disabled):not(.focused) {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

button.default:hover:active:not(.hover):not(.disabled):not(.focused) {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

button:focus {
  border-color: #fff !important;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}
