// scss-lint:disable ColorVariable

// Colour Schemes.

.app.visual-design {
  .sticky {
    background-color: #d92215;
  }

  .toolbar {
    background-color: #d92215;

    > .title {
      background-color: #881606;
    }
  }

  .toc .selected {
    border-left-color: #881606;
  }

  .editor {
    background-color: #ee4b36;
  }
}

.app.components {
  .sticky {
    background-color: #57bd35;
  }

  .toolbar {
    background-color: #57bd35;

    > .title {
      background-color: #2e761a;
    }
  }

  .toc .selected {
    border-left-color: #2e761a;
  }

  .editor {
    background-color: #70cf5b;
  }
}

.app.resources {
  .sticky {
    background-color: #0996f8;
  }

  .toolbar {
    background-color: #0996f8;

    > .title {
      background-color: #025295;
    }
  }

  .toc .selected {
    border-left-color: #025295;
  }

  .editor {
    background-color: #2ea3ff;
  }
}
