/*csslint adjoining-classes:false */

/* Colour Schemes. */

.app.visual-design .toolbar > .title {
  background-color: #881606;
}

.app.visual-design .toc .selected {
  border-left-color: #881606;
}

.app.visual-design .toolbar {
  background-color: #d92215;
}

.app.visual-design .editor {
  background-color: #ee4b36;
}


.app.components .toolbar > .title {
  background-color: #2e761a;
}

.app.components .toc .selected {
  border-left-color: #2e761a;
}

.app.components .toolbar {
  background-color: #57bd35;
}

.app.components .editor {
  background-color: #70cf5b;
}


.app.patterns .toolbar > .title {
  background-color: #025295;
}

.app.patterns .toc .selected {
  border-left-color: #025295;
}

.app.patterns .toolbar {
  background-color: #0996f8;
}

.app.patterns .editor {
  background-color: #2ea3ff;
}


.app.resources .toolbar > .title {
  background-color: #911a2e;
}

.app.resources .toc .selected {
  border-left-color: #911a2e;
}

.app.resources .toolbar {
  background-color: #ea385e;
}

.app.resources .editor {
  background-color: #fa526e;
}
