/* stylelint-disable property-no-vendor-prefix */

/* Buttons */

button,
select {
  background-color: $color-grey-lightest;
  border: 1px solid $color-grey;
  box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0);
  font: caption;
  height: 24px;
  outline: 0 !important;
  padding: 0 8px;
  transition-duration: 250ms;
  transition-property: box-shadow, border;
}

select {
  background-image: url("../../images/controls/Arrow-Dropdown.svg");
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  -moz-padding-end: 24px;
  text-overflow: ellipsis;
}

label {
  font: caption;
}

button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

/* Dropdowns */

select {
  background-color: $color-grey-lightest;
  border: 1px solid $color-grey;
  box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0);
  font: caption;
  height: 24px;
  outline: 0 !important;
  padding: 0 8px;
  transition-duration: 250ms;
  transition-property: box-shadow, border;
}

select {
  background-image: url("../../images/controls/Arrow-Dropdown.svg");
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  -moz-padding-end: 24px;
  text-overflow: ellipsis;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select:-moz-focusring * {
  color: #000;
  text-shadow: none;
}

button.hover,
select.hover {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

button.pressed,
select.pressed {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
}

button.disabled,
select.disabled {
  color: $color-grey-disabled;
  opacity: .5;
}

button.focused,
select.focused {
  border-color: #fff;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}

button.default {
  background-color: $color-blue;
  border-color: $color-blue-dark;
  color: #fff;
}

button.default.hover {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

button.default.pressed {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

button.default.focused {
  border-color: #fff;
}

/* Radio Buttons */

.radioItem {
  margin-bottom: 6px;
  text-align: left;
}

input[type="radio"] {
  -moz-appearance: radio;
}

.radioItem.disabled input[type="radio"] + label,
.radioItem.disabled input[type="radio"]:hover + label,
.radioItem.disabled input[type="radio"]:hover:active + label {
  color: $color-grey-disabled;
  opacity: .5;
}

/* Checkboxes */

.checkboxItem {
  margin-bottom: 6px;
  text-align: left;
}

input[type="checkbox"] {
  -moz-appearance: checkbox;
}

.checkboxItem.disabled input[type="checkbox"] + label,
.checkboxItem.disabled input[type="checkbox"]:hover + label,
.checkboxItem.disabled input[type="checkbox"]:hover:active + label {
  color: $color-grey-disabled;
  opacity: .5;
}

/* Expander Button */
button.expander {
  background-image: url("../../images/controls/Arrow-Dropdown.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  padding: 0;
  width: 24px;
}

/* Interactive States */

button:hover:not(.pressed):not(.disabled):not(.focused),
select:hover:not(.pressed):not(.disabled):not(.focused) {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

button:hover:active:not(.hover):not(.disabled):not(.focused),
select:hover:active:not(.hover):not(.disabled):not(.focused) {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
}

button.default:hover:not(.pressed):not(.disabled):not(.focused) {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

button.default:hover:active:not(.hover):not(.disabled):not(.focused) {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

button:focus:not(.disabled) {
  border-color: #fff !important;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}
