/* stylelint-disable property-no-vendor-prefix */

/* Base */

button,
select,
option,
input {
  -moz-appearance: none;
}

/* Variables */

$color-grey-lightest: #fbfbfb;
$color-grey-lighter: #ebebeb;
$color-grey-light: #d4d4d4;
$color-grey: #b1b1b1;
$color-grey-dark: #858585;
$color-grey-disabled: #666;

$color-blue: #0996f8;
$color-blue-dark: #0670cc;
$color-blue-darker: #005bab;
$color-blue-darkest: #004480;
$color-blue-focusRing: hsla(208, 100%, 69%, .75);

$border-radius-osx: 4px;

/* Buttons */

button,
select {
  background-color: $color-grey-lightest;
  border: 1px solid $color-grey;
  font: caption;
  height: 24px;
  outline: 0 !important;
  padding: 0 8px 0;
  width: 80px;
}

select {
  background-image: url("../../images/controls/Arrow-Dropdown.svg");
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  -moz-padding-end: 24px;
  text-overflow: ellipsis;
  width: 216px;
}

button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; /* your normal text color here */
}

select:-moz-focusring * {
  color: #000; /* your normal text color here */
  text-shadow: none;
}

.mac button,
.mac select {
  border-radius: $border-radius-osx;
}

button.hover,
select.hover {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

button.pressed,
select.pressed {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
}

button.disabled,
select.disabled {
  color: $color-grey-disabled;
  opacity: .5;
}

button.focused,
select.focused {
  border-color: #fff;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}

button.default {
  background-color: $color-blue;
  border-color: $color-blue-dark;
  color: #fff;
}

button.default.hover {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

button.default.pressed {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

button.default.focused {
  border-color: #fff;
}

/* Interactive States */

button:hover:not(.pressed):not(.disabled):not(.focused),
select:hover:not(.pressed):not(.disabled):not(.focused) {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

button:hover:active:not(.hover):not(.disabled):not(.focused),
select:hover:active:not(.hover):not(.disabled):not(.focused) {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
}

button.default:hover:not(.pressed):not(.disabled):not(.focused) {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

button.default:hover:active:not(.hover):not(.disabled):not(.focused) {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

button:focus:not(.disabled) {
  border-color: #fff !important;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}
