
/* stylelint-disable property-no-vendor-prefix */

/* Base */

button,
select,
option,
input {
  -moz-appearance: none;
}

/* Variables */

$color-grey-lightest: #fbfbfb;
$color-grey-lighter: #ebebeb;
$color-grey-light: #d4d4d4;
$color-grey: #b1b1b1;
$color-grey-dark: #858585;
$color-grey-disabled: #666;

$color-blue: #0996f8;
$color-blue-dark: #0670cc;
$color-blue-darker: #005bab;
$color-blue-darkest: #004480;
$color-blue-focusRing: hsla(208, 100%, 69%, .75);

$border-radius-osx: 4px;

/* Buttons */

button,
select {
  background-color: $color-grey-lightest;
  border: 1px solid $color-grey;
  font: caption;
  height: 24px;
  outline: 0 !important;
  padding: 0 8px 0;
  width: 80px;
}

select {
  background-image: url("../../images/controls/Arrow-Dropdown.svg");
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  -moz-padding-end: 24px;
  text-overflow: ellipsis;
  width: 216px;
}

label {
  font: caption;
}

button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; /* your normal text color here */
}

select:-moz-focusring * {
  color: #000; /* your normal text color here */
  text-shadow: none;
}

.mac button,
.mac select,
.mac input[type="checkbox"] + label::before {
  border-radius: $border-radius-osx;
}

button.hover,
select.hover {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

button.pressed,
select.pressed {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
}

button.disabled,
select.disabled {
  color: $color-grey-disabled;
  opacity: .5;
}

button.focused,
select.focused {
  border-color: #fff;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}

button.default {
  background-color: $color-blue;
  border-color: $color-blue-dark;
  color: #fff;
}

button.default.hover {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

button.default.pressed {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

button.default.focused {
  border-color: #fff;
}

/* Radio Buttons */

.radioItem {
  margin-bottom: 6px;
  text-align: left;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  -moz-user-select: none;
}

input[type="radio"] + label::before {
  background-color: #fff;
  background-position: center;
  border: 1px solid $color-grey;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 6px;
  vertical-align: text-top;
  width: 16px;
}

input[type="radio"]:hover + label::before,
.radioItem.hover input[type="radio"]:not(active) + label::before {
  background-color: $color-grey-lightest;
  border-color: $color-grey;
}

input[type="radio"]:hover:active + label::before,
.radioItem.pressed input[type="radio"]:not(active) + label::before {
  background-color: $color-grey-lighter;
  border-color: $color-grey-dark;
}

input[type="radio"]:checked + label::before {
  background-color: $color-blue;
  background-image: url("../../images/controls/Radio-Checked.svg");
  border-color: $color-blue-dark;
}

input[type="radio"]:checked:hover + label::before,
.radioItem.hover input[type="radio"]:checked:not(active) + label::before {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

input[type="radio"]:checked:hover:active + label::before,
.radioItem.pressed input[type="radio"]:checked:not(active) + label::before {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

.radioItem.disabled input[type="radio"] + label,
.radioItem.disabled input[type="radio"]:hover + label,
.radioItem.disabled input[type="radio"]:hover:active + label {
  color: $color-grey-disabled;
  opacity: .5;
}

.radioItem.focused input[type="radio"] + label::before {
  border-color: $color-blue;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}

.radioItem.focused input[type="radio"]:checked + label::before {
  border-color: #fff;
}

/* --Checkbox-- */

.checkboxItem {
  margin-bottom: 6px;
  text-align: left;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  -moz-user-select: none;
}

input[type="checkbox"] + label::before {
  background-color: #fff;
  background-position: center;
  border: 1px solid $color-grey;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 6px;
  vertical-align: text-top;
  width: 16px;
}

input[type="checkbox"]:hover + label::before,
.checkboxItem.hover input[type="checkbox"]:not(active) + label::before {
  background-color: $color-grey-lightest;
  border-color: $color-grey;
}

input[type="checkbox"]:hover:active + label::before,
.checkboxItem.pressed input[type="checkbox"]:not(active) + label::before {
  background-color: $color-grey-lighter;
  border-color: $color-grey-dark;
}

input[type="checkbox"]:checked + label::before {
  background-color: $color-blue;
  background-image: url("../../images/controls/Checkbox-Checked.svg");
  border-color: $color-blue-dark;
}

input[type="checkbox"]:checked:hover + label::before,
.checkboxItem.hover input[type="checkbox"]:checked:not(active) + label::before {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

input[type="checkbox"]:checked:hover:active + label::before,
.checkboxItem.pressed input[type="checkbox"]:checked:not(active) + label::before {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

.checkboxItem.disabled input[type="checkbox"] + label,
.checkboxItem.disabled input[type="checkbox"]:hover + label,
.checkboxItem.disabled input[type="checkbox"]:hover:active + label {
  color: $color-grey-disabled;
  opacity: .5;
}

.checkboxItem.focused input[type="checkbox"] + label::before {
  border-color: $color-blue;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}

.checkboxItem.focused input[type="checkbox"]:checked + label::before {
  border-color: #fff;
}

/* Interactive States */

button:hover:not(.pressed):not(.disabled):not(.focused),
select:hover:not(.pressed):not(.disabled):not(.focused) {
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey;
}

button:hover:active:not(.hover):not(.disabled):not(.focused),
select:hover:active:not(.hover):not(.disabled):not(.focused) {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-dark;
}

button.default:hover:not(.pressed):not(.disabled):not(.focused) {
  background-color: $color-blue-dark;
  border-color: $color-blue-darker;
}

button.default:hover:active:not(.hover):not(.disabled):not(.focused) {
  background-color: $color-blue-darker;
  border-color: $color-blue-darkest;
}

button:focus:not(.disabled) {
  border-color: #fff !important;
  box-shadow: 0 0 0 2px $color-blue-focusRing;
}
