/*
  Content Linter

  If an author or an editor doesn't follow the content specs defined in the wiki 
  https://github.com/bwinton/StyleGuide/wiki/How-to-use the page set the 
  typography in Comic Sans.
*/

article {
  font-family: "Comic Sans MS" !important;

  h1, h2, h3, h4 {
    &:not([id]) {
      font-family: "Comic Sans MS" !important;
    }
  }
}
