// scss-lint:disable ColorVariable

.editor > h3 {
  font-weight: 400;
}

.editor > .popup {
  background: #fcfcfc;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  left: calc(50vw - 5em);
  opacity: 0;
  padding: 15px;
  position: absolute;
  transition: opacity 500ms ease-in-out;
  z-index: -1;
}

.app .content .editor.subpage {
  background-color: #fcfcfc;
  color: #0c0c0c;
}


// in-editor styles

.colours {
  display: flex;
  flex-wrap: wrap;
}

.colour {
  cursor: copy;

  &.swatch {
    border-radius: 4px;
    width: 10em;
  }
}

.colour.swatch,
.multi-swatch {
  color: #fff;
  display: flex;
  font-size: smaller;
  margin: .5em;
}

.colour.swatch,
.multi-swatch .colour {
  padding: 4em 1em 4px;
}

.multi-swatch .colour {
  margin: 0;
  width: 7.5em;
}

.multi-swatch .colour:first-child {
  border-radius: 4px 0 0 4px;
}

.multi-swatch .colour:last-child {
  border-radius: 0 4px 4px 0;
}

.spec {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  padding: 2em 0 0;
}

.spec > div {
  text-align: center;
  margin: 20px;
}

.example {
  background-color: #fff;
  display: flex;
  margin-top: 40px;

  > * {
    min-height: 100px;
    padding: 10px;
  }

  .source {
    flex: 1;

    .title {
      font-size: smaller;
      font-weight: 500;
      text-transform: uppercase;
    }

    .code-container {
      display: flex;
    }

    code {
      border: 1px solid #0c0c0c;
      display: inline-block;
      flex: 1;
      font-family: Monaco, Courier New;
      height: 24px;
      transition: height 250ms ease-in-out;
    }

    .expando {
      flex: 0;
      height: 24px;
      margin-left: 10px;
      width: 24px;
    }
  }

  .result {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex: 0 0 213px;
    justify-content: center;
  }

}
