/*csslint adjoining-classes:false */

.editor > .popup {
  position: absolute;
  left: calc(50vw - 5em);
  opacity: 0;
  padding: 15px;
  background: #fcfcfc;
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  transition: opacity 500ms ease-in-out;
}

.app .content .editor.subpage {
  color: #0c0c0c;
  background-color: #fcfcfc;
}


/* in-editor styles */

.colours {
  display: flex;
  flex-wrap: wrap;
}

.colour.swatch {
  width: 10em;
  border-radius: 4px;
}

.colour {
  cursor: copy;
}

.colour.swatch, .multi-swatch {
  color: white;
  margin: .5em;
  font-size: smaller;
  display: flex;
}

.colour.swatch, .multi-swatch .colour {
  padding: 4em 1em 4px;
}

.multi-swatch .colour {
  margin: 0;
}

.multi-swatch .colour:first-child {
  border-radius: 4px 0 0 4px;
}

.multi-swatch .colour:last-child {
  border-radius: 0 4px 4px 0;
}
