/*
  Overwrites and new classes on top of Tachyons CSS
*/

// Global

html,
body {
  color: var(--grey-90);
  font-size: 15px;
  line-height: 1.5;
}

// Figure

figure {
  box-sizing: border-box;
}

// Code

code,
.code {
  font-family: "Fira Mono";
}

// Font

.fira { font-family: "Fira Sans"; }

.font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.small,
small {
  font-size: 13px;
}

.f1 {
  font-size: 33px;
}

.f2 {
  font-size: 22px;
}

.f3 {
  font-size: 17px;
}

.f4 {
  font-size: 13px;
}

// Shadow

.shadow-1 {
  box-shadow: 0 1px 4px rgba(12, 12, 13, .1);
}

// Width

@media screen and (min-width: 60em) {
  .w-6-l { width: 24rem; }
}

// Outline

.outline--black-01 {
  outline-color: rgba(0, 0, 0, .1);
}

.outline-offset--1 {
  outline-offset: -1px;
}

// Line Height

.lh-title {
  line-height: 1.3;
}

// Text Decoration

.hover-no-underline:hover {
  text-decoration: none;
}

// Flex

.flex-grow-1 {
  flex-grow: 1;
}

// Colors

// White

.hover-white:hover {
  color: white;
}

// Teal

.teal-50 {
  color: var(--teal-50);
}

.teal-60 {
  color: var(--teal-60);
}

.teal-70 {
  color: var(--teal-70);
}

.teal-80 {
  color: var(--teal-80);
}

.teal-90 {
  color: var(--teal-90);
}

// Magenta

.magenta-50 {
  color: var(--magenta-50);
}

.magenta-60 {
  color: var(--magenta-60);
}

.magenta-70 {
  color: var(--magenta-70);
}

.magenta-80 {
  color: var(--magenta-80);
}

.magenta-90 {
  color: var(--magenta-90);
}

// Green

.green-50 {
  color: var(--green-50);
}

.green-60 {
  color: var(--green-60);
}

.green-70 {
  color: var(--green-70);
}

.green-80 {
  color: var(--green-80);
}

.green-90 {
  color: var(--green-90);
}

// Yellow

.yellow-50 {
  color: var(--yellow-50);
}

.yellow-60 {
  color: var(--yellow-60);
}

.yellow-70 {
  color: var(--yellow-70);
}

.yellow-80 {
  color: var(--yellow-80);
}

.yellow-90 {
  color: var(--yellow-90);
}

// Orange

.orange-50 {
  color: var(--orange-50);
}

.orange-60 {
  color: var(--orange-60);
}

.orange-70 {
  color: var(--orange-70);
}

.orange-80 {
  color: var(--orange-80);
}

.orange-90 {
  color: var(--orange-90);
}

// Red

.red-50 {
  color: var(--red-50);
}

.red-60 {
  color: var(--red-60);
}

.red-70 {
  color: var(--red-70);
}

.red-80 {
  color: var(--red-80);
}

.red-90 {
  color: var(--red-90);
}

// Purple

.purple-50 {
  color: var(--purple-50);
}

.purple-60 {
  color: var(--purple-60);
}

.purple-70 {
  color: var(--purple-70);
}

.purple-80 {
  color: var(--purple-80);
}

.purple-90 {
  color: var(--purple-90);
}

// Ink

.ink-70 {
  color: var(--ink-70);
}

.ink-80 {
  color: var(--ink-80);
}

.ink-90 {
  color: var(--ink-90);
}

// Grey

.grey-10 {
  color: var(--grey-10);
}

.grey-20 {
  color: var(--grey-20);
}

.grey-30 {
  color: var(--grey-30);
}

.grey-40 {
  color: var(--grey-40);
}

.grey-50 {
  color: var(--grey-50);
}

.grey-60 {
  color: var(--grey-60);
}

.grey-70 {
  color: var(--grey-70);
}

.grey-80 {
  color: var(--grey-80);
}

.grey-90 {
  color: var(--grey-90);
}

// Blue

.blue-40 {
  color: var(--blue-40);
}

.blue-50 {
  color: var(--blue-50);
}

.blue-60 {
  color: var(--blue-60);
}

.blue-70 {
  color: var(--blue-70);
}

.blue-80 {
  color: var(--blue-80);
}

.blue-90 {
  color: var(--blue-90);
}

// Background colors

// Teal

.bg-teal-50 {
  background-color: var(--teal-50);
}

.bg-teal-60 {
  background-color: var(--teal-60);
}

.bg-teal-70,
.hover-bg-teal-70:hover {
  background-color: var(--teal-70);
}

.bg-teal-80 {
  background-color: var(--teal-80);
}

.bg-teal-90 {
  background-color: var(--teal-90);
}

// Magenta

.bg-magenta-50 {
  background-color: var(--magenta-50);
}

.bg-magenta-60 {
  background-color: var(--magenta-60);
}

.bg-magenta-70 {
  background-color: var(--magenta-70);
}

.bg-magenta-80 {
  background-color: var(--magenta-80);
}

.bg-magenta-90 {
  background-color: var(--magenta-90);
}

// Green

.bg-green-50 {
  background-color: var(--green-50);
}

.bg-green-60 {
  background-color: var(--green-60);
}

.bg-green-70 {
  background-color: var(--green-70);
}

.bg-green-80 {
  background-color: var(--green-80);
}

.bg-green-90 {
  background-color: var(--green-90);
}

// Yellow

.bg-yellow-50 {
  background-color: var(--yellow-50);
}

.bg-yellow-60 {
  background-color: var(--yellow-60);
}

.bg-yellow-70,
.hover-bg-yellow-70:hover {
  background-color: var(--yellow-70);
}

.bg-yellow-80 {
  background-color: var(--yellow-80);
}

.bg-yellow-90 {
  background-color: var(--yellow-90);
}

// Orange

.bg-orange-50 {
  background-color: var(--orange-50);
}

.bg-orange-60 {
  background-color: var(--orange-60);
}

.bg-orange-70 {
  background-color: var(--orange-70);
}

.bg-orange-80 {
  background-color: var(--orange-80);
}

.bg-orange-90 {
  background-color: var(--orange-90);
}

// Red

.bg-red-50 {
  background-color: var(--red-50);
}

.bg-red-60 {
  background-color: var(--red-60);
}

.bg-red-70,
.hover-bg-red-70:hover {
  background-color: var(--red-70);
}

.bg-red-80 {
  background-color: var(--red-80);
}

.bg-red-90 {
  background-color: var(--red-90);
}

// Purple

.bg-purple-50 {
  background-color: var(--purple-50);
}

.bg-purple-60 {
  background-color: var(--purple-60);
}

.bg-purple-70 {
  background-color: var(--purple-70);
}

.bg-purple-80 {
  background-color: var(--purple-80);
}

.bg-purple-90 {
  background-color: var(--purple-90);
}

// Ink

.bg-ink-70 {
  background-color: var(--ink-70);
}

.bg-ink-80 {
  background-color: var(--ink-80);
}

.bg-ink-90 {
  background-color: var(--ink-90);
}

// Grey

.bg-grey-10 {
  background-color: var(--grey-10);
}

.bg-grey-20 {
  background-color: var(--grey-20);
}

.bg-grey-30 {
  background-color: var(--grey-30);
}

.bg-grey-40 {
  background-color: var(--grey-40);
}

.bg-grey-50 {
  background-color: var(--grey-50);
}

.bg-grey-60 {
  background-color: var(--grey-60);
}

.bg-grey-70 {
  background-color: var(--grey-70);
}

.bg-grey-80 {
  background-color: var(--grey-80);
}

.bg-grey-90 {
  background-color: var(--grey-90);
}

// Blue

.bg-blue-40 {
  background-color: var(--blue-40);
}

.bg-blue-50 {
  background-color: var(--blue-50);
}

.bg-blue-60 {
  background-color: var(--blue-60);
}

.bg-blue-70 {
  background-color: var(--blue-70);
}

.bg-blue-80 {
  background-color: var(--blue-80);
}

.bg-blue-90 {
  background-color: var(--blue-90);
}

// Border colors

.b--green-60 {
  border-color: var(--green-60);
}

.b--red-60 {
  border-color: var(--red-60);
}
