/*
  Overwrite and add classes to Tachyons CSS
*/

code,
.code { font-family: "Fira Mono"; }

.fira { font-family: "Fira Sans"; }

.blue { color: var(--blue-5); }

.font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 60em) {
  .w-6-l { width: 32rem; }
}

