/*
  For pages under /contents

  These styles are used for enabling content creators and editors to
  write plain HTML without worrying about CSS classes.
*/

/* Header */

code,
.code {
  cursor: pointer;
  position: relative;

  &::after {
    background-color: #333333;
    border-radius: 2px;
    color: white;
    content: "Click to copy";
    display: block;
    font-family: "Fira Sans";
    font-size: .75rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    left: 50%;
    line-height: 1;
    opacity: 0;
    padding: .25rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transform: translateX(-50%);
    transition: top .3s cubic-bezier(.07, .95, 0, 1), opacity .3s cubic-bezier(.07, .95, 0, 1);
    width: 5.1rem;
  }

  &:hover {
    &::after {
      opacity: 1;
      top: -1.4rem;
    }
  }
}

/* Header */

article header {
  margin-bottom: 2rem;

  h1 {
    font-weight: 500;
    margin: 0 0 2rem;
  }

  p {
    line-height: 1.4;
    margin: 0 0 2rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    &:not(:last-child) {
      padding: 0 0 1rem;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    color: var(--blue-50);
    cursor: pointer;
    text-decoration: none;
  }

  @media screen and (min-width: 60em) {
    margin-bottom: 4rem;
  }
}

/* Section typography */

article section {
  margin-bottom: 2rem;

  @media screen and (min-width: 60em) {
    margin-bottom: 4rem;
  }

  h2,
  h3,
  h4,
  strong {
    font-weight: 500;
  }

  h1 {
    margin: 0 0 2rem;
  }

  h2 {
    margin: 3rem 0 1rem;
  }

  h3 {
    margin: 2rem 0 1rem;
  }

  h4 {
    margin: 1rem 0 .5rem;
  }

  h3 + h4,
  h4 + h4 {
    margin-top: 0;
  }

  p,
  ul {
    line-height: 1.4;
    margin: 0 0 1rem;
  }

  a {
    color: var(--blue-50);
    text-decoration: none;
  }

  figure {
    margin: 0 0 1rem;

    figcaption {
      font-size: small;
      padding-top: .5rem;
    }
  }

  button {
    background-color: var(--blue-50);
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Fira Sans";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    padding: 1rem;
    text-transform: uppercase;
  }

  code {
    background-color: #eeeeee;
    border-radius: 3px;
    margin: 0 1px;
    padding: 4px;
  }
}

/* Section blockquote */

article section blockquote {
  background-color: #f4f4f4;
  margin: 0 0 1rem;
  padding: 1rem 1rem .25rem;

  @media screen and (min-width: 60em) {
    width: 50%;
  }

  h4 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin-bottom: .5rem;
  }
}

article section div[class] blockquote {
  width: auto;
}

/* Section table */

article section table {
  border-bottom: 2px solid #eeeeee;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 2px solid #eeeeee;
  font-size: small;
  margin-bottom: 1rem;
  table-layout: auto;
  width: 100%;

  @media screen and (min-width: 30em) {
    font-size: initial;
  }

  thead {
    background-color: #eeeeee;
  }

  th {
    font-weight: 500;
    padding: .5rem .75rem;
    text-align: left;

    @media screen and (min-width: 30em) {
      padding: .75rem 1rem;
    }

    p {
      margin: 0;
    }
  }

  td {
    border-bottom: 2px solid #eeeeee;
    padding: .5rem .75rem;

    p {
      margin: 0;
    }

    @media screen and (min-width: 30em) {
      padding: .75rem 1rem;
    }
  }
}
