@import "panels";

/* stylelint-disable property-no-vendor-prefix */

.panel {
  background-clip: padding-box;
  background-color: $color-panel-background;
  border: 1px solid hsla(210, 4%, 10%, .2);
  box-shadow:
    0 3px 5px hsla(210, 4%, 10%, .1),
    0 0 7px hsla(210, 4%, 10%, .1);
  box-sizing: content-box;
  color: #222426;
  cursor: default;
  display: flex;
  flex-direction: column;
  font: caption;
  margin: 2em auto .5em;
  padding: 0;
  position: relative;
  -moz-user-select: none;
  width: 384px;
}

.result .panel {
  margin-top: 0;
}

.panel * {
  box-sizing: border-box;
  text-align: start;
}

.panel-arrowUp {
  background-image: url("../../images/panels/menuPanel-arrowUp.png");
  background-position: calc(100% - 12px) top;
  background-repeat: no-repeat;
  height: 14px;
  margin-top: -14px;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.panel-body {
  position: relative;
}

.panel-section-header > .icon-section-header {
  background-image: url("../../images/panels/Icon-Header-Placeholder-Smiley.svg");
}

.panel-formElements-item label {
  width: 60px;
}

/* Platform Specifics */

.mac .panel-section-footer {
  border-bottom-left-radius: $border-radius-osx;
  border-bottom-right-radius: $border-radius-osx;
  overflow: hidden;
}

.mac .panel {
  border-radius: $border-radius-osx;
}

@import "panels";
