.toc li {
  padding: 0 10px;
  margin-top: 15px;
  border-left: 3px solid transparent;
  transition: border-left 150ms ease-in-out;
  cursor: pointer;
}

.toc .subitem {
  margin-left: 20px;
}

.toc .selected {
  border-left-color: #c84510;
}

.toc a {
  color: inherit;
}

.toc .active {
  text-decoration: none;
  cursor: default;
}
