.toc {
  color: #505050;
  text-align: right;

  h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -.06em;
    line-height: 120px;
  }

  .item,
  .subitem {
    color: #505050;  // Needed to override the default anchor colour.
    display: block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.06em;
    line-height: 60px;
    opacity: .25;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  .subitem {
    font-size: 14px;
    font-weight: 300;
    height: 0;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    &.active {
      color: #2284e6;
      font-weight: 400;

      &:hover {
        opacity: 1;
      }
    }
  }

  .section.selected {
    background: linear-gradient(-30deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1));
    margin-bottom: 20px;

    .item {
      margin-bottom: 1.5px;
      opacity: 1;
    }

  }

  .active {
    cursor: default;
  }

  .section.selected,
  .section.expanded {
    .subitem {
      height: 20px;

      &:hover {
        opacity: .5;
      }
    }
  }
}
