.toc {
  .item,
  .subitem {
    color: var(--black-082);
    display: block;
    text-decoration: none;
  }

  .item {
    cursor: pointer;
  }

  .subitem {
    color: var(--black-054);
    font-size: 14px;
    height: 0;
    letter-spacing: 0;
    overflow: hidden;
    padding-left: 16px;
    transition: height 300ms ease-in-out;

    &.active {
      color: var(--blue-5);
    }
  }

  .section {
    margin-bottom: 16px;
  }

  .section .arrow {
    background-image: url("../../images/glyphs/play.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px;
    display: inline-block;
    height: 18.5px;
    position: relative;
    top: 4px;
    transform: rotate(0);
    transform-origin: calc(100% - 6px) center;
    transition: transform 300ms ease-in-out;
    width: 30px;
  }

  .section.selected {
    background: linear-gradient(-15deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-position: 0 36px;
    background-repeat: no-repeat;

    .item {
      cursor: default;
      margin-bottom: 1.5px;
      opacity: 1;
    }
  }

  .active {
    cursor: default;
  }

  .section.selected,
  .section.expanded {
    .arrow {
      transform: rotate(90deg);
    }

    .subitem {
      height: 20px;

      &:hover {
        opacity: .5;
      }
    }
  }
}
