/*
  Variables
*/

:root {
  --orange-5: #ffa900;
  --orange-6: #cc7700;
  --orange-7: #994c00;
  --orange-8: #662a00;
  --orange-9: #270d00;
  --magenta-5: #ff1ad9;
  --magenta-6: #e001bb;
  --magenta-7: #a9008c;
  --magenta-8: #70005d;
  --magenta-9: #2b0023;
  --violet-5: #8000ff;
  --violet-6: #6600cc;
  --violet-7: #4c0099;
  --violet-8: #330066;
  --violet-9: #140027;
  --blue-5: #0d96ff;
  --blue-6: #0052cc;
  --blue-7: #003399;
  --blue-8: #002266;
  --blue-9: #000f2b;
  --aqua-5: #00feff;
  --aqua-6: #06d1e6;
  --aqua-7: #039ec0;
  --aqua-8: #004c66;
  --aqua-9: #001a27;
  --green-5: #33f70c;
  --green-6: #00d000;
  --green-7: #009b19;
  --green-8: #006811;
  --green-9: #001a04;
  --yellow-5: #d9ff1a;
  --yellow-6: #d9ff1a;
  --yellow-7: #54a900;
  --yellow-8: #54a900;
  --yellow-9: #0e1d00;
  --red-5: #ff0039;
  --red-6: #d1002f;
  --red-7: #ad0027;
  --red-8: #76001a;
  --red-9: #39000d;
  --ink-5: #535a80;
  --ink-6: #363959;
  --ink-7: #232540;
  --ink-8: #0f0f26;
  --ink-9: #080517;
  --grey-5: #f0f0f0;
  --grey-6: #d4d4d4;
  --grey-7: #999999;
  --grey-8: #6e6e6e;
  --grey-9: #404040;
}
