/*
  Variables
*/

:root {
  --orange-5: #ffaa00;
  --orange-6: #cc7700;
  --orange-7: #994c00;
  --orange-8: #662a00;
  --orange-9: #270d00;

  --magenta-5: #fe1bd9;
  --magenta-6: #e001bb;
  --magenta-7: #a9008c;
  --magenta-8: #70005d;
  --magenta-9: #2b0023;

  --violet-5: #7e04ff;
  --violet-6: #6503cc;
  --violet-7: #4c0199;
  --violet-8: #330166;
  --violet-9: #140027;

  --blue-5: #0087ff;
  --blue-6: #0052cc;
  --blue-7: #003399;
  --blue-8: #002266;
  --blue-9: #000f2b;

  --aqua-5: #0cffff;
  --aqua-6: #06d1e6;
  --aqua-7: #039ec0;
  --aqua-8: #004c66;
  --aqua-9: #001a27;

  --green-5: #37f709;
  --green-6: #0bd000;
  --green-7: #069b18;
  --green-8: #026811;
  --green-9: #001a04;

  --yellow-5: #d9ff18;
  --yellow-6: #96e100;
  --yellow-7: #55a900;
  --yellow-8: #397000;
  --yellow-9: #0e1d00;

  --grey-5: #f0f0f0;
  --grey-6: #d4d4d4;
  --grey-7: #999999;
  --grey-8: #6e6e6e;
  --grey-9: #404040;
}