<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <img src="../images/buttons/button-behaviour-primary-light.svg" alt="Behaviour styles such as hover, pressed and focus of a primary button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Default Background: Blue 60 <code>#0060df</code></p>
    <p class="mb2">Hover Background: Blue 70 <code>#003eaa</code></p>
    <p class="mb2">Pressed Background: Blue 80 <code>#002275</code></p>
    <p class="mb2">
      Focus: <code>box-shadow: 0 0 0 1px var(--blue-50) inset, 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-30)</code>
    </p>
    <p class="mb2">Disabled: 40% Opacity</p>
  </div>
</div>