<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Background</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td><code>#0060df</code></td>
        </tr>
        <tr>
          <td>Hover</td>
          <td><code>#003eaa</code></td>
        </tr>
        <tr>
          <td>Pressed</td>
          <td><code>#002275</code></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2 mb3">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-behaviour-primary-light.svg" alt="">
  </div>
</div>