<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-puffy-spec.svg" alt="Redlines and spec of a puffy size button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Corner Radius: <code>4px</code></p>
    <p class="mb2">Height: <code>48px</code></p>
    <p class="mb2">Horizontal Padding: <code>16px</code></p>
    <p class="mb2">Font Size: <code>15px</code></p>
    <p class="mb2">Width: <code>Auto</code></p>
  </div>
</div>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-puffy-example.svg" alt="Example of a puffy size button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Use the puffy version when you display a call to action in large components or views. Bigger space, bigger targets. For example the modal of Firefox onboarding.
    </p>
  </div>
</div>