<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2 mb3">
    <img src="../images/buttons/button-behaviour-primary-light.svg" alt="">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Default Background: Blue 60 <code>#0060df</code></p>
    <p class="mb2">Hover Background: Blue 70 <code>#003eaa</code></p>
    <p class="mb2">Pressed Background: Blue 80 <code>#002275</code></p>
    <p class="mb2">Focus: 2px Inset Blue 50 <code>#0a84ff</code>, 3px 30% Blue 50 <code>#0a84ff</code></p>
    <p class="mb2">Disabled: 40% Opacity</p>
  </div>
</div>