<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-micro-spec.svg" alt="Redlines and spec of a micro size button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Corner Radius: <code>2px</code></p>
    <p class="mb2">Height: <code>24px</code></p>
    <p class="mb2">Horizontal Padding: <code>8px</code></p>
    <p class="mb2">Text: <code>11px</code>, regular</p>
    <p class="mb2">Width: <code>Auto</code></p>
  </div>
</div>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-micro-example.svg" alt="Example of a micro size button in use">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Use the micro version when you need to display two different primary actions with different levels of importance. Or when you don't have enough real estate. For example in Firefox Accounts “Skip This Step” has a lower importance compared to “Sign in.”
    </p>
  </div>
</div>