<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-default-spec.svg" alt="">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Corner Radius: <code>2px</code></p>
    <p class="mb2">Height: <code>32px</code></p>
    <p class="mb2">Horizontal Padding: <code>8px</code></p>
    <p class="mb2">Font Size: <code>13px</code></p>
    <p class="mb2">Minimum Width:* <code>132px</code></p>
    <p class="mb2">Width: <code>Auto</code></p>
    <small class="small grey-50">*optional</small>
  </div>
</div>