<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <table>
      <thead>
        <tr>
          <th>Element</th>
          <th>Value</th>
          <th>Opacity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Text</td>
          <td><code>#0c0c0d</code></td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Background</td>
          <td><code>#0c0c0d</code></td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Icon</td>
          <td><code>#0c0c0d</code></td>
          <td>80%</td>
        </tr>
        <tr>
          <td>Separator</td>
          <td><code>#0c0c0d</code></td>
          <td>30%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-segmented.svg" alt="">
  </div>
</div>