<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <table>
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Height</td>
          <td>48px</td>
        </tr>
        <tr>
          <td>Padding</td>
          <td>16px</td>
        </tr>
        <tr>
          <td>Size</td>
          <td>15px</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/buttons/button-puffy.svg" alt="">
  </div>
</div>