<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-default-spec.svg" alt="Redlines and spec of a default size button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Corner Radius: <code>2px</code></p>
    <p class="mb2">Height: <code>32px</code></p>
    <p class="mb2">Horizontal Padding: <code>8px</code></p>
    <p class="mb2">Font Size: <code>13px</code></p>
    <p class="mb2">Minimum Width*: <code>132px</code></p>
    <p class="mb1">Width: <code>Auto</code></p>
    <small class="small grey-50">*not mandatory</small>
  </div>
</div>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-ghost-spec.svg" alt="Redlines and spec of a ghost button">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="mb2">Height: <code>32px</code></p>
    <p class="mb2">Padding: <code>8px</code></p>
    <p class="mb2">Icon Size: <code>16px</code></p>
    <p class="mb1">Width: <code>32px</code></p>
  </div>
</div>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img src="../images/buttons/button-default-example.svg" alt="Example of a default size button in use">
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p>
      Pages like Firefox error pages feature the default size button. When you need a call to action give the default size a higher priority. When the real estate is not enough opt for the micro version. When you need a more prominent action opt for the puffy version.
    </p>
  </div>
</div>