<div class="dib">
  <% if (type == 'Warning') { %>
  <div class="flex items-center bg-yellow-50 yellow-90 br2 pa1 mb3">
    <img class="pa1" src="../images/global/warning-16.svg" alt="">
    <p class="pv1 mv0 mr3 lh-solid">
      <%= text %>
    </p>
    <a class="bg-yellow-60 br1 yellow-90 pa1 fw6 hover-bg-yellow-70 hover-white font-smoothing ttu f6" href="https://github.com/FirefoxUX/photon/issues" alt="Submit feedback about type scale"><%= button %></a>
  </div>
  <% } %>

  <% if (type == 'Error') { %>
  <div class="flex items-center bg-red-50 white br2 pa1 mb3">
    <img class="pa1" src="../images/global/warning-16.svg" alt="">
    <p class="pv1 mv0 mr3 lh-solid">
      <%= text %>
    </p>
    <a class="bg-red-60 br1 white pa1 fw6 hover-bg-red-70 font-smoothing ttu f6" href="https://github.com/FirefoxUX/photon/issues" alt="Submit feedback about type scale"><%= button %></a>
  </div>
  <% } %>

  <% if (type == 'Info') { %>
  <div class="flex items-center bg-teal-50 teal-90 br2 pa1 mb3">
    <img class="pa1" src="../images/global/info-16.svg" alt="">
    <p class="pv1 mv0 mr3 lh-solid">
      <%= text %>
    </p>
    <a class="bg-teal-60 br1 teal-90 pa1 fw6 hover-bg-teal-70 hover-white font-smoothing ttu f6" href="https://github.com/FirefoxUX/photon/issues" alt="Submit feedback about type scale"><%= button %></a>
  </div>
  <% } %>
</div>