<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
      <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/appropriate-do.jpg" alt="">
      <% include ../global/do.html %>
      <small class="grey-50 lh-title db">Give users simple, straightforward help in completing tasks that have specific nuances or requirements.</small>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/appropriate-dont
    .jpg" alt="">
    <% include ../global/dont.html %>
    <small class="grey-50 lh-title db">Don’t use humor or rely on personality in places where it isn’t warranted, may be misunderstood, or gets in the way of task completion.</small>
  </div>
</div>