<header>
  <h1>Capitalization</h1>
  <p>
    We use different capitalization styles for different types of content to improve scannability, organize information, and guide users to key actions. 
  </p>
  <p>
    When building new Firefox products, we also align capitalization practices with platform conventions to match user expectations. 
  </p>
</header>

<section>
  <h2>
    Capitalization Styles
  </h2>
  <h3>
    Title Case
  </h3>
  <% include ../includes/copy/capitalization/title-case.html %>
  <h3>
    Sentence Case
  </h3>
  <% include ../includes/copy/capitalization/sentence-case.html %>
  <h3>
    All Caps
  </h3>
  <% include ../includes/copy/capitalization/all-caps.html %>
</section>

<section>
  <h2>
    Platform Guidelines
  </h2>
  <h3>
    Firefox for Desktop
  </h3>
  <% include ../includes/copy/capitalization/title-case-desktop.html %>
  <% include ../includes/copy/capitalization/body-sentence-desktop.html %>
  <% include ../includes/copy/capitalization/uppercase-usage.html %>
  <h3>
    Firefox for Android
  </h3>
  <p>
    In general, do not use title case in Firefox for Android.
  </p>
  <% include ../includes/copy/capitalization/body-sentence-android.html %>
  <% include ../includes/copy/capitalization/uppercase-usage-android.html %>

  <h3>
    Firefox for iOS
  </h3>
  <% include ../includes/copy/capitalization/title-case-ios.html %>
  <% include ../includes/copy/capitalization/body-sentence-ios.html %>
  <% include ../includes/copy/capitalization/uppercase-usage-ios.html %>
  
