<header>
  <h1>Capitalization</h1>
  <p>
    Text in Firefox is nearly always title case (like most book or song titles) or sentence case (like most sentences in a blog post).
  </p>
</header>

<section>
  <h2>Title Case</h2>
  <p>For title case, you:</p>
  <ul>
    <li>
      Always capitalize the first and last words of the text element.
    </li>
    <li>
      Capitalize all other nouns, verbs, adverbs and pronouns.
    </li>
    <li>
      Capitalize the second word in a hyphenated compound if it would normally be capitalized as a single word. For “Quick-Search Options,” capitalize both words. For “Add-on Choices,” only capitalize “Add.” 
    </li>
    <li>
      Don’t capitalize articles (“a,” “an,” “the”) unless they’re the first or last words.
    </li>
  </ul>

  <h3>Firefox for desktop</h3>
  <% include ../includes/copy/capitalization/title-case-desktop.html %>

  <h3>Firefox for Android</h3>
  <p>
    In general, do not use title case.
  </p>
  <P>
    Refer to the writing section of the Google-maintained <a href="https://material.io/guidelines/style/writing.html#writing-tone">Material Design Style Guide</a> for complete Android capitalization rules.
  </p>

  <h3>Firefox for iOS</h3>
  <% include ../includes/copy/capitalization/title-case-ios.html %>
</section>

<section>
  <h2>Sentence Case</h2>
  <p>For sentence case, you:</p>
  <ul>
    <li>
      Always capitalize the first word of the text element.
    </li>
    <li>
      Capitalize any other words you would normally capitalize (e.g., Here is a poem Pablo wrote for Patricia about popular Polish pandas and the peculiar planet Pluto).
    </li>
  </ul>

  <h3>Firefox for desktop</h3>
  <% include ../includes/copy/capitalization/body-sentence-desktop.html %>

  <h3>Firefox for Android</h3>
  <% include ../includes/copy/capitalization/body-sentence-android.html %>
    
  <h3>Firefox for iOS</h3>
  <% include ../includes/copy/capitalization/body-sentence-ios.html %>
</section>

<section>
  <h2>All Caps</h2>
  <p>
    For sentence case, you capitalize every word in the text element.
  </p>
      
  <h3>Firefox for desktop</h3>
  <% include ../includes/copy/capitalization/uppercase-usage.html %>

  <h3>Firefox for Android</h3>
  <% include ../includes/copy/capitalization/uppercase-usage-android.html %>

  <h3>Firefox for iOS</h3>
  <p>
    Use all caps for sub-heads in app Settings (e.g., “ALLOW PODCASTS TO ACCESS” in Podcast Settings).
  </p>
</section>
