<header>
  <h1>Copy Rules</h1>
  <p>
    These guidelines are for Firefox in-products content intended for a general audience.
  </p>
</header>

<section>
  <h2>Design Patterns</h2>

  <h3>More vs Learn more</h3>
  <p>
    Use <em>More</em> to indicate an expanding text area, use <em>Learn more</em> to indicate a link to another screen or webpage.
  </p>

  <h3>Buttons vs links</h3>
  <p>
    Use hyperlinked system text to indicate links to another screen or page, use buttons only to indicate a user action that updates the current screen or transmits information to the application, e.g., Submit, Update Preferences.
  </p>

  <h3>Touch-screen gestures</h3>
  <p>
    When designing for Android, use the preferred Android terms touch, swipe, drag, pinch in, pinch out. View more in the <a href="https://www.google.com/design/spec/patterns/gestures.html">Android Style Guide</a>.
  </p>
  <p>
    When designing for iOS, use the preferred Apple terms tap, swipe, drag, pinch. View more in the <a href="https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/InteractivityInput.html">Apple Style Guide</a>.
  </p>
</section>

<section>
  <h2>Point of view</h2>
  <p>
    In general, use the second person (you) to address the user in Firefox products. Firefox is a user agent, and this point of view reinforces the message that “Firefox works for you.”
  </p>
  <figure>
    <img src="../images/copy/point-of-view.png" alt="">
  </figure>
  <p>
    Avoid using the first person (my, I) in the interface, as it can create confusion about who is being addressed.
  </p>
</section>

<section>
  <h2>Capitalisation on Firefox for desktop</h2>

  <h3>Title Case</h3>
  <p>
    Title case is a capitalization style that includes the following rules:
  </p>
  <ul>
    <li>
      Always capitalize the first and last word in the text element, regardless of part of speech or other rules below
    </li>
    <li>
      For words in between the first and last, capitaliize all nouns, verbs, adverbs and pronouns
    </li>
    <li>
      Capitalize conjunctions of four or more letters, but also capitalize <em>if</em>
    </li>
    <li>
      Capitalize prepositions for four or more letters
    </li>
    <li>
      Do not capitalize articles, prepositions of three or fewer letters, and conjunctions of three or fewer letters (but not <em>if</em>)
    </li>
    <li>
      A note about hyphens: Capitalize the second word in a hyphenated compound if it would normally be capitalized as a single word according to title case rules. So, capitalize the <em>S</em> in <em>Quick-Search Options</em>, lowercase the <em>o</em> in <em>Add-on Choices</em>.
    </li>
  </ul>

  <h3>Use title case for</h3>

  <h4>Labels for items in the menu</h4>
  <% include contents/includes/copy/copy-labels-for-items-in-the-menu.html %>

  <h4>Navigation and section headers</h4>
  <% include contents/includes/copy/copy-navigation-and-section-headers.html %>

  <h4>Page titles</h4>
  <% include contents/includes/copy/copy-page-titles.html %>

  <h4>Buttons</h4>
  <% include contents/includes/copy/copy-buttons.html %>

  <h3>Sentence case</h3>
  <p>
    Sentence case is a capitalization style where the first word of the text element is capitalized as well as any words that are normally capitalized.
  </p>

  <h3>Use sentence case for</h3>

  <h4>Headlines</h4>
  <p>
    Which are the more conversational titles and subtitles that appear in instructional text screens, tours and form pages.
  </p>
  <figure>
    <img src="../images/copy/headlines.png" alt="">
  </figure>

  <h4>Text links</h4>
  <p>
    Without terminal punctuation unless the phrase is a question or exclamation or if the link is embedded in running text. (Note, include the terminal punctuation in hyperlink if the entire phrase is linked, and do not include the terminal punctuation in the hyperlink if the link is within running text.
  </p>
  <figure>
    <img src="../images/copy/text-links.png" alt="">
  </figure>

  <h4>Small Caps</h4>
  <p>
    Small caps is a style where the initial letter of every word is capitalized with a full-scale letter (following Title case style) and the following letters in every word are capitalized with a smaller version of the typeface. Do not use this style in Firefox in any platform.
  </p>
</section>

<section>
  <h2>Capitalisation on Firefox for Android</h2>
  <p>
    Google maintains an <a href="https://www.google.com/design/spec/style/writing.html#writing-capitalization-punctuation">Android style guide</a>, and Firefox for Android should adhere to these unless noted as an exception below.  The rules for capitalization presented here otherwise conform with Google’s.
  </p>

  <h3>Sentence case</h3>
  <p>
    Sentence case is a capitalization style where the first word of the text element is capitalized as well as any words (like product names or features) that are normally capitalized.
  </p>
  <p>
    Use sentence case in almost all instances – for screen titles, navigation, labels – except for buttons.
  </p>
  <figure>
    <img src="../images/copy/sentence-case-android.png" alt="">
  </figure>

  <h3>All caps</h3>
  <p>
    All Caps is a style where every letter is capitalized. Use these for all buttons that contain text.
  </p>
  <figure>
    <img src="../images/copy/all-caps-android.png" alt="">
  </figure>
</section>

<section>
  <h2>Capitalisation on Firefox for iOS</h2>
  <p>
    Apple maintains an <a href="https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/index.html">iOS style guide for developers</a>, and Firefox should adhere to these unless noted as an exception below.  The rules for capitalization presented here otherwise conform with Apple’s.
  </p>

  <h3>Title case</h3>
  <p>Title case is a capitalization style that includes the following rules:</p>
  <ul>
    <li>
      Always capitalize the first and last word in the text element , regardless of part of speech or other rules below
    </li>
    <li>
      For words in between the first and last, capitaliize all nouns, verbs, adverbs and pronouns
    </li>
    <li>
      Capitalize conjunctions of four or more letters, but also capitalize <em>if</em>
    </li>
    <li>
      Capitalize prepositions for four or more letters
    </li>
    <li>
      Do not capitalize articles, prepositions of three or fewer letters, and conjunctions of three or fewer letters (but not <em>if</em>)
    </li>
    <li>
      A note about hyphens: Capitalize the second word in a hyphenated compound if it would normally be capitalized as a single word according to title case rules. So, capitalize the <em>S</em> in <em>Quick-Search Options</em>, lowercase the <em>o</em> in <em>Add-on Choices</em>.
    </li>
  </ul>

  <h4>Use title case for</h4>
  <h4>Screen titles</h4>
  <figure>
    <img src="../images/copy/screen-titles-ios.png" alt="">
  </figure>

  <h4>Navigation and section headers</h4>
  <figure>
    <img src="../images/copy/navigation-and-section-headers-ios.png" alt="">
  </figure>

  <h4>Labels</h4>
  <figure>
    <img src="../images/copy/labels-ios.png" alt="">
  </figure>

  <h4>Buttons</h4>
  <figure>
    <img src="../images/copy/buttons-ios.png" alt="">
  </figure>

  <h3>Sentence case</h3>
  <p>
    Sentence case is a capitalization style where the first word of the text element is capitalized as well as any words that are normally capitalized.
  </p>
  <p>
    Use sentence case for <strong>headlines</strong>, which are the more conversational titles and subtitles that appear in instructional text screens, tours and form pages.
  </p>
  <figure>
    <img src="../images/copy/sentence-case-ios.png" alt="">
  </figure>
</section>

<section>
  <h2>Punctuation</h2>

  <h3>Commas</h3>
  <p>
    Do not use serial commas (also called Oxford commas) in Mozilla communications.
  </p>

  <h3>Dashes</h3>
  <p>
    Hyphens (-) are used to create a single idea out of two or more words and are used without letterspace; en dashes (–) are used for ranges, like numbers and dates, and are used without letterspace; em dashes (—) are used to set related, yet separate thoughts off from each other, either within a sentence or following it, and in either case they are separated by one letterspace to each side of the dash.
  </p>

  <h3>Ellipses</h3>
  <p>
    Use an ellipsis (…) in body text to indicate a pause in speech or thought; use with Button or Menu items when the action will require further user confirmation or input (this usually results in either a Dialog, Alert or moving the operation to another window or part of the UI); do not use in a link to indicate that there is more information available at the destination, which should be assumed.
  </p>

  <h3>Exclamation Points</h3>
  <p>
    It’s acceptable to use exclamation points, but don’t overdo it; they are not a replacement for creating genuine excitement in writing.
  </p>

  <h3>Quotation Marks</h3>
  <p>
    Punctuation generally goes inside quotation marks, including exclamation and question marks, unless the exclamation or question is part of the entire sentence, not just the portion contained in the quotation marks.
  </p>

  <h3>Slashes</h3>
  <p>
    If it’s in a URL, it’s a forward slash, not a backslash.
  </p>

  <h3>Terminal Punctuation</h3>
  <p>
    Do not use punctuation at the end of a headline, button label, text link, or navigation element unless you are using an exclamation point or question mark or the link is embedded in running text. Do not double space after periods.
  </p>
</section>
