<header>
  <h1>Writing for Users</h1>
</header>

<section>
   <p>
    We write for users, not ourselves. This means we
    <ul>
      <li>Write copy that is useful. If a message isn’t relevant, remove it. If it isn’t specific and actionable, rewrite it.</li>
      <li>Choose language that is clear and easy to understand. When possible, use fewer words. Every word should demonstrate value to the user and reflect business and brand goals.</li>
      <li>Avoid non-sequiturs, obscure references or non-standard turns of phrase that may confuse or interrupt.</li>
      <li>Keep copy scannable. Use content patterns to support scanning and promote familiarity with messaging.</li>
      <li>When possible, use progressive content disclosure to improve clarity and reduce cognitive load.</li>
      <li>Help users avoid errors and roadblocks. Make sure content helps users recover quickly if those things happen.</li>
      <li>Use inclusive language across the board. Speak directly to users when we know enough about them to earn that right.</li>
      <li>Consider using imagery to signal reassurance and whimsy. Well-chosen illustrations can be more universal, less open to negative interpretation, and localize more effectively.</li>
    </ul>
  </p>
</section>

<section>
  <h2>Point of View</h2>
  <p>In general, use the second person (“you”) to address the user in Firefox products. Avoid using the first person (“my” or  “I”) in interface copy, since it can create confusion about who is being addressed. Avoid pronouns, when possible, in interface copy (e.g., “name” instead of “your name”).</p>
</section>

<section>
  <h2>Provide Adequate Context</h2>
  <p>Providing context for key features/tasks and stating their importance helps users understand the benefits of Firefox.</p>
  <% include ../includes/copy/writing-for-the-user-do-dont.html %>
</section>

<section>
  <h2>Prioritize User Over Program</h2>
  <p>Create content that anticipates user needs, not content that reflects a Firefox state or activity.</p>
  <% include ../includes/copy/user-over-program.html %>
</section>
  
<section>
  <h2>Educate Openly</h2>
  <p>Educate users about features and options without talking down to them or appearing to judge them.</p>
  <% include ../includes/copy/educate-openly.html %>
</section>

<section>
  <h2>Be Human</h2>
  <p>Use easy-to-understand language that aligns content with functionality. Focus on what happens to the user, not on what is happening to the software. It is better to be not wrong than to be exhaustively technically accurate.</p>
  <% include ../includes/copy/educate-openly.html %>
</section>

<section>
  <h2>Maintain Parallel Constructions</h2>
  <p>Create a clear distinction between the meaning of words and phrases.</p>
  <% include ../includes/copy/parallel.html %>
</section>

<section>
  <h2>Ensure Content is Appropriate</h2>
  <p>Consider a user’s likely goal, desire or state of mind. Anticipate confusion or frustration and respond appropriately. Prioritize utility over personality.</p>
  <% include ../includes/copy/appropriate.html %>
</section>
