<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/inactive/inactive-do.svg" alt="">
    <% include ../../global/do.html %>
    <small class="db grey-50 mb3 mb0-ns">
      Provide context and show users how to enable inactive features or elements.
    </small>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/inactive/inactive-dont.svg" alt="">
    <% include ../../global/dont.html %>
    <small class="db grey-50 mb3 mb0-ns">
      Show inactive elements without adequate context.
    </small>
  </div>
</div>