<header toc-none>
  <h1>Design for Scale</h1>
  <p>
    Those guidelines help you decide where it is important for your product or feature to use Firefox design language and where it is acceptable to follow platform conventions.
  </p>
  <p>
    Align your work with the higher guideline before considering the next as they are listed in prioritized order.
  </p>
  <ul class="toc">
    <li>
      <a href="#reuse-what’s-there">Reuse What’s There</a>
    </li>
    <li>
      <a href="#prioritize-higher-visibility-work">Prioritize Higher Visibility Work</a>
    </li>
    <li>
      <a href="#balance-firefox-style-and-platform-conventions">Balance Firefox Style and Platform Conventions</a>
      <ul>
        <li>
          <a href="#when-to-use-platform-patterns">When to use Platform Patterns</a>
        </li>
        <li>
          <a href="#when-to-deviate-from-platform-patterns">When to <em>deviate</em> from Platform Patterns</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#related-platform-guidelines">Related Platform Guidelines</a>
    </li>
  </ul>
</header>

<section>
  <h2>Reuse What’s There</h2>
  <p>
    When building something new, try to reuse what we already have built and documented in Photon. This will make it feel familiar to Firefox existing users, and will be implemented quicker. Do not force it though. If it doesn’t fit, it doesn’t fit.
  </p>
</section>

<section>
  <h2>Prioritize Higher Visibility Work</h2>
  <p>
    The higher the expected visibility on parts of your work, the more important it is to align to Photon. If very limited visibility is expected, full alignment is of lower priority. Use platform components until you have time to better align.
  </p>
  <p>
    Do not consider tradeoffs in very high visibility areas and loop in other designers working on that product or feature across platforms.
  </p>
  <article>
    <h3>Example</h3>
    <p>
      Imagine you're prioritizing how to ship the first iteration of "Bookmarks Management on Mobile" feature. The first step is to tap the "Star" icon. The optional final steps are when the user edits the Name, Location and Keywords before they save their changes.<br>For the first step of tapping the "Star" (which has high visibility), you'll want to align every aspect with the Photon Design System. But for the final steps (which are lower visibility), you can use a full-page system dialog in Android because it's easier to implement and still aligned with the Android platform.
    </p>
  </article>
  <% include ../includes/introduction/introduction-prioritize-higher-visibility-work.html %>
</section>

 <section>
  <h2>Balance Firefox Style and Platform Conventions</h2>
  <p>
    Do balance between adapting to much platform and too little. Especially stay clear of the Uncanny Valley.
  </p>
  <p>
    Use our styles for visual appearance and tone, and use platform conventions for any pattern that is well established on a given platform. This will make the product or feature feel familiar to new users and still convey our style.
  </p>
  <% include ../includes/introduction/introduction-uncanny-valley.html %>

  <h3>When to use Platform Patterns</h3>
  <ul>
    <li>
      <p>
        When you don't want to break expectations about high level common platform functionality.<br><em>E.g. Using a platforms system font creates platform cohesion and familiarity. Using a different font like Comic Sans would make things feel foreign and off-putting.</em>
      </p>
    </li>
    <li>
      <p>
        When a UI pattern, appearance or metaphor is so common deviating would cause user confusion or discomfort.<br><em>E.g. If window controls like Close, Minimize and Maximize are always on the left, moving these to the right would cause significant user confusion.</em>
      </p>
    </li>
    <li>
      <p>
        When a non-essential UI pattern, appearance or metaphor enhances your product and helps close any uncanny valley gaps. (strategic use of platform “flavor”)<br><em>E.g. Using Windows system colors or macOS / iOS blur effects conforms to a common platform pattern and reinforces nativeness.</em>
      </p>
    </li>
  </ul>

  <h3>When to <em>deviate</em> from Platform Patterns</h3>
  <ul>
    <li>
      <p>
        When a UI pattern is common on other platforms or the web and is unlikely to cause discomfort or confusion.<br><em>E.g. While a Hamburger or Meatball menu is not always a native element of a platform, it has a strong presence on other common platforms and doesn’t conflict with other strong platform conventions.</em>
      </p>
    </li>
    <li>
      <p>
        When a UI pattern, appearance or metaphor doesn’t break any firm platform conventions but does enhance your UI or further other product goals<br><em>E.g. In Content UI Surfaces (Preferences, Add-ons, etc.) are not a common UI pattern on many platforms, but do fit within Firefox’s UI and are an improvement for keeping all of our UI contained to one window.</em><br><em>E.g. Using Custom UI Colors deviates from common platform colors but is unlikely to cause confusion and further reinforces our custom brand and character.</em>
      </p>
    </li>
  </ul>
</section>

<section>
  <h2>Related Platform Guidelines</h2>
  <table>
    <thead>
      <tr>
        <th><p>Platform</p></th>
        <th><p>Guideline</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p>Android</p></td>
        <td><p><a href="https://material.io/guidelines/">Material Design</a></p></td>
      </tr>
      <tr>
        <td><p>iOS</p></td>
        <td><p><a href="https://developer.apple.com/ios/human-interface-guidelines/">iOS Human Interface Guidelines</a></p></td>
      </tr>
      <tr>
        <td><p>Linux</p></td>
        <td><p><a href="https://design.ubuntu.com/apps">Ubuntu App Design Guides</a>. And others depending on distribution</p></td>
      </tr>
      <tr>
        <td><p>macOS</p></td>
        <td><p><a href="https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/">macOS Human Interface Guidelines</a></p></td>
      </tr>
      <tr>
        <td><p>Web</p></td>
        <td><p><a href="../welcome.html">Photon Design System</a></p></td>
      </tr>
      <tr>
        <td><p>Windows</p></td>
        <td><p><a href="https://developer.microsoft.com/en-us/windows/desktop/design">Windows Desktop Applications Design</a></p></td>
      </tr>
    </tbody>
  </table>
</section>
