<p>
  Desktop UI sizes (from 11px to 23px) use a line-height of <code>1.4</code>.
</p>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p class="pa3 outline outline--black-01 outline-offset--1 bg-grey-10 mb0 font-family-web body lh-14">Choose how Nightly handles the files you download from the web or the applications you use while browsing.</p>
    <% include ../global/do.html %>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="pa3 outline outline--black-01 outline-offset--1 bg-grey-10 mb0 font-family-web body lh-2">Choose how Nightly handles the files you download from the web or the applications you use while browsing.</p>
    <% include ../global/dont.html %>
  </div>
</div>
<p>
  Headings sizes (from 33 and more) use a line-height of <code>1.25</code>.
</p>
<div class="cf nr2 nl2 mb3">
  <div class="fl-ns w-50-ns ph2">
    <p class="pa3 outline outline--black-01 outline-offset--1 bg-grey-10 mb0 font-family-web headline lh-125">Automatically delete data (cookies, local storage, etc.) on all sites you visit except those on your whitelist</p>
    <% include ../global/do.html %>
  </div>
  <div class="fl-ns w-50-ns ph2">
    <p class="pa3 outline outline--black-01 outline-offset--1 bg-grey-10 mb0 font-family-web headline lh-2">Automatically delete data (cookies, local storage, etc.) on all sites you visit except those on your whitelist</p>
    <% include ../global/dont.html %>
  </div>
</div>