<div class="flex flex-wrap" data-tabs>
  <input class="dn" type="radio" name="ptabs" id="light-theme" checked="checked">
  <label class="pa2 order-1-m db mb3" for="light-theme">
    Light Theme
  </label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./typography-light-theme.html %> 
  </div>

  <input class="dn" type="radio" name="ptabs" id="dark-theme">
  <label class="pa2 order-1-m db mb3" for="dark-theme">
    Dark Theme
  </label>
  <div class="order-last w-100 dn flex-grow-1" data-tab>
    <% include ./typography-dark-theme.html %>
  </div>
</div>
