<div class="cf nr2 nl2 mb2">
    <div class="fl-l w-50-l ph2">
      <img class="w-100-ns" src="../images/typography/typography-secondary-color.svg" alt="Emphasis example">
    </div>
    <div class="fl-l w-50-l ph2">
      <table>
        <thead>
          <tr>
            <th colspan="2">Secondary color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Light Background</td>
            <td>Grey 50 <code>#737373</code></td>
          </tr>
          <tr>
            <td>Dark Background</td>
            <td>Grey 10 <code>#f9f9fa</code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>