<div class="cf mb3">
  <figure class="mb4">
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/provide-adequate-context-do.svg" alt="Positive example from the Tracking Protection section in Preferences ">
    <% include ../global/do.html %>
    <figcaption>
      Pair Firefox-created terms (e.g., Tracking Protection) with meaningful descriptions.
    </figcaption>
  </figure>
  <figure>
    <img class="db w-100-ns outline outline--black-01 outline-offset--1" src="../images/copy/writing-for-the-user/provide-adequate-context-dont.svg" alt="Negative example from the Tracking Protection section in Preferences">
    <% include ../global/dont.html %>
    <figcaption>
      Don’t use Firefox-created terms as a substitute for clearly explaining options.
    </figcaption>
  </figure>
</div>