/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Photon 2019 Colors SCSS Variables v3.3.1 */

$pink5: #FFDEF0;
$pink10: #FFB4DB;
$pink20: #FF8AC5;
$pink30: #FF6BBA;
$pink40: #FF4AA2;
$pink50: #FF298A;
$pink60: #E31587;
$pink70: #C60084;
$pink80: #7F145B;
$pink90: #50134B;

$red5: #FFDFE7;
$red10: #FFBDC5;
$red20: #FF9AA2;
$red30: #FF848B;
$red40: #FF6A75;
$red50: #FF4F5E;
$red60: #F22850;
$red70: #C50042;
$red80: #810220;
$red90: #440306;

$orange5: #FFF4DE;
$orange10: #FFD5B2;
$orange20: #FFB587;
$orange30: #FFA266;
$orange40: #FF8A50;
$orange50: #FF7139;
$orange60: #E25920;
$orange70: #CC3D00;
$orange80: #9E280B;
$orange90: #7C1504;

$yellow5: #FFFFCC;
$yellow10: #FFFF98;
$yellow20: #FFEA80;
$yellow30: #FFD567;
$yellow40: #FFBD4F;
$yellow50: #FFA436;
$yellow60: #E27F2E;
$yellow70: #C45A27;
$yellow80: #A7341F;
$yellow90: #960E18;

$green5: #E3FFF3;
$green10: #D1FFEE;
$green20: #B3FFE3;
$green30: #B3FFE3;
$green40: #54FFBD;
$green50: #3FE1B0;
$green60: #2AC3A2;
$green70: #008787;
$green80: #005E5E;
$green90: #08403F;

$blue5: #AAF2FF;
$blue10: #80EBFF;
$blue20: #00DDFF;
$blue30: #00B3F4;
$blue40: #0090ED;
$blue50: #0060DF;
$blue60: #0250BB;
$blue70: #054096;
$blue80: #073072;
$blue90: #09204D;

$violet5: #E7DFFF;
$violet10: #D9BFFF;
$violet20: #CB9EFF;
$violet30: #C689FF;
$violet40: #AB71FF;
$violet50: #9059FF;
$violet60: #7542E5;
$violet70: #592ACB;
$violet80: #45278D;
$violet90: #321C64;

$purple5: #F7E2FF;
$purple10: #F6B8FF;
$purple20: #F68FFF;
$purple30: #F770FF;
$purple40: #D74CF0;
$purple50: #B833E1;
$purple60: #952BB9;
$purple70: #722291;
$purple80: #4E1A69;
$purple90: #2B1141;


$lightgrey5:#FBFBFE;
$lightgrey10: #F9F9FB;
$lightgrey20: #F0F0F4;
$lightgrey30: #e0e0e6;
$lightgrey40: #cfcfd8;
$lightgrey50: #bfbfc9;
$lightgrey60: #afafbb;
$lightgrey70: #9f9fad;
$lightgrey80: #8f8f9d;
$lightgrey90: #80808e;

$darlgrey5:#5b5b66;
$darkgrey10: #52525e;
$darkgrey20: #4a4a55;
$darkgrey30: #42414d;
$darkgrey40: #3a3944;
$darkgrey50: #32313c;
$darkgrey60: #2b2a33;
$darkgrey70: #23222b;
$darkgrey80: #1c1b22;
$darkgrey90: #15141a;

$colgrey5:#f9f9fa;
$coolgrey10: #ededf0;
$coolgrey20: #cdcdd4;
$coolgrey30: #b1b1bc;
$coolgrey40: #9595a3;
$coolgrey50: #7a7a8b;
$coolgrey60: #5e5e72;
$coolgrey70: #42425a;
$coolgrey80: #1f2033;
$coolgrey90: #141422;

$ink5: #393473
$ink10: #342f6c;
$ink20: #312a65;
$ink30: #2e255d;
$ink40: #2b2156;
$ink50: #291d4f;
$ink60: #271948;
$ink70: #241541;
$ink80: #20123a;
$ink90: #1d1133;

$white100: #ffffff;

