html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-family: "Fira Sans", sans-serif;
  background: #eee;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
}
