<header>
  <h1>
    Message Bars
  </h1>
  <p>
     Message bars communicate specific information to a user. Display message bars at the top of the page or the section they apply to.
  </p>
</header>

<section>
  <h2>
    Usage
  </h2>
  <p>
     Message bars contain concise and scannable text that is directly related to an action that has been completed or is about to be performed. They may include a single message or multiple messages. They should not be used to <strong>Dismiss</strong> or <strong>Cancel</strong>. It is <strong>required</strong> to have an icon precede the message(s).
  </p>
  <p>
    Common use cases for message bars include: success messages, updates, warnings, problems and errors.
  </p>
</section>

<section>
  <h2>
    Types
  </h2>
  <h3>
    Generic
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/generic.svg" alt="generic message bar example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Convey general information or actions that aren’t critical. Update users about a change or give them advice. Include lower priority information and should be dismissible.
      </p>
    </div>
  </div>
   <h3>
    Success
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/success.svg" alt="success message bar example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
       Inform users when actions are successfully completed.
      </p>
    </div>
  </div>
  <h3>
    Warning
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
     <img class="w-100-ns" src="../images/message-bars/warning.svg" alt="warning message bar example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
       Display exceptions or information the user needs to act on.
      </p>
    </div>
  </div>
  <h3>Error</h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/error.svg" alt="error message bar example">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
       Communicate problems that must be addressed before a user can complete a task.
      </p>
    </div>
  </div>
</section>

<section>
  <h2>Style</h2>
  <% include ../includes/components/message-bars/style-tabs-structure.html %>
</section>

<section>
  <h2>Behavior</h2>
  <h3>
    Dismissible
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/ghost-btn.svg" alt="Dismissable behavior">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Unless they contain critical information, message bars should be dismissible by clicking or tapping the ghost button, placed in the top right corner.
      </p>
    </div>
  </div>
  <h3>
    Call to Action
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/mb-action-example.svg" alt="message bar in action">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        Add one or two <a href="buttons.html#micro">micro-buttons</a> to the message bar if users need to take an action after reading the message.
      </p>
      <% include ../includes/components/message-bars/behavior-tabs-structure.html %>
    </div>
  </div>
  <h3>
    Message on Multiple Lines
  </h3>
  <div class="cf nr2 nl2">
    <div class="fl-ns w-50-ns ph2">
      <img class="w-100-ns" src="../images/message-bars/mb-multilines.svg" alt="message bar in action">
    </div>
    <div class="fl-ns w-50-ns ph2">
      <p>
        It is possible for the message to wrap to multiple lines. This is especially likely on mobile, or if displayed in a small container.
      </p>
      <p>
        In this case the <a href="#icon">icon</a> and the <a href="dismissible">dismiss-button</a> remain aligned to the top.
      </p>
      <p>
        The <a href="#call-to-action">call-to-action-buttons</a> break into a new line below the message and are aligned to the start of the message.
      </p>
    </div>
  </div>
</section>
