<header>
  <h1>Capitalization</h1>
  <p>
    We use different capitalization styles for different types of content to improve scannability, organize information, and guide users to key actions.
  </p>
  <p>
    When building new Firefox products, we also align capitalization practices with platform conventions to match user expectations.
  </p>
</header>

<section>
  <h2>Capitalization Styles</h2>
  <h3>Title Case: Most Words Are Capitalized</h3>
  <% include ../includes/copy/capitalization/title-case.html %>
  <h3>Sentence Case: Most Words Are Lowercase</h3>
  <% include ../includes/copy/capitalization/sentence-case.html %>
  <h3>All Caps: Every Word Is Capitalized</h3>
  <% include ../includes/copy/capitalization/all-caps.html %>
</section>

<section>
  <h2>Platform Styles</h2>
  <% include ../includes/copy/capitalization/platform-specifics.html %>
</section>
